<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!-- Form with validation -->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 600px">
            <div class="card-content">
                <h4 class="card-title">活动参与申请审核</h4><label style="color:black">Patient information details
            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${activityPersonnelInfoVO.id}"/>
                    <div class="row">
                        <div class="input-field col s12 l12 xl12">
                            <input id="remarks" name="remarks" type="text" th:value="${activityPersonnelInfoVO.remarks}"/>
                            <label for="remarks">参与活动申请审核通过/不通过意见</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a id="failBtn"
                               class="waves-effect waves dark btn btn-primary next-step">审 核 不 通 过
                                <i class="material-icons white-text tooltipped" data-position="bottom"
                                   data-delay="50"
                                   data-tooltip="">clear</i>
                            </a>
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit" th:style="${isBtnView}"
                                    name="action">审 核 通 过（submit ）
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">


    $(function () {
        formCheck();
        initBtn();
    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 1
                },
                phonenumber: {
                    required: true,
                    minlength: 1
                },
                idcard: {
                    required: true,
                    minlength: 1
                },
                age: {
                    required: true,
                    minlength: 1
                }


            },
            messages: {
                name: {
                    required: "请输入名称",
                    minlength: "最少包含1个字符"
                },
                phonenumber: {
                    required: "请输入手机号",
                    minlength: "最少输入1个字符"
                },
                idcard: {
                    required: "请输入身份证号码",
                    minlength: "最少输入1个字符"
                },
                age: {
                    required: "请输入病人年龄",
                    minlength: "最少输入1个字符"
                }

            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero){
                    var queryString = $('#sendForm').serialize();
                    console.log("queryString is" + queryString);

                    $.ahsjajax(
                        CTX + "/api/activitypersonnelinfo/reviewSuccess.ahsj?token=" + TOKEN,
                        queryString,
                        function (msg) {
                            if (msg.success) {
                                M.toast({html: msg.message});
                                parent.grid.search();
                                dialog.parentclose();
                                return false;
                            } else {
                                M.toast({html: msg.message});
                                return false;
                            }
                        },
                        function () {
                            M.toast({html: "网络异常"});
                            return false;
                        }
                    );});
            }

        });
    }


    function initBtn() {
        $("#failBtn").click(function () {
            var id = $("#id").val();
            var remarks = $("#remarks").val();
            dialog.confirm('确定审核不通过?', function (index, layero){
                $.ahsjajax(CTX + "/api/activitypersonnelinfo/reviewError.ahsj",
                    {"id":id,
                     "remarks":remarks},
                    function (msg) {
                        if (msg.success) {
                            if (msg.success) {
                                M.toast({html: msg.message});
                                parent.grid.search();
                                dialog.parentclose();
                                return false;
                            } else {
                                M.toast({html: msg.message});
                                return false;
                            }
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                    }
                );
            });
        });
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
