<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
  <script type="text/javascript" src="/backend/admins/js/jquery-2.1.0.min.js"></script>
</head>
<body>
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>名称</th>
                  <th>描述</th>
                  <th>创建日期</th>
                  <th>操作</th>
                  <th>添加</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>超级管理员</td>
                  <td>最高权限</td>
                  <td>2018-12-06 11:00:00</td>
                  <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>1,002</td>
                   <td>普通管理员</td>
                  <td>一般权限</td>
                  <td>2018-12-06 11:00:00</td>
                  <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>会员</td>
                  <td>查看权限</td>
                  <td>2018-12-06 11:00:00</td>
                  <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
</body>
</html>
