<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
</head>
<body>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>状态</th>
            <th>创建日期</th>
            <th>操作</th>
            <th>添加</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,002</td>
            <td>amet</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,003</td>
            <td>Integer</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,003</td>
            <td>libero</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,004</td>
            <td>dapibus</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,005</td>
            <td>Nulla</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,006</td>
            <td>nibh</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,007</td>
            <td>sagittis</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,008</td>
            <td>Fusce</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,009</td>
            <td>augue</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        <tr>
            <td>1,010</td>
            <td>massa</td>
            <td>开启</td>
            <td>2018-12-06 12:45:30</td>
            <td><a href="#">编辑</a>&nbsp;<a href="#">删除</a></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
