<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="public/base_update :: html"></div>
<link th:href="@{/smartparkcore/assets/global/js/plugins/jasonday-printThis/assets/css/normalize.css}" type="text/css" rel="stylesheet" media="screen,projection">
<link th:href="@{/smartparkcore/assets/global/js/plugins/jasonday-printThis/assets/css/skeleton.css}" type="text/css" rel="stylesheet" media="screen,projection">
<!--<link th:href="@{/smartparkcore/assets/global/css/print.min.css}" type="text/css" rel="stylesheet" media="screen,projection">-->
</head>