<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="安徽商角软件科技有限公司技术支持，联系电话18555338533">
    <meta name="keywords" content="">
    <script th:inline="javascript">
        var TOKEN = [[${token}]];
        var CTX = "/smartparkcore";
    </script>
    <!--禁用右键调试-->
    <script>
        function stop() {
            return false;
        }
        document.oncontextmenu = stop;
    </script>
    <link rel="apple-touch-icon" th:href="@{/smartparkcore/assets/app-assets/images/favicon/apple-touch-icon-152x152.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/smartparkcore/assets/app-assets/images/favicon/favicon-32x32.png}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/vendors/vendors.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/vendors/flag-icon/css/flag-icon.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/vendors/fullcalendar/css/fullcalendar.min.css}">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/css/themes/vertical-menu-nav-dark-template/materialize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/css/themes/vertical-menu-nav-dark-template/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/css/pages/app-calendar.css}">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/css/custom/custom.css}">
    

    <link th:href="@{/smartparkcore/assets/global/js/plugins/jquery-multi-select/css/multi-select.css}" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" type="text/css" th:href="@{/smartparkcore/assets/app-assets/vendors/sweetalert/sweetalert.css}">

</head>