<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.smartparkcore.dao.ReserveSiteMapper">
    <resultMap id="BaseResultMap" type="com.ahsj.smartparkcore.entity.po.ReserveSite">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="site_id" property="siteId" jdbcType="BIGINT"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="is_reserve" property="isReserve" jdbcType="INTEGER"/>
        <result column="strat_time" property="stratTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="is_pay" property="isPay" jdbcType="INTEGER"/>
        <result column="is_cancel" property="isCancel" jdbcType="INTEGER"/>
        <result column="is_refund" property="isRefund" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT"/>
        <result column="is_audit" property="isAudit" jdbcType="INTEGER"/>
        <result column="mode_payment" property="modePayment" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, site_id, price, create_user_id, is_reserve, strat_time, end_time, is_pay, is_cancel, 
    is_refund, name, phone_number, create_date, update_date, update_user_id, is_audit, 
    mode_payment
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from reserve_site
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reserve_site
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ahsj.smartparkcore.entity.po.ReserveSite">
    insert into reserve_site (id, site_id, price, 
      create_user_id, is_reserve, strat_time, 
      end_time, is_pay, is_cancel, 
      is_refund, name, phone_number, 
      create_date, update_date, update_user_id, 
      is_audit, mode_payment)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{price,jdbcType=DECIMAL}, 
      #{createUserId,jdbcType=BIGINT}, #{isReserve,jdbcType=INTEGER}, #{stratTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{isPay,jdbcType=INTEGER}, #{isCancel,jdbcType=INTEGER}, 
      #{isRefund,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, 
      #{isAudit,jdbcType=INTEGER}, #{modePayment,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.ahsj.smartparkcore.entity.po.ReserveSite">
        insert into reserve_site
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="siteId != null">
                site_id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="isReserve != null">
                is_reserve,
            </if>
            <if test="stratTime != null">
                strat_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="isPay != null">
                is_pay,
            </if>
            <if test="isCancel != null">
                is_cancel,
            </if>
            <if test="isRefund != null">
                is_refund,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="isAudit != null">
                is_audit,
            </if>
            <if test="modePayment != null">
                mode_payment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="siteId != null">
                #{siteId,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="isReserve != null">
                #{isReserve,jdbcType=INTEGER},
            </if>
            <if test="stratTime != null">
                #{stratTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isPay != null">
                #{isPay,jdbcType=INTEGER},
            </if>
            <if test="isCancel != null">
                #{isCancel,jdbcType=INTEGER},
            </if>
            <if test="isRefund != null">
                #{isRefund,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="isAudit != null">
                #{isAudit,jdbcType=INTEGER},
            </if>
            <if test="modePayment != null">
                #{modePayment,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.smartparkcore.entity.po.ReserveSite">
        update reserve_site
        <set>
            <if test="siteId != null">
                site_id = #{siteId,jdbcType=BIGINT},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="isReserve != null">
                is_reserve = #{isReserve,jdbcType=INTEGER},
            </if>
            <if test="stratTime != null">
                strat_time = #{stratTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isPay != null">
                is_pay = #{isPay,jdbcType=INTEGER},
            </if>
            <if test="isCancel != null">
                is_cancel = #{isCancel,jdbcType=INTEGER},
            </if>
            <if test="isRefund != null">
                is_refund = #{isRefund,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="isAudit != null">
                is_audit = #{isAudit,jdbcType=INTEGER},
            </if>
            <if test="modePayment != null">
                mode_payment = #{modePayment,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ahsj.smartparkcore.entity.po.ReserveSite">
    update reserve_site
    set site_id = #{siteId,jdbcType=BIGINT},
      price = #{price,jdbcType=DECIMAL},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      is_reserve = #{isReserve,jdbcType=INTEGER},
      strat_time = #{stratTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_pay = #{isPay,jdbcType=INTEGER},
      is_cancel = #{isCancel,jdbcType=INTEGER},
      is_refund = #{isRefund,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      is_audit = #{isAudit,jdbcType=INTEGER},
      mode_payment = #{modePayment,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectTime" parameterType="com.ahsj.smartparkcore.entity.dto.ReserveSiteDTO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reserve_site
        where is_cancel =2 and is_refund = 2 and site_id = #{siteId,jdbcType=BIGINT}
        and not ( strat_time &gt;= #{endTime,jdbcType=TIMESTAMP} or end_time &lt;= #{stratTime,jdbcType=TIMESTAMP});
    </select>

    <select id="list" parameterType="core.entity.PageBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reserve_site
        where 1=1
        <if test="parameter.name != null and parameter.name != ''">
            and name like concat('%', #{parameter.name,jdbcType=VARCHAR},'%')
        </if>

        <if test="parameter.orders != null and parameter.orders != ''">
            order by ${parameter.orders}
        </if>


    </select>


</mapper>