<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">日常病程记录表修改(Discharge information audit update)</h4><label style="color:black">
            </label>
                <div class="input-field col s4 l4 xl4">
                    <input id="loginName" readonly type="text" th:value=" ${loginName}"/>
                    <label for="loginName">操 作 人(operator)<span style="font-size: 12px">(Operator
)</span>：</label>
                </div>
                <input id="number" name="number" type="hidden" th:value="${number}">
                <div class="row">
                    <div class="input-field col s3 l3 xl3">
                        <input id="name" name="name" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label class="active" for="name">姓名<span style="font-size: 12px">(name)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="age" name="age" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="age">年龄<span style="font-size: 12px">(age)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="sex" name="sex" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="sex">性别<span style="font-size: 12px">(sex)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="department" name="department" type="text"
                               data-error=".errorTxt3">
                        <div class="errorTxt3"></div>
                        <label class="active" for="department">科室<span
                                style="font-size: 12px">(department)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="ward" name="ward" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="ward">病房<span style="font-size: 12px">(ward)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="bed" name="bed" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="bed">床号<span style="font-size: 12px">(bed)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="hospital" name="hospital" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="hospital">住院编号<span
                                style="font-size: 12px">(The hospital number)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="createDate" name="createDate" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="createDate">入院日期<span style="font-size: 12px">(admission date)</span></label>
                    </div>
                    <form class="col s12" id="sendForm" action="#">
                        <div class="input-field col s3 l3 xl3">
                            <input id="symptom" name="symptom" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="symptom">症状<span
                                    style="font-size: 12px">(symptom)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="emotion" name="emotion" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="emotion">情绪<span style="font-size: 12px">(emotion)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="psychology" name="psychology" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label for="psychology" class="active">心理状态<span style="font-size: 12px">(psychological states
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="diet" name="diet" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="diet">饮食<span style="font-size: 12px">(bite and sup)
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="sleep" name="sleep" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="sleep">睡眠<span style="font-size: 12px">(sleep
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="relieveOneself" name="relieveOneself" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="relieveOneself">大小便<span style="font-size: 12px">(relieve oneself
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="lesionChange" name="lesionChange" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="lesionChange">病情变化及原因<span
                                    style="font-size: 12px">(Changes and causes of the disease
)</span></label>
                        </div>

                        <div class="input-field col s12 l12 xl12">
                            <input id="symptomChange" name="symptomChange" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="symptomChange">症状变化及原因<span style="font-size: 12px">(Symptom changes and causes
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="signChange" name="signChange" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="signChange">体征的变化及原因<span style="font-size: 12px">(Changes and causes of physical signs)
</span></label>
                        </div>

                        <div class="input-field col s12 l12 xl12">
                            <input id="diagnose" name="diagnose" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="diagnose">诊断及依据<span style="font-size: 12px">(Diagnosis and basis
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="examine" name="examine" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="examine">辅助检查结果<span
                                    style="font-size: 12px">(Auxiliary examination results
)</span></label>
                        </div>

                        <div class="input-field col s12 l12 xl12">
                            <input id="clinicImportant" name="clinicImportant" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="clinicImportant">临床要点<span style="font-size: 12px">(Key points of clinical
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="clinic" name="clinic" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="clinic">临床意义<span style="font-size: 12px">(clinical significance)
</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="measure" name="measure" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="measure">诊疗措施<span style="font-size: 12px">(Diagnosis and treatment measures
)</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="measureResult" name="measureResult" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="measureResult">诊疗措施效果<span
                                    style="font-size: 12px">(Effect of diagnosis and treatment measures
)</span></label>
                        </div>

                        <div class="input-field col s12 l12 xl12">
                            <input id="evolve" name="evolve" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="evolve">诊治工作进展情况<span style="font-size: 12px">(Progress of diagnosis and treatment)
</span></label>
                        </div>
                        <div class="input-field col s12 l12 xl12">
                            <div class="input-field col s12 l12 xl12">
                                <input id="detail" name="detail" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="detail">诊疗操作的详细过程<span
                                        style="font-size: 12px">(Detailed procedures for diagnosis and treatment
)</span></label>
                            </div>

                            <div class="input-field col s12 l12 xl12">
                                <input id="indication" name="indication" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="indication">使用抗生素的指征<span style="font-size: 12px">(Indications for use of antibiotics
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="kind" name="kind" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="kind">使用抗生素的种类<span style="font-size: 12px">(The types of antibiotics used)
</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="dosage" name="dosage" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="dosage">使用抗生素的用量<span style="font-size: 12px">(The amount of antibiotics to use
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="prescriptionUpdate" name="prescriptionUpdate" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="prescriptionUpdate">重要医嘱修改<span
                                        style="font-size: 12px">(Revision of important medical orders
)</span></label>
                            </div>

                            <div class="input-field col s12 l12 xl12">
                                <input id="updateReason" name="updateReason" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="updateReason">重要医嘱修改理由<span style="font-size: 12px">(Reasons for revision of important medical orders
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="circulation" name="circulation" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="circulation">输血或使用血液情况<span style="font-size: 12px">(Transfusion or use of blood)
</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="circulationIndication" name="circulationIndication" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="circulationIndication">输血指征<span style="font-size: 12px">(Blood transfusion indications
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="circulationKind" name="circulationKind" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="circulationKind">输血种类<span
                                        style="font-size: 12px">(Types of blood transfusion
)</span></label>
                            </div>

                            <div class="input-field col s12 l12 xl12">
                                <input id="circulationAmount" name="circulationAmount" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="circulationAmount">输血量<span style="font-size: 12px">(blood transfusion volume
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="bloodTransfusionReflect" name="bloodTransfusionReflect" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="bloodTransfusionReflect">有无输血反映<span style="font-size: 12px">(Blood transfusion response)
</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="wardRound" name="wardRound" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="wardRound">医师查房意见<span style="font-size: 12px">(Physician rounds
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="consultation" name="consultation" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="consultation">会诊意见<span
                                        style="font-size: 12px">(Consultation opinion)
)</span></label>
                            </div>

                            <div class="input-field col s12 l12 xl12">
                                <input id="executiveCondition" name="executiveCondition" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="executiveCondition">执行情况<span style="font-size: 12px">(executive condition
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="importantThing" name="importantThing" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="importantThing">告知的重要事项<span style="font-size: 12px">(Important information
)</span></label>
                            </div>

                            <div class="input-field col s12 l12 xl12">
                                <input id="sign" name="sign" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="sign">患方签字人姓名<span style="font-size: 12px">(Name of the contracting party )
</span></label>
                            </div>
                            <div class="col  input-field s2 m2 l2 xl2">
                                <input id="recordDate" name="recordDate" type="text" class="datepicker" />
                                <label for="recordDate">记录时间<span style="font-size: 12px">(record time)</span></label>
                            </div>
                            <input id="hisHospitalManageId" name="hisHospitalManageId" type="hidden">
                            <input id="id" name="id" type="hidden" th:value="${id}">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button id="send_btn" class="btn cyan waves-effect waves-light right" type="button"
                                name="action">提 交(submit
                            )
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        getHospital();
        getDailyCourse();
    });

    function getHospital() {
        var number = $("#number").val();
        if (!isNullOrEmpty(number)) {
            //获取基本信息
            $.ahsjajax(
                CTX + "/api/hishospitalmanage/getHospital/index.ahsj",
                {"number": number},
                function (data) {
                    if (!isNullOrEmpty(data)) {
                        changeInputValue("name", data.patientName);
                        changeInputValue("age", data.age);
                        changeInputValue("createDate", data.createDate);
                        changeInputValue("hospital", data.number);
                        changeInputValue("bed", data.bedsNumber);
                        changeInputValue("ward", data.wardsNumber);
                        changeInputValue("sex", data.sexName);
                        changeInputValue("department", data.departmentIdName);
                        changeInputValue("hisHospitalManageId", data.id);
                        M.updateTextFields();//重新初始化页面上的内容
                        return true;
                    } else {
                        dialog.warn(number + "号不存在！");
                        return false;
                    }
                },
                function () {
                    Materialize.toast("网络异常");
                    return false;
                }
            );
        }
    }


    function  getDailyCourse() {
        var id = $("#id").val();
        if (!isNullOrEmpty(number)) {
            //获取基本信息
            $.ahsjajax(
                CTX + "/api/hisDailyCourse/getDailyCourse/index.ahsj",
                {"id": id},
                function (data) {
                    if (!isNullOrEmpty(data.id)) {
                        changeInputValue("symptom", data.symptom);
                        changeInputValue("emotion", data.emotion);
                        changeInputValue("psychology", data.psychology);
                        changeInputValue("diet", data.diet);
                        changeInputValue("sleep", data.sleep);
                        changeInputValue("relieveOneself", data.relieveOneself);
                        changeInputValue("lesionChange", data.lesionChange);
                        changeInputValue("symptomChange", data.symptomChange);
                        changeInputValue("signChange", data.signChange);
                        changeInputValue("diagnose", data.diagnose);
                        changeInputValue("examine", data.examine);
                        changeInputValue("clinicImportant", data.clinicImportant);
                        changeInputValue("clinic", data.clinic);
                        changeInputValue("measure", data.measure);
                        changeInputValue("measureResult", data.measureResult);
                        changeInputValue("evolve", data.evolve);

                        changeInputValue("detail", data.detail);
                        changeInputValue("indication", data.indication);
                        changeInputValue("kind", data.kind);
                        changeInputValue("dosage", data.dosage);
                        changeInputValue("prescriptionUpdate", data.prescriptionUpdate);
                        changeInputValue("prescriptionUpdateId", data.prescriptionUpdateId);
                        changeInputValue("updateReason", data.updateReason);
                        changeInputValue("circulation", data.circulation);
                        changeInputValue("circulationIndication", data.circulationIndication);

                        changeInputValue("circulationKind", data.circulationKind);
                        changeInputValue("circulationAmount", data.circulationAmount);
                        changeInputValue("bloodTransfusionReflect", data.bloodTransfusionReflect);
                        changeInputValue("wardRound", data.wardRound);
                        changeInputValue("consultation", data.consultation);
                        changeInputValue("executiveCondition", data.executiveCondition);
                        changeInputValue("importantThing", data.importantThing);
                        changeInputValue("recordDate", data.recordDate);
                        changeInputValue("sign", data.sign);

                        M.updateTextFields();//重新初始化页面上的内容
                        return true;
                    } else {
                        return true;
                    }
                },
                function () {
                    Materialize.toast("网络异常");
                    return false;
                }
            );
        }
    }
    $('#send_btn').click(function () {
        dialog.confirm('确定提交吗?', function (index, layero) {
            var hisDailyCourse = $("#sendForm").serialize();
            $.ahsjajax(CTX + "/api/hisDailyCourse/saveOrUpdate/index.ahsj",
                hisDailyCourse,
                function (msg) {
                    if (msg.success) {
                        dialog.warn(msg.message)
                        swal.close();
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    } else {
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    }
                },
                function (data) {
                    M.toast({
                        html: "网络异常", completeCallback: function () {
                        }
                    });
                }
            );
        });
    })
    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>
</body>
</html>
