<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!-- Form with validation -->
<div class="row">
    <div class="col s12 m12 l12 xl12">
        <div id="validation" class="card card card-default scrollspy" style="overflow: hidden;">
            <div class="card-content">
                <h4 class="card-title">审核信息查看</h4><label style="color:black">Review information view</label>
                <form class="col s12" id="sendForm" action="#">
                    <div class="input-field col s4 l4 xl4">
                        <input id="name" name="patientName" type="text" th:value="${hisPatientInfo.name}"
                               th:readonly="true"/>
                        <label for="name">姓 名<span style="font-size: 12px">(name)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="age" name="age" type="number" th:value="${hisPatientInfo.age}"
                               th:readonly="true"/>
                        <label for="age">年 龄<span style="font-size: 12px">(age)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input  name="sex" id="sex" type="text" typeKey="sex"
                                th:value="${hisPatientInfo.sexName}"
                                th:readonly="true"/>
                        <label for="sex">性别<span style="font-size: 12px">(sex)</span></label>
                    </div>
                    <div class="input-field col s6 l6 xl6">
                        <input id="idcard" name="idcard" type="text" th:value="${hisPatientInfo.idcard}"
                               th:readonly="true"/>
                        <label for="idcard">身份证号<span style="font-size: 12px">(id card)</span></label>
                    </div>
                    <div class="input-field col s6 l6 xl6">
                        <input id="phoneNumber" name="phoneNumber" type="text" th:value="${hisPatientInfo.phonenumber}"
                               th:readonly="true"/>
                        <label for="phoneNumber">手机号<span style="font-size: 12px">(Phone Number)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="number2" name="number" type="text" th:value="${hisHosptalregist.number}"
                               th:readonly="true"/>
                        <label for="number2">住院编号<span style="font-size: 12px">(Hospital number)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input  name="departmentName" id="departmentId" type="text" typeKey="2"
                                th:value="${hisHosptalregist.departmentName}"
                                th:readonly="true"/>
                        <label for="departmentId">科 室<span style="font-size: 12px">(Department)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input  name="name" id="name1" type="text"
                                th:value="${hisDoctorInfo.name}"
                                th:readonly="true"/>
                        <label>医 生<span style="font-size: 12px">(Doctor)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input  name="careLevel" id="careLevel" type="text"   typeKey="care_level"
                                th:value="${hisHosptalregist.careLevel}"
                                th:readonly="true"/>
                        <label for="careLevel">护理级别<span style="font-size: 12px">(Care level)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4" th:if="${hisHosptalregist.nurseId != 0}">
                        <input  name="name" id="nurseName" type="text"
                                th:value="${hisNurse.name}"
                                th:readonly="true"/>
                        <label for="nurseName">护士<span style="font-size: 12px">(Nursing)</span></label>
                    </div>
                    <!--<div class="input-field col s4 l4 xl4" th:if="${hisHosptalregist.wardId != 0}">
                        <input  name="number" id="wardName" type="text"
                                th:value="${hisWard.number}"
                                th:readonly="true"/>
                        <label for="wardName">病房编号<span style="font-size: 12px">(Ward number)</span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4" th:if="${hisHosptalregist.bedId !=0}">
                        <input  name="number" id="bedName" type="text"
                                th:value="${hisBed.number}"
                                th:readonly="true"/>
                        <label for="bedName">病床编号<span style="font-size: 12px">(Bed number)</span></label>
                    </div>-->
                    <div class="input-field col s4 l4 xl4">
                        <input id="diseaseRegion" name="diseaseRegion" type="text" th:value="${hisHospitalManage.diseaseRegion}" th:readonly="true"/>
                        <label for="diseaseRegion">病区<span style="font-size: 12px">(disease Region)</span></label>
                    </div>
                    <div class="input-field col s12 l12 xl12">
                        <input id="outpatientDiagnosis" name="outpatientDiagnosis" type="text" th:value="${hisHosptalregist.outpatientDiagnosis}"
                               th:readonly="true"/>
                        <label for="outpatientDiagnosis">门诊诊断<span style="font-size: 12px">(Outpatient diagnosis)</span></label>
                    </div>
                    <div class="input-field col s12 l12 xl12">
                        <input id="inpatientDiagnosis" name="inpatientDiagnosis" type="text" th:value="${hisHosptalregist.inpatientDiagnosis}"
                               th:readonly="true"/>
                        <label for="inpatientDiagnosis">住院诊断<span style="font-size: 12px">(Inpatient diagnosis)</span></label>
                    </div>
                    <div class="input-field col s12 l12 xl12">
                        <input id="remark" name="remark" type="text" th:value="${hisHosptalregist.remark}"
                               th:readonly="true"/>
                        <label for="remark">备 注<span style="font-size: 12px">(remark)</span></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">



</script>

</body>

</html>
