<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://mybatis.org/schema/mybatis-mapper">
<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!-- Form with validation -->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 400px">
            <div class="card-content">
                <h4 class="card-title">挂号信息</h4><label style="color:black">Registration information
            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${registeredtype.id}">
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="registerId" name="registerId" type="text" th:value="${registeredtype.registerId}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="registerId">挂号编号<span style="font-size: 12px">(Registered number
)</span></label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="money" name="money" type="number" th:value="${registeredtype.money}">
                            <div class="errorTxt3"></div>
                            <label for="money">费 用<span style="font-size: 12px">(price)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="orgId" id="orgId" type="depart" typeKey="2" departKbn="1" th:value="${registeredtype.orgId}">
                            </select>
                            <label for="orgId">科 室<span style="font-size: 12px">(Department
)</span></label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <!--<input id="moneyType" name="moneyType" type="text" th:value="${registeredtype.moneyType}">-->
                            <select ahsj:select type="code" typeKey="pay_type" id="moneyType" name="moneyType" th:value="${registeredtype.moneyType}">
                            </select>
                            <label for="moneyType">费用类别<span style="font-size: 12px">(Cost Category
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select type="code" typeKey="department_type" id="typeId" name="typeId" th:value="${registeredtype.typeId}">
                            </select>
                            <label for="typeId">挂号种类<span style="font-size: 12px">(Registration type
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select type="code" typeKey="scheduling_type" id="timeType" name="timeType" th:value="${registeredtype.timeType}">
                            </select>
                            <label for="timeType">时间<span style="font-size: 12px">(time
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提 交（submit
                                ）
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">

    $(function () {
        formCheck();
    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {
                registerId: {
                    required: true,
                    minlength: 1
                },
                orgId: {
                    required: true,
                    minlength: 1
                },
                money:{
                    required:true,
                    minlength:1
                }
            },
            messages: {
                registerId: {
                    required: "请输入名称",
                    minlength: "最少包含1个字符"
                },
                orgId: {
                    required: "请输入手机号",
                    minlength: "最少输入1个字符"
                },
                money:{
                    required:"请输入费用",
                    minlength:"最少输入1个字符"
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero){
                var queryString = $('#sendForm').serialize();
                console.log("queryString is" + queryString);
                $.ahsjajax(
                    CTX + "/api/registeredtype/saveOrUpdate.ahsj?token=" + TOKEN,
                    queryString,
                    function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            parent.grid.reset();
                            dialog.parentclose();
                            return true;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                );});
            }

        });
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
