<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<!-- Form with validation -->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">角色信息添加</h4>
                <label style="color:black">/label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${role.id}">
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="companyId" name="companyId" type="text" th:value="${role.companyId}"/>
                            <label for="companyId">组 织 机 构<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="roleName" name="roleName" type="text" th:value="${role.roleName}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="roleName">角 色 名 称<span style="font-size: 12px"></span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="remark" name="remark" type="text" length="300" th:value="${role.remark}"/>
                            <label for="remark">备 注<span style="font-size: 12px"></span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提交
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>

<script th:inline="javascript">
    $(function () {
        formCheck();

    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {
                roleName: {
                    required: true,
                    minlength: 2
                },

            },
            messages: {
                roleName: {
                    required: "请输入角色名称",
                    minlength: "最少包含2个字符"
                },

            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero){
                var queryString = $('#sendForm').serialize();
                console.log("queryString is" + queryString);
                $.ahsjajax(
                    CTX + "/api/role/saveOrUpdate.ahsj",
                    queryString,
                    function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            parent.grid.search();
                            dialog.parentclose();
                            return false;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                );});
            }

        });
    }
    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
