<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN: Footer-->


<nav>
    <div class="nav-wrapper" style="
height:109px;background:rgba(255,255,255,1);position: relative;">
        <ul class="right hide-on-med-and-down " style="position: relative;
    left: -80px;
    top: 26px;">
            <li><a href="#" style="
height:25px;
font-size:18px;
font-family:PingFangSC-Medium,PingFang SC;
font-weight:500;
color:rgba(109,109,109,1);
line-height:25px;
letter-spacing:1px;">关于我们</a></li>
            <li><a href="#" style="
height:25px;
font-size:18px;
font-family:PingFangSC-Medium,PingFang SC;
font-weight:500;
color:rgba(109,109,109,1);
line-height:25px;
letter-spacing:1px;">组织架构</a></li>
            <li><a href="#" style="
height:25px;
font-size:18px;
font-family:PingFangSC-Medium,PingFang SC;
font-weight:500;
color:rgba(109,109,109,1);
line-height:25px;
letter-spacing:1px;">合作关系</a></li>
            <li><a href="#" style="
height:25px;
font-size:18px;
font-family:PingFangSC-Medium,PingFang SC;
font-weight:500;
color:rgba(109,109,109,1);
line-height:25px;
letter-spacing:1px;">联系我们</a></li>
        </ul>
    </div>
</nav>

<footer class="page-footer footer footer-static footer-dark gradient-45deg-purple-deep-orange gradient-shadow navbar-border navbar-shadow"
        style="margin-top: 47px">
    <div class="footer-copyright">
        <div class="container"><span>&copy; 2019          <a
                href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">安徽商角软件科技有限公司</a> 产权所有</span><span
                class="right hide-on-small-only">技术支持 <a href="http://www.anhuishangjue.com/">安徽商角软件科技有限公司</a></span>
        </div>
    </div>
</footer>
