<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN: Footer-->
<div th:replace="public/base_list_script :: html"></div>
<style>
    .navigation1 li{
        float: left;
        padding: 5px 20px;
        font-family: 微软雅黑;
        font-size: 18px;
        font-weight: 500;
    }
    #bor{
        height:1px;
        background-color:rgba(0, 0, 0, .1);
        box-shadow: 0px 1px 2px #888888;
        margin-top: 70px;
    }

</style>
    <div style="width: 1903px">
        <div id="bor"></div>
        <div style="float: right;margin-right: 125px">
            <ul class="navigation1" style="margin-top: 40px;margin-bottom: 100px;">
                <li ><a href="#" style="color: #888888">关于我们</a></li>
                <li ><a href="#" style="color: #888888">组织架构</a></li>
                <li ><a href="#" style="color: #888888">合作关系</a></li>
                <li ><a href="#" style="color: #888888">联系我们</a></li>
            </ul>
        </div>
    </div>
    <script>
        $(function () {
            $(".navigation li").mouseover(function () {
                $(".navigation li").css("background-color","");
                $(this).css("background-color","rgba(0, 0, 0, .1)")
            })
            $(".navigation li").mouseout(function () {
                $(this).css("background-color","")
            })
        })
    </script>


