<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_list :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6 breadcrumbs-left">
                    <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">DataTable</h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Table</a>
                        </li>
                        <li class="breadcrumb-item active">DataTable
                        </li>
                    </ol>
                </div>
                <div class="col s2 m6 l6"><a
                        class="btn btn-floating dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                        href="#!" data-target="dropdown1"><i class="material-icons">expand_more </i><i
                        class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="dropdown1" tabindex="0">
                        <li tabindex="0"><a class="grey-text text-darken-2"
                                            href="user-profile-page.html">Profile<span
                                class="new badge red">2</span></a></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a>
                        </li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 x12 l12 xl12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div class="card-content">
                        <form id="searchForm" class="row" action="">
                            <div class="row">

                                <div class="col input-field s4 m4 l4">
                                    <input id="accessName" name="accessName" type="text"/>
                                    <label for="accessName">姓名<span style="font-size: 12px"></span></label>
                                </div>

                                <div class="col input-field s4 m4 l4">
                                    <input id="accessIdcard" name="accessIdcard" type="text"/>
                                    <label for="accessIdcard">身份证号<span style="font-size: 12px"></span></label>
                                </div>
                                <div class="col input-field s4 m4 l4">
                                    <input id="accessPhonenumber" name="accessPhonenumber" type="text"/>
                                    <label for="accessPhonenumber">手机号<span style="font-size: 12px"></span></label>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2 xl2 offset-l1">
                            <a class="waves-effect waves-light btn" id="searchBtn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="搜索">search</i></a>
                            <a id="resetBtn" class="waves-effect waves-light btn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="重置">youtube_searched_for</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 x12 l12 xl12">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">操作台
                            </h4><label style="color:black">Console
                        </label>
                            <div class="row">
                                <div class="col s4 m4 l4 xl4 offset-xl8">
                                    <a id="createBtn" class="btn waves-effect waves-light red"><i
                                            class="material-icons  white-text tooltipped " data-position="bottom"
                                            data-delay="50" data-tooltip="增加新的项目信息">add</i></a>

                                </div>
                            </div>
                            <!--Form Advance-->
                            <div class="row">
                                <div id="refreshtable" class="col l12 m12 l12 xl12">
                                    <table id="data-table-simple" class="display">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="public/base_list_script :: html"></div>

<script type="text/javascript">
    var grid = new Datatable();
    $(document).ready(function () {
        initBtn();
        initTable();


    });

    function initTable() {
        grid.init({
            src: $("#data-table-simple"),
            onSuccess: function (grid) {
            },
            onError: function (grid) {
            },
            onDataLoad: function (grid) {
            },
            loadingMessage: 'Loading...',
            dataTable: {
                "ajax": {
                    "url": CTX + "/api/accessinfo/list.ahsj" // ajax source
                },
                "columns": [
                    {
                        "title": "<label><input type=\"checkbox\"  id=\"checkAll\" class=\"select-all\" > <span></span></label> ",
                        "render": function (data, type, row, meta) {
                            return " <label> <input type=\"checkbox\" value=\"" + row.id + "\" class=\"select-ids\"> <span></span> </label>";
                        },
                        "width": "18px",
                        "orderable": false,
                        "className": "center-align"
                    },
                    {
                        "title": "访客姓名",
                        "data": "accessName",
                        "name": "access_name"
                    },
                    {
                        "title": "身份证号码",
                        "data": "accessIdcard",
                        "name": "access_idcard"
                    },
                   {
                        "title": "手机号码",
                        "data": "accessPhonenumber",
                        "name": "access_phonenumber"
                    },
                    {
                        "title": "访问公司",
                        "data": "enterpriseName",
                            "name": "enterprise_name"
                    }, {
                        "title": "访问时间",
                        "data": "accessTime",
                        "name": "access_time"
                    }, {
                        "title": "访问人",
                        "data": "intervieweeName",
                        "name": "interviewee_name"
                    },
                    {
                        "title": "访问理由",
                        "data": "accessReason",
                        "name": "access_reason"
                    },
                    {
                        "title": "审核状态",
                        "data": "isVerifyType",
                        "name": "is_verify"
                    },
                    {
                        "title": "操作",
                        "width": "180px",
                        "className": "centered",
                        "orderable": false,
                        "render": function (data, type, row) {
                            var rtnBtn = "";

                            //如果获取字符串，必须在参数外反转"
                            rtnBtn = rtnBtn + "<a  class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"修改\" href='javascript:;' onclick='edit(" + row.id + ");'> <i class='material-icons'>edit</i></a>" +
                                "<a  class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"设置启用\" onclick='setDisable(" + row.id + ");'><i class='material-icons'>info</i></a>  "+
                                "<a  class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"审核\" onclick='Verify(" + row.id + ");'><i class='material-icons'>input</i></a>  ";

                            // 返回自定义内容
                            return rtnBtn;
                        }
                    }
                ],
                "order": [
                    [1, 'asc']
                ],
            }
        });
    }

    function edit(id) {
        var url = CTX + "/api/accessinfo/updateAccessinfo.ahsj?token=" + TOKEN+"&id=" + id;
        dialog.show(url, "访客申请信息修改");

    }

    function deleteInit(id) {
        var ids = [];
        ids.push(id);

        dialog.confirm('确定删除?', function (index, layero) {
            $.ahsjajax(CTX + "/api/hisProject/deleteHisProject.ahsj",
                {ids: ids},
                function (msg) {
                    if (msg.success) {
                        swal.close();
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                        grid.search();
                        dialog.parentclose();

                    } else {
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    }
                },
                function (data) {
                    M.toast({
                        html: "网络异常", completeCallback: function () {
                        }
                    });
                }
            );
        });
    }

    function initBtn() {

        //新增按钮
        $("#createBtn").click(function () {
            var url = CTX +  "/api/accessinfo/addAccessinfo.ahsj?token=" + TOKEN;
            dialog.show(url, "访客申请信息新增")
        });





        $("#setDisableManyBtn").click(function () {
            var ids = grid.getSelectedRows();

            if (ids.length == 0) {
                dialog.warn("请至少选择一条数据");
                return;
            }
            setDisable(ids.join(','));
        });


        $("#deleteManyBtn").click(function () {
            var ids = grid.getSelectedRows();
            if (ids.length == 0) {
                dialog.warn("请至少选择一条数据");
                return;
            }
            deleteInit(ids.join(','));
        });





        //搜索按钮
           $('#searchBtn').click(function () {
               grid.search();
           });
           $('#resetBtn').click(function () {
               grid.reset();
           });
           $("#searchForm .row .col input[type='radio']").click(function () {
               grid.search();
           });
    }

    function setDisable(id) {
      /*  var ids = [];
        ids.push(id);*/

        dialog.confirm('确定修改状态?', function (index, layero) {
            $.ahsjajax(CTX + "/api/enterprise/update/enterpriseInfo/isEnable.ahsj",
                {id: id},
                function (msg) {
                    if (msg.success) {
                        swal.close();
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                        grid.search();
                        dialog.parentclose();
                    } else {
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    }
                },
                function (data) {
                    M.toast({
                        html: "网络异常", completeCallback: function () {
                        }
                    });
                }
            );
        });
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });


</script>
</body>
</html>

