<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!--Form Advance-->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 800px;">
            <div class="card-content">
                <h4 class="card-title">工位信息新增</h4><label style="color:black">
            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id">

                    <div class="input-field col s4 l4 xl4">
                        <input id="title" name="title" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label for="title">工位名称</label>
                    </div>
                    <div class="input-field col s4 m4 l4">
                        <div class="">
                            <select name="provinceId" id="select_1">
                                <option>选择省份</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field col s4 m4 l4">
                        <div class="">
                            <select name="cityId" id="select_2">
                                <option>选择城市</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field col s4 m4 l4">
                        <div class="">
                            <select name="areaId" id="select_3">
                                <option>选择区</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="startTime" name="startTime" type="text"  readonly
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="startTime">开始时间<span style="font-size: 12px"></span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="endTime" name="endTime" type="text" readonly
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="endTime">结束时间<span style="font-size: 12px"></span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="location" name="location" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="location">地点<span style="font-size: 12px"></span></label>
                    </div>

                    <div class="input-field col s4 l4 xl4">
                        <input id="price" name="price" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="price">价格<span style="font-size: 12px"></span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="area" name="area" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="area">面积<span style="font-size: 12px"></span></label>
                    </div>

                    <div class="input-field col s4 l4 xl4">
                        <input id="phoneNumber" name="phoneNumber" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="phoneNumber">联系电话<span style="font-size: 12px"></span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="name" name="name" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="name">联系人姓名<span style="font-size: 12px"></span></label>
                    </div>

                    <div class="input-field col s4 l4 xl4">
                        <input id="environmentalLabel" name="environmentalLabel" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="environmentalLabel">环境标识<span style="font-size: 12px"></span></label>
                    </div>
                    <div class="input-field col s4 l4 xl4">
                        <input id="description" name="description" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="description">描述<span style="font-size: 12px"></span></label>
                    </div>

                    <div class="input-field col s4 m4 l4">
                        <div class="">
                            <select name="patentId" id="patentId">
                                <option value='0'>选择父工位</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 160px">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提交
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">

    $("#endTime").bind('click', function (event) {
        timePacker($(this), event)
        M.updateTextFields();
    });
    $("#startTime").bind('click', function (event) {
        timePacker($(this), event)
        M.updateTextFields();
    });
    $(function () {
        getSelectName();
        formCheck();
        initSelect();
        // getSelectHome();

        $("#select_1").linkselect({
            url: {
                "1": "/api/region/getDataByParentId.ahsj",
                "2": "/api/region/getDataByParentId.ahsj",
                "3": "/api/region/getDataByParentId.ahsj"
            },//每一级从后端获取数据的地址
            value: {"1": -1},//每一级select的默认value,此时表示第一级选中北京,具体代表的地址看数据库，北京在本数据库中为1
            level: 3,//表示一共拥有几级联动，三级联动就写3，四级就写4，一次类推
            now: 1,//固定值，表示当前为第几级
            param: 0,//参数值，传向后端的参数，0表示获取所有的省份,因为所有省份的父ID为0
            preid: "select"//所有select的id前缀都应该是一样的，后面加上_和级别数
        });
        var select1 = $(".select2-container");
        if (select1) {
            select1.css('display', 'none');
        }

    });


    function initSelect() {
        $("#type").select2({
            minimumInputLength: 1,
            maximumInputLength: 20
        })
    }


    function formCheck() {
        $("#sendForm").validate({
            /*  rules: {
                  name: {
                      required: true,
                      minlength: 6
                  },
                  legalName: {
                      required: true,
                      minlength: 2
                  },
                  landlineNumber: {
                      required: true,
                      minlength: 7
                  }

              },
              messages: {
                  name: {
                      required: "请输入名称",
                      minlength: "最少包含6个字符"
                  },
                  legalName: {
                      required: "请输入法人姓名",
                      minlength: "最少输入2个字符"
                  },
                  landlineNumber: {
                      required: "请输入座机号码",
                      minlength: "最少输入7个字符"
                  }

              },*/
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero) {
                    var queryString = $('#sendForm').serialize();
                    console.log("queryString is" + queryString);
                    $.ahsjajax(
                        CTX + "/api/stationinfo/add/stationinfo.ahsj",
                        queryString,
                        function (msg) {
                            if (msg.success) {
                                M.toast({html: msg.message});
                                parent.grid.search();
                                dialog.parentclose();
                                return false;
                            } else {
                                M.toast({html: msg.message});
                                return false;
                            }
                        },
                        function () {
                            M.toast({html: "网络异常"});
                            return false;
                        }
                    );
                });
            }

        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });

    function getSelectName() {
        var patentId = $("#patentId");
        $.ahsjajax(
            CTX + "/api/stationinfo/selectAllpantent.ahsj",
            null,
            function (data) {
                $(data).each(function (i) {
                    patentId.append(
                        "<option value='" + this.id + "'>" + this.title + "</option>")
                })
                patentId.formSelect();
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            })
    }
</script>

</body>

</html>
