<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!--Form Advance-->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 800px;">
            <div class="card-content">
                <h4 class="card-title">工位信息审核</h4><label style="color:black">
            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${stationInfoVO.id}">
                    <input type="hidden" id="provinceId" name="" th:value="${stationInfoVO.provinceId}">
                    <input type="hidden" id="cityId" name="" th:value="${stationInfoVO.cityId}">
                    <input type="hidden" id="areaId" name="" th:value="${stationInfoVO.areaId}">
                    <div class="row">

                        <div class="input-field col s4 l4 xl4">
                            <input id="title" name="title" type="text" th:value="${stationInfoVO.title}"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label for="title">工位名称</label>
                        </div>
                        <div class="input-field col s4 m4 l4">
                            <div class="">
                                <select name="provinceId" id="select_1">
                                    <option>选择省份</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field col s4 m4 l4">
                            <div class="">
                                <select name="cityId" id="select_2">
                                    <option>选择城市</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field col s4 m4 l4">
                            <div class="">
                                <select name="areaId" id="select_3">
                                    <option>选择区</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="location" name="location" type="text" th:value="${stationInfoVO.location}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="location">地点<span style="font-size: 12px"></span></label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="price" name="price" type="number" th:value="${stationInfoVO.price}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="price">价格<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="area" name="area" type="text" th:value="${stationInfoVO.area}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="area">面积<span style="font-size: 12px"></span></label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="phoneNumber" name="phoneNumber" type="text"
                                   th:value="${stationInfoVO.phoneNumber}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="phoneNumber">联系电话<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="name" name="name" type="text" th:value="${stationInfoVO.name}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="name">联系人姓名<span style="font-size: 12px"></span></label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="environmentalLabel" name="environmentalLabel" type="text"
                                   th:value="${stationInfoVO.environmentalLabel}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="environmentalLabel">环境标识<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="description" name="description" type="text"
                                   th:value="${stationInfoVO.description}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="description">描述<span style="font-size: 12px"></span></label>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <button id="send_btnSuccess" class="btn cyan waves-effect waves-light left" type="button"
                                        name="action">予以审核通过
                                    <i class="material-icons right">send</i>
                                </button>
                                <button id="send_btnFail" class="btn cyan waves-effect waves-light right" type="button"
                                        name="action">不予审核通过
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">

    $(function () {
        formCheck();
        initSelect();
        var provinceId = $("#provinceId").val();
        var cityId = $("#cityId").val();
        var areaId = $("#areaId").val();
        $("#select_1").linkselect({
            url: {
                "1": "/api/region/getDataByParentId.ahsj",
                "2": "/api/region/getDataByParentId.ahsj",
                "3": "/api/region/getDataByParentId.ahsj"
            },//每一级从后端获取数据的地址
            value: {"1": provinceId, "2": cityId, "3": areaId},//每一级select的默认value,此时表示第一级选中北京,具体代表的地址看数据库，北京在本数据库中为1
            level: 3,//表示一共拥有几级联动，三级联动就写3，四级就写4，一次类推
            now: 1,//固定值，表示当前为第几级
            param: 0,//参数值，传向后端的参数，0表示获取所有的省份,因为所有省份的父ID为0
            preid: "select"//所有select的id前缀都应该是一样的，后面加上_和级别数
        });

        var select1 = $(".select2-container");
        if (select1) {
            select1.css('display', 'none');
        }
    });

    function initSelect() {
        $("#type").select2({
            minimumInputLength: 1,
            maximumInputLength: 20
        })
    }

    function formCheck() {
        $("#sendForm").validate({

            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero) {


                    var queryString = $('#sendForm').serialize();
                    console.log("queryString is" + queryString);

                    $.ahsjajax(
                        CTX + "/api/stationinfo/update/stationinfo.ahsj",
                        queryString,
                        function (msg) {
                            if (msg.success) {
                                M.toast({html: msg.message});
                                dialog.parentclose();
                                parent.grid.search();
                                return false;
                            } else {
                                M.toast({html: msg.message});
                                return false;
                            }
                        },
                        function () {
                            M.toast({html: "网络异常"});
                            return false;
                        }
                    );
                });
            }

        });

        $("#send_btnSuccess").click(function () {
            dialog.confirm('确定提交吗?', function (index, layero) {
                var id = [[${stationInfoVO.id}]];
                $.ahsjajax(
                    CTX + "/api/stationinfo/reviewSuccess.ahsj",
                    {"id": id},
                    function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            parent.grid.search();
                            dialog.parentclose();
                            return false;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                );
            });
        });

        $("#send_btnFail").click(function () {
            dialog.confirm('确定提交吗?', function (index, layero) {
                var id = [[${stationInfoVO.id}]];
                $.ahsjajax(
                    CTX + "/api/stationinfo/reviewFail.ahsj",
                    {"id": id},
                    function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            parent.grid.search();
                            dialog.parentclose();
                            return false;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                );
            });
        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });

    /*   function getProvince(){
           var parentId = 0;
           var flag = $('#myProvinceName').val();
           $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){
               if (flag == null || flag == "" ){
                   provinceSelect.prepend("<option value='-1'>选择省份</option>");

                   $(result).each(function (i) {
                       provinceSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                   });
               }else {
                   for (var j = 0;j<result.length;++j){
                       if (flag == result[j].name){
                           provinceSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                       }
                   }
                   $(result).each(function (i) {
                       provinceSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                   })
               }

               provinceSelect.formSelect();
           });
       }
       function getCity(){
           var parentId = $("#cityId").val();
           var flag = $('#myCityName').val();
           $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){
               if (flag == null || flag == "" ){
                   ciytSelect.prepend("<option value='0'>选择城市</option>");

                   $(result).each(function (i) {
                       ciytSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                   });
               }else {
                   for (var j = 0;j<result.length;++j){
                       if (flag == result[j].name){
                           ciytSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                       }
                   }
                   $(result).each(function (i) {
                       ciytSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                   })
               }

               ciytSelect.formSelect();
           });
       }
       function getArea(){
           var parentId = $("#areaId").val();
           var flag = $('#myAreaName').val();
           $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){
               if (flag == null || flag == "" ){
                   areaSelect.prepend("<option value='0'>选择区</option>");

                   $(result).each(function (i) {
                       areaSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                   });
               }else {
                   for (var j = 0;j<result.length;++j){
                       if (flag == result[j].name){
                           areaSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                       }
                   }
                   $(result).each(function (i) {
                       areaSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                   })
               }

               areaSelect.formSelect();
           });
       }*/


</script>

</body>

</html>
