<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:ahsj="http://www.anhuishangjue.com">
<div th:replace="public/base_list :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<div class="row">
    <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6 breadcrumbs-left">
                    <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">DataTable</h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Table</a>
                        </li>
                        <li class="breadcrumb-item active">DataTable
                        </li>
                    </ol>
                </div>
                <div class="col s2 m6 l6"><a
                        class="btn btn-floating dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                        href="#!" data-target="dropdown1"><i class="material-icons">expand_more </i><i
                        class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="dropdown1" tabindex="0">
                        <li tabindex="0"><a class="grey-text text-darken-2"
                                            href="user-profile-page.html">Profile<span
                                class="new badge red">2</span></a></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a>
                        </li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 x12 l12 xl12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div class="card-content">
                        <form id="searchForm" class="row" action="">
                            <div class="row">
                                <div class="col  s1 m1 l1 xl1">
                                    <h6>模糊搜索</h6>
                                    <label style="color:black">Fuzzy search</label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="months" name="months" type="text"/>
                                    <label for="months" class="active">月份选择<span style="font-size: 12px">(Month selection)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="years" name="years" type="text"/>
                                    <label class="active" for="years">年份选择<span
                                            style="font-size: 12px">(Year selection)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="number" name="number" type="text"/>
                                    <label for="number">挂号编号<span
                                            style="font-size: 12px">(Registered number)</span></label>

                                </div>
                                <br><br><br><br>
                                <div class="col  s1 m1 l1 xl1">

                                    <h6>收费日期</h6>
                                    <label style="color:black">Date of charge</label>
                                </div>
                                <div class="col  input-field s2 m2 l2 xl2">
                                    <input id="lowTime" name="lowTime" type="text" class="datepicker"/>
                                    <label for="lowTime">下区间<span
                                            style="font-size: 12px">(Lower interval)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="upTime" name="upTime" type="text"
                                           class="datepicker"/>
                                    <label for="upTime">上区间<span style="font-size: 12px">(upper interval)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="createName" name="createName" type="text"/>
                                    <label for="createName">收费人<span
                                            style="font-size: 12px">(toll gatherer)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="patientName" name="patientName" type="text"/>
                                    <label for="patientName">病人姓名<span
                                            style="font-size: 12px">(patient name)</span></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2 xl2 offset-l1">
                            <a class="waves-effect waves-light btn" id="searchBtn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="搜索">search</i></a>
                            <a id="resetBtn" class="waves-effect waves-light btn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="重置">youtube_searched_for</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 x12 l12 xl12">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">
                                统计的时间区间为<span
                                    style="font-size: 12px"> (The time interval of the statistics is)</span>:<span
                                    id="minTime"></span>——— <span id="maxTime"></span>
                            </h4>
                            <h4 class="card-title">
                                区间内的总收入金额为<span
                                    style="font-size: 12px">(The total amount of income in the interval is)</span>：<span
                                    id="price"></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 x12 l12 xl12">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">操作台
                            </h4>
                            <label style="color:black">Console</label>
                            <!--Form Advance-->
                            <div class="row">
                                <div id="refreshtable" class="col l12 m12 l12 xl12">
                                    <table id="data-table-simple" class="display">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/hiscore/assets/app-assets/js/laydate/laydate.js}" type="text/javascript"></script>
<div th:replace="public/base_list_script :: html"></div>
<script type="text/javascript">
    var grid = new Datatable();
    $(document).ready(function () {
        initBtn();
        initTable();
    });

    function initTable() {
        grid.init({
            src: $("#data-table-simple"),
            onSuccess: function (grid) {
                getPrice();
            },
            onError: function (grid) {
            },
            onDataLoad: function (grid) {
            },
            loadingMessage: 'Loading...',
            dataTable: {
                "ajax": {
                    "url": CTX + "/api/registeredCharge/list.ahsj?token=" + TOKEN, // ajax source
                },
                "columns": [
                    {
                        "title": "挂号编号",
                        "data": "number",
                        "name": "number"
                    },
                    {
                        "title": "挂号类别",
                        "data": "categoryName",
                        "name": "registered_category"
                    },
                    {
                        "title": "姓名",
                        "data": "patientName",
                        "name": "patient_name"
                    },
                    {
                        "title": "收费时间",
                        "data": "createDate",
                        "name": "create_date"
                    },
                    {
                        "title": "收费人",
                        "data": "createName",
                        "name": "create_Name"
                    },
                    {
                        "title": "支付方式",
                        "data": "pTypeName",
                        "name": "pay_type"
                    },
                    {
                        "title": "应收金额",
                        "data": "amountReceivable",
                        "name": "amount_receivable"
                    },
                    {
                        "title": "实收金额",
                        "data": "paidAmount",
                        "name": "paid_amount"
                    },
                    {
                        "title": "找回金额",
                        "data": "retrieveAmount",
                        "name": "retrieve_amount"
                    },
                    {
                        "title": "操作",
                        "width": "120px",
                        "className": "centered",
                        "orderable": false,
                        "render": function (data, type, row) {
                            var rtnBtn = "";
                            //如果获取字符串，必须在参数外反转"
                            rtnBtn = rtnBtn +
                                "<a  class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"查看明细\" onclick='visitDetail(\"" + row.number + "\");'> <i class='material-icons'>visibility</i></a>" +
                                "<a class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"打印\" href='javascript:;' onclick='print(" + row.id + ");'> <i class='material-icons'>print</i></a>";
                            // 返回自定义内容
                            return rtnBtn;
                        }
                    }
                ],
                "order": [
                    [1, 'asc']
                ]
            }
        });
    }

    function visitDetail(number) {
        var url = CTX + "/api/registeredCharge/details/index.ahsj?token=" + TOKEN + "&number=" + number;
        dialog.show(url, "收费详细信息");
    }

    function initBtn() {
        //搜索按钮
        $('#searchBtn').click(function () {
            grid.search();
        });
        $('#resetBtn').click(function () {
            grid.reset();
        });
        $("#searchForm .row .col input[type='radio']").click(function () {
            grid.search();
        });
    }

    function getPrice() {
        var searchForm = $("#searchForm").serialize();
        var price = $("#price")
        var lowTime = $("#lowTime").val();
        var upTime = $("#upTime").val();
        var years = $("#years").val();
        var months = $("#months").val();
        console.log(lowTime)
        console.log(upTime)
        console.log(years)
        console.log(months)


        //获取基本信息

        $.ahsjajax(
            CTX + "/api/registeredCharge/getPrice?token=" + TOKEN,
            searchForm,
            function (data) {
                price.html("");
                if (!isNullOrEmpty(data)) {
                    price.html(data.amountReceivable)
                    if (isNullOrEmpty(lowTime)) {
                        $("#minTime").html(data.minTime);
                    } else {
                        $("#minTime").html(lowTime)
                    }
                    if (isNullOrEmpty(upTime)) {
                        $("#maxTime").html(data.maxTime);
                    } else {
                        $("#maxTime").html(upTime)
                    }
                    if ((lowTime == null || lowTime == "" || lowTime == undefined) &&
                        (upTime == null || upTime == "" || upTime == undefined) &&
                        (months != null && months != "" && months != undefined) &&
                        (years == null || years == "" || years == undefined)) {
                        $("#minTime").html(months + "月")
                        $("#maxTime").html(months + "月")
                    }
                    if ((lowTime == null || lowTime == "" || lowTime == undefined) &&
                        (upTime == null || upTime == "" || upTime == undefined) &&
                        (years != null && years != "" && years != undefined) &&
                        (months == null || months == "" || months == undefined)) {
                        $("#minTime").html(years + "年")
                        $("#maxTime").html(years + "年")
                    }
                    if ((lowTime == null || lowTime == "" || lowTime == undefined) &&
                        (upTime == null || upTime == "" || upTime == undefined) &&
                        (years != null && years != "" && years != undefined) &&
                        (months != null && months != "" && months != undefined)) {
                        $("#minTime").html(years + "年" + months + "月")
                        $("#maxTime").html(years + "年" + months + "月")
                    }
                    return true;
                } else {
                    price.html("0")
                    return false;
                }
            },
            function () {
                Materialize.toast("网络异常");
                return false;
            }
        );
    }

    laydate.render({
        elem: '#years'
        , type: 'year',
    });
    laydate.render({
        elem: '#months',
        type: 'month'
        , format: 'MM'
    });
    $("input").mouseover(function () {
        M.updateTextFields();//重新初始化页面上的内容
    })

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });

    function print(id) {
        dialog.confirm('确定打印吗?', function (index, layero) {
            if (id != "" && id != null && id != undefined) {
                var url = CTX + "/api/registered/print/index.ahsj?token=" + TOKEN + "&id=" + id;
                dialog.showDialog(url, "打印凭证预览", "700px", "700px");
            } else {
                dialog.warn("没有需要打印的内容！")
            }
        });
    }
</script>
</body>
</html>

