<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="public/base_list :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<div class="row">
    <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6 breadcrumbs-left">
                    <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">DataTable</h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Table</a>
                        </li>
                        <li class="breadcrumb-item active">DataTable
                        </li>
                    </ol>
                </div>
                <div class="col s2 m6 l6"><a
                        class="btn btn-floating dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                        href="#!" data-target="dropdown1"><i class="material-icons">expand_more </i><i
                        class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="dropdown1" tabindex="0">
                        <li tabindex="0"><a class="grey-text text-darken-2"
                                            href="user-profile-page.html">Profile<span
                                class="new badge red">2</span></a></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a>
                        </li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 x12 l12 xl12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div class="card-content">
                        <form id="searchForm" class="row" action="">
                            <div class="row">
                                <div class="col  s1 m1 l1 xl1">
                                    <h6>收费日期</h6>
                                    <label style="color:black">Date of charge</label>
                                </div>
                                <div class="col  input-field s2 m2 l2 xl2">
                                    <input id="leftTime" name="leftTime" type="text" class="datepicker"/>
                                    <label for="leftTime">左区间<span
                                            style="font-size: 12px">(Left interval)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="rightTime" name="rightTime" type="text"
                                           class="datepicker"/>
                                    <label for="rightTime">右区间<span
                                            style="font-size: 12px">(Right interval)</span></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2 xl2 offset-l1">
                            <a class="waves-effect waves-light btn" id="searchBtn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="搜索">search</i></a>
                            <a id="exportBtn" class="waves-effect waves-light btn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="导出（Export）">file_download</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 x12 l12 xl12">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">
                                统计的时间区间为<span
                                    style="font-size: 12px"> (The time interval of the statistics is)</span>:<span
                                    id="minTime">从医院开始使用(Begin)</span>——— <span id="maxTime">"至今(Today)"</span>
                            </h4>
                            <h4 class="card-title">
                                区间内的药品库存明细金额为<span
                                    style="font-size: 12px">(The amount of drug inventory details in the interval is)</span>：<span
                                    id="medicineTotal"></span>
                            </h4>
                            <!--<h4 class="card-title">
                                区间内的住院项目总收入金额为<span
                                    style="font-size: 12px">(The total amount of project income in the interval is)</span>：<span
                                    id="projectTotal"></span>
                            </h4>
                            <h4 class="card-title">
                                区间内的住院耗材总收入金额为<span
                                    style="font-size: 12px">(The total amount of Consumables income in the interval is)</span>：<span
                                    id="consumablesTotal"></span>
                            </h4>
                            <h4 class="card-title">
                                区间内的住院床位费总收入金额为<span
                                    style="font-size: 12px">(The total amount of bed income in the interval is)</span>：<span
                                    id="bedTotal"></span>
                            </h4>
                            <h4 class="card-title">
                                区间内的住院退药总金额为<span
                                    style="font-size: 12px">(The total amount of withdraw medicine income in the interval is)</span>：<span
                                    id="backMedicineTotal"></span>
                            </h4>
                            <h4 class="card-title">
                                区间内的住院退项目总金额为<span
                                    style="font-size: 12px">(The total amount of withdraw project income in the interval is)</span>：<span
                                    id="backProjectTotal"></span>
                            </h4>
                            <h4 class="card-title">
                                区间内的住院退耗材总金额为<span
                                    style="font-size: 12px">(The total amount of withdraw Consumables income in the interval is)</span>：<span
                                    id="backConsumablesTotal"></span>
                            </h4>
                            <h4 class="card-title">
                                区间内的住院总收入（收入-退费）金额为<span
                                    style="font-size: 12px">(The total amount of all income in the interval is)</span>：<span
                                    id="total"></span>
                            </h4>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/hiscore/assets/app-assets/js/laydate/laydate.js}" type="text/javascript"></script>
<div th:replace="public/base_list_script :: html"></div>
<script type="text/javascript">
    $(document).ready(function () {
        getTotal()
    });

    function getTotal() {
        var leftTime = $("#leftTime").val()
        var rightTime = $("#rightTime").val()
        $.ahsjajax(CTX + "/api/summary/pharmacyListSum.ahsj",
            {"leftTime": leftTime, "rightTime": rightTime},
            function (data) {
                $("#medicineTotal").html(data)
            },
            function (data) {
                M.toast({
                    html: "网络异常", completeCallback: function () {
                    }
                });
            }
        );
    }

    $('#searchBtn').click(function () {
        getTotal()
    });
    $("#exportBtn").click(function () {
        var leftTime = $("#leftTime").val();
        var rightTime = $("#rightTime").val();
        var url =   CTX + "/api/summary/pharmacyExportExcel.ahsj?token="+ TOKEN+ "&lowTime=" + leftTime + "&highTime=" + rightTime;
        // var url =   CTX + "/api/summary/medicationExportExcel.ahsj?token="+ TOKEN+ "&lowTime=" + leftTime + "&highTime=" + rightTime;
        // var url = CTX + "/api/hisFinance/exportExcelInHospital.ahsj?token=" + TOKEN + "&leftTime=" + leftTime + "&rightTime=" + rightTime;
        window.location = url;
    });

</script>
</body>
</html>

