<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">收费组合项目信息修改</h4>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${hisMedicinePurchasingPlanRecord.id}">
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="planNumber" name="planNumber" type="text"
                                   th:value="${hisMedicinePurchasingPlanRecord.planNumber}"
                                   th:readonly="true">
                            <label for="planNumber">组合编号</label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="person_in_charge" name="personInCharge" type="text"
                                   th:value="${hisMedicinePurchasingPlanRecord.personInCharge}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="person_in_charge">组合名称</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="expected_time"  class="datepicker" name="expectedTime" type="text"
                                   th:placeholder="${#dates.format(hisMedicinePurchasingPlanRecord.expectedTime, 'yyyy/MM/dd')}" th:value="${#dates.format(hisMedicinePurchasingPlanRecord.expectedTime, 'yyyy/MM/dd')}"
                                   data-error=".errorTxt2"/>
                            <div class="errorTxt2"></div>
                            <label for="expected_time">组合简码</label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="budget" name="budget" type="number"
                                   th:value="${hisMedicinePurchasingPlanRecord.budget}"
                                   th:readonly="true"/>
                            <label for="budget">总价</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提 交
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">
    $(function () {
        formCheck();

    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {
                personInCharge: {
                    required: true,
                    minlength: 1
                },
                expectedTime: {
                    required: true,
                    minlength: 1
                },
            },
            messages: {
                personInCharge: {
                    required: "请输入负责人姓名",
                    minlength: "最少输入1个字符"
                },
                expectedTime: {
                    required: "请输入预期采购时间",
                    minlength: "最少输入1个字符"
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero){
                var queryString = $('#sendForm').serialize();
                console.log("queryString is" + queryString);

                $.ahsjajax(
                    CTX + "/api/planRecord/saveOrUpdate.ahsj?token=" + TOKEN,
                    queryString,
                    function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            parent.grid.search();
                            dialog.parentclose();
                            return false;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                );});
            }
        });
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
