<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <style>
        .fontsize01 {
            font-size: 14px;
        }

        .fontsize02 {
            font-size: 12px;}

    </style>
</head>
<div th:replace="public/base_print :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <h5 class="black-text">中柬第一医院</h5>
            <label class="black-text fontsize02">The first china-cambodia hospital</label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <label class="black-text fontsize01">交易流水号</label></br>
            <label class="black-text fontsize02">Transaction flow number</label>
        </div>
        <div class="col s8 m8 l8">
            <label class="black-text" th:text="${tollRecordNumber}"></label>
        </div>
        <input type="hidden" id="tollRecordNumber" th:value="${tollRecordNumber}">
        <input type="hidden" id="vouchers" th:value="${vouchers}">

    </div>
    <div class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <label class="black-text fontsize01">收费人</label></br>
            <label class="black-text fontsize02">Charger</label>
        </div>
        <div class="col s8 m8 l8">
            <label  class="black-text" ><span id="createName" th:text="${pname}"></span></label>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <label class="black-text fontsize01">退费金额</label></br>
            <label class="black-text fontsize02">Refund amount</label>
        </div>
        <div class="col s8 m8 l8">
            <label class="black-text" ><span id="totalPrices" th:text="${sum}"></span></label>
        </div>

    </div>
    <div class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <label class="black-text fontsize01">退费时间</label></br>
            <label class="black-text fontsize02">Refund time</label>
        </div>
        <div class="col s8 m8 l8">
            <label class="black-text" ><span id="createDate" th:text="${date}"></span></label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center-align">
            <h6 class="black-text">退费明细</h6>
            <label class="black-text fontsize02">Refund details</label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12" >
            <table id="table_id" style="font-size: 14px"></table></div>
    </div>
</div>

<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        printShow();
    });
    var tollRecordNumber = $("#tollRecordNumber").val();
    var vouchers = $("#vouchers").val();
    function printShow() {
        $.ahsjajax(
            CTX + "/api/hisProject/refund/price/printlyList.ahsj",
            {"tollRecordNumber": tollRecordNumber,"vouchers":vouchers},
            function (data) {
                var  jsons =  data[0];
                if(!isNullOrEmpty(jsons)){//有
                    var trs = "<tr><td><h6 class='black-text'>名称(name)</h6></td><td><h6 class='black-text'>数目(number)</h6></td><td><h6 class='black-text'>单价(price)</h6></td><td><h6 class='black-text'>单项总价(Single item total price)</h6></td></tr>";
                    $.each(data, function (index, item) {
                        trs += "<tr><td><p class='black-text fontsize03'>"+ item.name +  "(" +item.tranName +")"+   "</p></td><td ><p class='black-text fontsize03'>"+item.refundNum+"</p></td><td ><p class='black-text fontsize03'>"+item.price+"</p></td><td ><p class='black-text fontsize03'>"+(item.projectSumPrice)+"</p></td></tr >";
                    });
                    var  jsons =  data[0];

                    $("#table_id").append(trs);
                }},
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }
    function doOk() {
        $('body  div div.row.valign-wrapper').printThis({
            importCSS: false,
            debug: false,
            afterPrint: function () {
                // dialog.confirm('确定打印?', function (index, layero) {
                //
                //
                // });
            }
        });
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
