<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <style>
        .fontsize01 {
            font-size: 14px;
        }

        .fontsize02 {
            font-size: 12px;
        }

    </style>
</head>
<div th:replace="public/base_print :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <h5 class="black-text">中柬第一医院</h5>
            <label class="black-text fontsize02">The first china-cambodia hospital</label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s4 m4 l4" style="height: 90px;">
            <label class="black-text fontsize01">就诊记录编号</label></br>
            <label class="black-text fontsize02">Visit record number</label>
        </div>
        <div class="col s8 m8 l8" style="height: 90px;">
            <label class="black-text"><span id="recordNumber"></span></label>
        </div>
        <!--<input type="hidden" id="ids" th:value="${ids}">-->

    </div>
    <div class="row valign-wrapper">
        <div class="col s4 m4 l4" style="height: 100px;">
            <label class="black-text fontsize01">创建时间</label></br>
            <label class="black-text fontsize02">Creation time</label>
        </div>
        <div class="col s8 m8 l8" style="height: 100px;">
            <label class="black-text"><span id="createDate"></span></label>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s4 m4 l4" style="height: 70px;">
            <label class="black-text fontsize01">就诊医师</label></br>
            <label class="black-text fontsize02">Visiting physician</label>
        </div>
        <div class="col s8 m8 l8" style="height: 70px;">
            <label class="black-text"><span id="doctorName"></span></label>
        </div>

    </div>
    <div class="row valign-wrapper">
        <div class="col s4 m4 l4" style="height: 70px;">
            <label class="black-text fontsize01">病人姓名</label></br>
            <label class="black-text fontsize02">Patient name</label>
        </div>
        <div class="col s8 m8 l8" style="height: 70px;">
            <label class="black-text"><span id="patientName"></span></label>
        </div>
    </div>

    <div class="row valign-wrapper">
        <hr>
        <div class="col s12 m12 l12">
            <h6 class="black-text">诊疗项目明细</h6>
            <label class="black-text fontsize02">Medical treatment item details</label>
        </div>

    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12">
            <table id="table_id" style="font-size: 14px"></table>
        </div>
    </div>
</div>
<input type="hidden" id="id" th:value="${id}">

<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        printShow();
    });
    function printShow() {
        var projectId = $("#id").val();
        $.ahsjajax(
            CTX + "/api/hisprojectreview/getProject.ahsj?token="+TOKEN,
            {"projectId": projectId},
            function (data) {
                var jsons = data;
                if (!isNullOrEmpty(jsons)) {//有
                    var trs = "<tr><td><h6 class='black-text'>项目名称(project name)</h6></td><td><h6 class='black-text'>数目(number)</h6></td><td><h6 class='black-text'>单位(unit)</h6></td><td><h6 class='black-text'>项目的收费标准(Project charge standard)</h6></td></tr>";
                        trs += "<tr><td><p class='black-text fontsize03'>" + data.name + "("+data.tname+")" + "</p></td><td ><p class='black-text fontsize03'>" + data.num + "</p></td><td ><p class='black-text fontsize03'>" + data.unit +"(" +data.tunit +")" + "</p></td><td ><p class='black-text fontsize03'>" + data.price + "</p></td></tr >";
                    var jsons = data;
                    //  console.log(data[0]);
                    $("#recordNumber").html(jsons.medicalRecordId);
                    $("#createDate").html(jsons.createDate);
                    $("#patientName").html(jsons.patientName);
                    $("#doctorName").html(jsons.personInCharge);
                    $("#table_id").append(trs);
                }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }

    function doOk() {
        $('body  div div.row.valign-wrapper').printThis({
            importCSS: true,
            debug: false,
            afterPrint: function () {
                dialog.confirm('确定打印?', function (index, layero) {


                });
            }
        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
