<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智慧湾</title>
</head>
<script src="/bootstrap/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/bootstrap/bootstrap4/js/bootstrap.js"></script>
<link rel="stylesheet" href="/bootstrap/bootstrap4/css/bootstrap.css"/>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/bootstrap/css/wisdom.css"/>
<body>
<nav class="navbar navbar-default" style="background-color: #ffffff;height: 110px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="/bootstrap/images/wisdom/1.png" style="margin-left: 85px;margin-top: 25px;">
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             style="float:right;margin-top: 30px;margin-right: 70px;">
            <ul class="nav navbar-nav">
                <li><a href="#" style="color: #0f0f0f;    font-size: 18px;">首页</a></li>
                <li><a href="#" style="color: #0f0f0f;    font-size: 18px;">关于智慧湾</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="color: #0f0f0f;    font-size: 18px;">解决方案 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">智能采集平台</a></li>
                        <li><a href="#">智慧园区</a></li>
                        <li><a href="#">智慧停车</a></li>
                        <li><a href="#">社会信用</a></li>
                        <li><a href="#">人工智能实验室</a></li>
                        <li><a href="#">宏观经济</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">更多</a></li>
                    </ul>
                </li>
                <li><a href="#" style="color: #0f0f0f;    font-size: 18px;">招聘与合作</a></li>
            </ul>

        </div>
</nav>
</body>
</html>
<script>
</script>