<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.hiscore.dao.HisConsumablesBuyplanDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.hiscore.entity.HisConsumablesBuyplanDetails">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="buyplan_code" jdbcType="VARCHAR" property="buyplanCode" />
    <result column="consumables_code" jdbcType="VARCHAR" property="consumablesCode" />
    <result column="enter_count_plan" jdbcType="INTEGER" property="enterCountPlan" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, buyplan_code, consumables_code, enter_count_plan, name, spec, price, create_user_id,
    create_date, update_user_id, update_date, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from his_consumables_buyplan_details
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from his_consumables_buyplan_details
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.hiscore.entity.HisConsumablesBuyplanDetails" useGeneratedKeys="true" keyProperty="id">
    insert into his_consumables_buyplan_details (id, buyplan_code, consumables_code,
                                                 enter_count_plan, name, spec,
                                                 price, create_user_id, create_date,
                                                 update_user_id, update_date, is_delete
    )
    values (#{id,jdbcType=BIGINT}, #{buyplanCode,jdbcType=VARCHAR}, #{consumablesCode,jdbcType=VARCHAR},
            #{enterCountPlan,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR},
            #{price,jdbcType=DOUBLE}, #{createUserId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP},
            #{updateUserId,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.hiscore.entity.HisConsumablesBuyplanDetails">
    insert into his_consumables_buyplan_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buyplanCode != null">
        buyplan_code,
      </if>
      <if test="consumablesCode != null">
        consumables_code,
      </if>
      <if test="enterCountPlan != null">
        enter_count_plan,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="buyplanCode != null">
        #{buyplanCode,jdbcType=VARCHAR},
      </if>
      <if test="consumablesCode != null">
        #{consumablesCode,jdbcType=VARCHAR},
      </if>
      <if test="enterCountPlan != null">
        #{enterCountPlan,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.hiscore.entity.HisConsumablesBuyplanDetails">
    update his_consumables_buyplan_details
    <set>
      <if test="buyplanCode != null">
        buyplan_code = #{buyplanCode,jdbcType=VARCHAR},
      </if>
      <if test="consumablesCode != null">
        consumables_code = #{consumablesCode,jdbcType=VARCHAR},
      </if>
      <if test="enterCountPlan != null">
        enter_count_plan = #{enterCountPlan,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.hiscore.entity.HisConsumablesBuyplanDetails">
    update his_consumables_buyplan_details
    set buyplan_code = #{buyplanCode,jdbcType=VARCHAR},
        consumables_code = #{consumablesCode,jdbcType=VARCHAR},
        enter_count_plan = #{enterCountPlan,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        spec = #{spec,jdbcType=VARCHAR},
        price = #{price,jdbcType=DOUBLE},
        create_user_id = #{createUserId,jdbcType=BIGINT},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        update_user_id = #{updateUserId,jdbcType=BIGINT},
        update_date = #{updateDate,jdbcType=TIMESTAMP},
        is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>










  <!--自定义sql-->

  <select id="selectByBuyplanCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM
      his_consumables_buyplan_details
    where
    buyplan_code = #{buyplanCode,jdbcType=VARCHAR} and  is_delete = 0
  </select>

  <select id="details" parameterType="core.entity.PageBean" resultMap="BaseResultMap">
    select
    his_consumables_buyplan_details.*
    from his_consumables_buyplan_details
    where
    is_delete = 0  and  buyplan_code = #{parameter.buyplanCode,jdbcType=BIGINT}
    <if test="parameter.name != null and parameter.name != ''">
      and name like concat('%' #{parameter.name,jdbcType=VARCHAR},'%')
    </if>
    <if test="parameter.orders != null and parameter.orders != ''">
      order by ${parameter.orders}
    </if>
  </select>


  <select id="selectByBuyplanforList" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
     <include refid="Base_Column_List"/>
    FROM
      his_consumables_buyplan_details
    where
    buyplan_code = #{buyplanCode,jdbcType=VARCHAR} AND is_delete = 0
  </select>


  <update id="deleteByBuyplanCode" parameterType="java.lang.String" >

    update his_consumables_buyplan_details
    set is_delete = 1
    where buyplan_code =#{buyplanCode,jdbcType=BIGINT} AND is_delete = 0
  </update>


  <!--批量插入list-->
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" keyProperty="id" >

    insert into his_consumables_buyplan_details (id, buyplan_code, consumables_code,
    enter_count_plan, name, spec,
    price, create_user_id, create_date,
    update_user_id, update_date, is_delete
    )
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=BIGINT}, #{item.buyplanCode,jdbcType=VARCHAR}, #{item.consumablesCode,jdbcType=VARCHAR},
      #{item.enterCountPlan,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.spec,jdbcType=VARCHAR},
      #{item.price,jdbcType=DOUBLE}, #{item.createUserId,jdbcType=BIGINT}, #{item.createDate,jdbcType=TIMESTAMP},
      #{item.updateUserId,jdbcType=BIGINT}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.isDelete,jdbcType=INTEGER}
      )
    </foreach>
  </insert>


    <select id="queryTranslateInfoByDate" resultMap="BaseResultMap"
            parameterType="com.ahsj.hiscore.entity.HisConsumablesBuyplanDetails">
        select
        <include refid="Base_Column_List"/>
        from his_consumables_buyplan_details as his
        where   <![CDATA[ (DATE_FORMAT(his.update_date, '%Y-%m-%d') =  DATE_FORMAT( #{updateDate}, '%Y-%m-%d'))]]>
    </select>


    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from his_consumables_buyplan_details
    </select>


  <update id="updateByIsDelete" parameterType="java.lang.Long">
    update his_consumables_buyplan_details
    set is_delete = 1
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByIsDeleteCode" parameterType="java.lang.String">
    update his_consumables_buyplan_details
    set is_delete = 1
    where buyplan_code = #{buyplanCode,jdbcType=INTEGER} and is_delete = 0
  </update>
</mapper>