<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahsj.hiscore.dao.HisEnterConsumablesDetailsMapper">
    <resultMap id="BaseResultMap" type="com.ahsj.hiscore.entity.HisEnterConsumablesDetails">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="consumables_code" jdbcType="VARCHAR" property="consumablesCode"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="enter_cdoe" jdbcType="VARCHAR" property="enterCdoe"/>
        <result column="enter_count" jdbcType="INTEGER" property="enterCount"/>
        <result column="surplus" jdbcType="INTEGER" property="surplus"/>
        <result column="validity_period" jdbcType="TIMESTAMP" property="validityPeriod"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="selling_price" jdbcType="DOUBLE" property="sellingPrice"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,
        consumables_code,
        name,
        type,
        spec,
        selling_price,
        price,
        enter_cdoe,
        enter_count,
        surplus,
        validity_period,
        create_date,
        update_date,
        create_user_id,
        update_user_id,
        is_delete
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from his_enter_consumables_details
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from his_enter_consumables_details
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ahsj.hiscore.entity.HisEnterConsumablesDetails" useGeneratedKeys="true"
            keyProperty="id">
        insert into his_enter_consumables_details (id, consumables_code, name,
                                                   type, spec, selling_price,
                                                   price, enter_cdoe, enter_count,
                                                   surplus, validity_period, create_date,
                                                   update_date, create_user_id, update_user_id,
                                                   is_delete)
        values (#{id,jdbcType=BIGINT}, #{consumablesCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{type,jdbcType=INTEGER}, #{spec,jdbcType=VARCHAR}, #{sellingPrice,jdbcType=DOUBLE},
                #{price,jdbcType=DOUBLE}, #{enterCdoe,jdbcType=VARCHAR}, #{enterCount,jdbcType=INTEGER},
                #{surplus,jdbcType=INTEGER}, #{validityPeriod,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, #{updateUserId,jdbcType=BIGINT},
                #{isDelete,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.ahsj.hiscore.entity.HisEnterConsumablesDetails">
        insert into his_enter_consumables_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="consumablesCode != null">
                consumables_code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="spec != null">
                spec,
            </if>
            <if test="sellingPrice != null">
                selling_price,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="enterCdoe != null">
                enter_cdoe,
            </if>
            <if test="enterCount != null">
                enter_count,
            </if>
            <if test="surplus != null">
                surplus,
            </if>
            <if test="validityPeriod != null">
                validity_period,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="consumablesCode != null">
                #{consumablesCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="spec != null">
                #{spec,jdbcType=VARCHAR},
            </if>
            <if test="sellingPrice != null">
                #{sellingPrice,jdbcType=DOUBLE},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="enterCdoe != null">
                #{enterCdoe,jdbcType=VARCHAR},
            </if>
            <if test="enterCount != null">
                #{enterCount,jdbcType=INTEGER},
            </if>
            <if test="surplus != null">
                #{surplus,jdbcType=INTEGER},
            </if>
            <if test="validityPeriod != null">
                #{validityPeriod,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.hiscore.entity.HisEnterConsumablesDetails">
        update his_enter_consumables_details
        <set>
            <if test="consumablesCode != null">
                consumables_code = #{consumablesCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="spec != null">
                spec = #{spec,jdbcType=VARCHAR},
            </if>
            <if test="sellingPrice != null">
                selling_price = #{sellingPrice,jdbcType=DOUBLE},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="enterCdoe != null">
                enter_cdoe = #{enterCdoe,jdbcType=VARCHAR},
            </if>
            <if test="enterCount != null">
                enter_count = #{enterCount,jdbcType=INTEGER},
            </if>
            <if test="surplus != null">
                surplus = #{surplus,jdbcType=INTEGER},
            </if>
            <if test="validityPeriod != null">
                validity_period = #{validityPeriod,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ahsj.hiscore.entity.HisEnterConsumablesDetails">
        update his_enter_consumables_details
        set consumables_code = #{consumablesCode,jdbcType=VARCHAR},
            name             = #{name,jdbcType=VARCHAR},
            type             = #{type,jdbcType=INTEGER},
            spec             = #{spec,jdbcType=VARCHAR},
            selling_price    = #{sellingPrice,jdbcType=DOUBLE},
            price            = #{price,jdbcType=DOUBLE},
            enter_cdoe       = #{enterCdoe,jdbcType=VARCHAR},
            enter_count      = #{enterCount,jdbcType=INTEGER},
            surplus          = #{surplus,jdbcType=INTEGER},
            validity_period  = #{validityPeriod,jdbcType=TIMESTAMP},
            create_date      = #{createDate,jdbcType=TIMESTAMP},
            update_date      = #{updateDate,jdbcType=TIMESTAMP},
            create_user_id   = #{createUserId,jdbcType=BIGINT},
            update_user_id   = #{updateUserId,jdbcType=BIGINT},
            is_delete        = #{isDelete,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <!--自定义sql-->

    <select id="selectValidityPeriodById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select his_enter_consumables_details.validity_period
        from his_enter_consumables_details
        where his_enter_consumables_details.validity_period = #{validityPeriod,jdbcType=TIMESTAMP}
    </select>


    <select id="selectByconsumablesCode" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select his_enter_consumables_details.*
        from his_enter_consumables_details
        where his_enter_consumables_details.consumables_code = #{consumablesCode,jdbcType=BIGINT}
    </select>

    <select id="selectByEnterConsumablesDetailsCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from his_enter_consumables_details
        where enter_cdoe = #{enterCdoe,jdbcType=VARCHAR}
    </select>

    <select id="selectByconsumablesCodeOrder" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select his_enter_consumables_details.*
        from his_enter_consumables_details
        where his_enter_consumables_details.consumables_code = #{consumablesCode,jdbcType=BIGINT}
        order by his_enter_consumables_details.validity_period asc
    </select>

    <select id="selectByConsumablesCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from his_enter_consumables_details
        where his_enter_consumables_details.consumables_code = #{consumablesCode,jdbcType=BIGINT} and is_delete = 0

    </select>

    <select id="selectByConsumablesAndValidityPeriod" parameterType="com.ahsj.hiscore.entity.HisEnterConsumablesDetails"
            resultMap="BaseResultMap">
        select his_enter_consumables_details.*
        from his_enter_consumables_details
        where his_enter_consumables_details.consumables_code = #{consumablesCode,jdbcType=BIGINT}
          and his_enter_consumables_details.validity_period = #{validityPeriod,jdbcType=TIMESTAMP}
    </select>

    <!--list查询-->
    <select id="list" parameterType="core.entity.PageBean" resultMap="BaseResultMap">
        SELECT sum(surplus) as surplus ,
        id,
        consumables_code,        name,        type,        spec,        selling_price,        price,        enter_cdoe,        enter_count,
        validity_period,        create_date,        update_date,        create_user_id,        update_user_id,        is_delete
        FROM
        his_enter_consumables_details
        where
        is_delete = 0 and /*his_enter_consumables_details.validity_period &gt; CURRENT_DATE AND*/
        his_enter_consumables_details.surplus>0
        <if test="parameter.name != null and parameter.name != ''">
            and name like concat('%' #{parameter.name,jdbcType=VARCHAR},'%')
        </if>
        GROUP BY consumables_code
        <if test="parameter.orders != null and parameter.orders != ''">
            order by ${parameter.orders}
        </if>
    </select>

    <select id="queryByconsumablesCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT sum(surplus) as surplus ,
        id,
        consumables_code,        name,        type,        spec,        selling_price,        price,        enter_cdoe,        enter_count,
        validity_period,        create_date,        update_date,        create_user_id,        update_user_id,        is_delete
        FROM
        his_enter_consumables_details
        where
        is_delete = 0 /*and his_enter_consumables_details.validity_period &gt; CURRENT_DATE*/ AND
        his_enter_consumables_details.surplus>0

            and consumables_code like concat('%' #{consumablesCode,jdbcType=VARCHAR},'%')

        GROUP BY consumables_code
    </select>

    <select id="onelist" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            his_enter_consumables_details.*
        FROM
            his_enter_consumables_details
        where
                his_enter_consumables_details.consumables_code = #{consumablesCode,jdbcType=BIGINT}
          AND his_enter_consumables_details.surplus > 0 AND is_delete= 0
    </select>

    <!--批量插入list-->
    <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" keyProperty="id">
        insert into his_enter_consumables_details (id, consumables_code, name,
        type, spec, price, selling_price , enter_cdoe,
        enter_count, surplus, validity_period,
        create_date, update_date, create_user_id,
        update_user_id,is_delete)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.consumablesCode,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
            #{item.type,jdbcType=INTEGER}, #{item.spec,jdbcType=VARCHAR},
            #{item.price,jdbcType=DOUBLE},#{item.sellingPrice,jdbcType=DOUBLE}, #{item.enterCdoe,jdbcType=VARCHAR},
            #{item.enterCount,jdbcType=INTEGER}, #{item.surplus,jdbcType=INTEGER},
            #{item.validityPeriod,jdbcType=TIMESTAMP},
            #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP},
            #{item.createUserId,jdbcType=BIGINT},
            #{item.updateUserId,jdbcType=BIGINT},#{item.isDelete,jdbcType=INTEGER})
        </foreach>
    </insert>


    <update id="updateByIsDelete" parameterType="java.lang.String">
        update his_enter_consumables_details
        set is_delete = 1
        where consumables_code = #{consumablesCode,jdbcType=INTEGER}
          and is_delete = 0
    </update>
</mapper>