<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.hiscore.dao.HisMedicalOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.hiscore.entity.HisMedicalOrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_skin_test" property="isSkinTest" jdbcType="INTEGER" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="usages" property="usages" jdbcType="VARCHAR" />
    <result column="dosage" property="dosage" jdbcType="VARCHAR" />
    <result column="intervals" property="intervals" jdbcType="INTEGER" />
    <result column="proofreading_nurse_id" property="proofreadingNurseId" jdbcType="BIGINT" />
    <result column="approved_nurse_id" property="approvedNurseId" jdbcType="BIGINT" />
    <result column="stop_date" property="stopDate" jdbcType="VARCHAR" />
    <result column="stop_user_id" property="stopUserId" jdbcType="BIGINT" />
    <result column="stop_prfing_nurse_id" property="stopPrfingNurseId" jdbcType="BIGINT" />
    <result column="stop_apd_nurse_id" property="stopApdNurseId" jdbcType="BIGINT" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="is_stop" property="isStop" jdbcType="INTEGER" />
    <result column="is_proofreading" property="isProofreading" jdbcType="INTEGER" />
    <result column="is_approved" property="isApproved" jdbcType="INTEGER" />
    <result column="medical_order_type" property="medicalOrderType" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="is_first_edit" property="isFirstEdit" jdbcType="INTEGER" />
    <result column="is_stop_proofreading" property="isStopProofreading" jdbcType="INTEGER" />
    <result column="isstopapproved" property="isstopapproved" jdbcType="INTEGER" />
    <result column="correspond_id" property="correspondId" jdbcType="BIGINT" />
    <result column="is_infusion_list" property="isInfusionList" jdbcType="INTEGER" />
    <result column="infusion_number" property="infusionNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, number, name, is_skin_test, specification, unit, usages, dosage, intervals, proofreading_nurse_id,
    approved_nurse_id, stop_date, stop_user_id, stop_prfing_nurse_id, stop_apd_nurse_id,
    total_amount, create_user_id, create_date, update_user_id, update_date,order_num,is_stop,is_proofreading,is_approved,medical_order_type,content,start_time,target_id,is_first_edit,is_stop_proofreading,isstopapproved,correspond_id
    ,is_infusion_list,infusion_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from his_medical_order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from his_medical_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into his_medical_order_detail (id, number, name,
                                          is_skin_test, specification, unit,
                                          usages, dosage, intervals,
                                          proofreading_nurse_id, approved_nurse_id, stop_date,
                                          stop_user_id, stop_prfing_nurse_id, stop_apd_nurse_id,
                                          total_amount, create_user_id, create_date,
                                          update_user_id, update_date,order_num,is_stop,is_proofreading,is_approved,medical_order_type,content,start_time,target_id,is_first_edit,is_stop_proofreading,isstopapproved
                                          ,correspond_id,is_infusion_list,infusion_number)
    values (#{id,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
            #{isSkinTest,jdbcType=INTEGER}, #{specification,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR},
            #{usages,jdbcType=VARCHAR}, #{dosage,jdbcType=VARCHAR}, #{intervals,jdbcType=INTEGER},
            #{proofreadingNurseId,jdbcType=BIGINT}, #{approvedNurseId,jdbcType=BIGINT}, #{stopDate,jdbcType=VARCHAR},
            #{stopUserId,jdbcType=BIGINT}, #{stopPrfingNurseId,jdbcType=BIGINT}, #{stopApdNurseId,jdbcType=BIGINT},
            #{totalAmount,jdbcType=DECIMAL}, #{createUserId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP},
            #{updateUserId,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{orderNum,jdbcType=INTEGER},#{isStop,jdbcType=INTEGER},#{isProofreading,jdbcType=INTEGER},#{isApproved,jdbcType=INTEGER},#{medicalOrderType,jdbcType=INTEGER}
             ,#{content,jdbcType=VARCHAR},#{startTime,jdbcType=TIMESTAMP},#{targetId,jdbcType=BIGINT},#{isFirstEdit,jdbcType=INTEGER},#{isStopProofreading,jdbcType=INTEGER},#{isstopapproved,jdbcType=INTEGER},#{correspondId,jdbcType=BIGINT}
             ,#{isInfusionList,jdbcType=INTEGER},#{infusionNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderDetail" >
    insert into his_medical_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isSkinTest != null" >
        is_skin_test,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="usages != null" >
        usages,
      </if>
      <if test="dosage != null" >
        dosage,
      </if>
      <if test="intervals != null" >
        intervals,
      </if>
      <if test="proofreadingNurseId != null" >
        proofreading_nurse_id,
      </if>
      <if test="approvedNurseId != null" >
        approved_nurse_id,
      </if>
      <if test="stopDate != null" >
        stop_date,
      </if>
      <if test="stopUserId != null" >
        stop_user_id,
      </if>
      <if test="stopPrfingNurseId != null" >
        stop_prfing_nurse_id,
      </if>
      <if test="stopApdNurseId != null" >
        stop_apd_nurse_id,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="isStop != null" >
        is_stop,
      </if>
      <if test="isProofreading != null" >
        is_proofreading,
      </if>
      <if test="isApproved != null" >
        is_approved,
      </if>
      <if test="medicalOrderType != null" >
        medical_order_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="isFirstEdit != null" >
        is_first_edit,
      </if>
      <if test="isStopProofreading != null" >
        is_stop_proofreading,
      </if>
      <if test="isstopapproved != null" >
        isstopapproved,
      </if>
      <if test="correspondId != null" >
        correspond_id,
      </if>
      <if test="isInfusionList != null" >
        is_infusion_list,
      </if>
      <if test="infusionNumber != null" >
        infusion_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isSkinTest != null" >
        #{isSkinTest,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="usages != null" >
        #{usages,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null" >
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="intervals != null" >
        #{intervals,jdbcType=INTEGER},
      </if>
      <if test="proofreadingNurseId != null" >
        #{proofreadingNurseId,jdbcType=BIGINT},
      </if>
      <if test="approvedNurseId != null" >
        #{approvedNurseId,jdbcType=BIGINT},
      </if>
      <if test="stopDate != null" >
        #{stopDate,jdbcType=VARCHAR},
      </if>
      <if test="stopUserId != null" >
        #{stopUserId,jdbcType=BIGINT},
      </if>
      <if test="stopPrfingNurseId != null" >
        #{stopPrfingNurseId,jdbcType=BIGINT},
      </if>
      <if test="stopApdNurseId != null" >
        #{stopApdNurseId,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isStop != null" >
        #{isStop,jdbcType=INTEGER},
      </if>
      <if test="isProofreading != null" >
        #{isProofreading,jdbcType=INTEGER},
      </if>
      <if test="isApproved != null" >
        #{isApproved,jdbcType=INTEGER},
      </if>
      <if test="medicalOrderType != null" >
        #{medicalOrderType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="isFirstEdit != null" >
        #{isFirstEdit,jdbcType=INTEGER},
      </if>
      <if test="isStopProofreading != null" >
        #{isStopProofreading,jdbcType=INTEGER},
      </if>
      <if test="isstopapproved != null" >
        #{isstopapproved,jdbcType=INTEGER},
      </if>
      <if test="correspondId != null" >
        #{correspondId,jdbcType=BIGINT},
      </if>
      <if test="isInfusionList != null" >
        #{isInfusionList,jdbcType=INTEGER},
      </if>
      <if test="infusionNumber != null" >
        #{infusionNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderDetail" >
    update his_medical_order_detail
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isSkinTest != null" >
        is_skin_test = #{isSkinTest,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="usages != null" >
        usages = #{usages,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null" >
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="intervals != null" >
        intervals = #{intervals,jdbcType=INTEGER},
      </if>
      <if test="proofreadingNurseId != null" >
        proofreading_nurse_id = #{proofreadingNurseId,jdbcType=BIGINT},
      </if>
      <if test="approvedNurseId != null" >
        approved_nurse_id = #{approvedNurseId,jdbcType=BIGINT},
      </if>
      <if test="stopDate != null" >
        stop_date = #{stopDate,jdbcType=VARCHAR},
      </if>
      <if test="stopUserId != null" >
        stop_user_id = #{stopUserId,jdbcType=BIGINT},
      </if>
      <if test="stopPrfingNurseId != null" >
        stop_prfing_nurse_id = #{stopPrfingNurseId,jdbcType=BIGINT},
      </if>
      <if test="stopApdNurseId != null" >
        stop_apd_nurse_id = #{stopApdNurseId,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isStop != null" >
        is_stop = #{isStop,jdbcType=INTEGER},
      </if>
      <if test="isProofreading != null" >
        is_proofreading = #{isProofreading,jdbcType=INTEGER},
      </if>
      <if test="isApproved != null" >
        is_approved = #{isApproved,jdbcType=INTEGER},
      </if>
      <if test="medicalOrderType != null" >
        medical_order_type = #{medicalOrderType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="isFirstEdit != null" >
        is_first_edit = #{isFirstEdit,jdbcType=INTEGER},
      </if>
      <if test="isStopProofreading != null" >
        is_stop_proofreading = #{isStopProofreading,jdbcType=INTEGER},
      </if>
      <if test="isstopapproved != null" >
        isstopapproved = #{isstopapproved,jdbcType=INTEGER},
      </if>
      <if test="correspondId != null" >
        correspond_id = #{correspondId,jdbcType=BIGINT},
      </if>
      <if test="isInfusionList != null" >
        is_infusion_list = #{isInfusionList,jdbcType=INTEGER},
      </if>
      <if test="infusionNumber != null" >
        infusion_number = #{infusionNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderDetail" >
    update his_medical_order_detail
    set number = #{number,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        is_skin_test = #{isSkinTest,jdbcType=INTEGER},
        specification = #{specification,jdbcType=VARCHAR},
        unit = #{unit,jdbcType=VARCHAR},
        usages = #{usages,jdbcType=VARCHAR},
        dosage = #{dosage,jdbcType=VARCHAR},
        intervals = #{intervals,jdbcType=INTEGER},
        proofreading_nurse_id = #{proofreadingNurseId,jdbcType=BIGINT},
        approved_nurse_id = #{approvedNurseId,jdbcType=BIGINT},
        stop_date = #{stopDate,jdbcType=VARCHAR},
        stop_user_id = #{stopUserId,jdbcType=BIGINT},
        stop_prfing_nurse_id = #{stopPrfingNurseId,jdbcType=BIGINT},
        stop_apd_nurse_id = #{stopApdNurseId,jdbcType=BIGINT},
        total_amount = #{totalAmount,jdbcType=DECIMAL},
        create_user_id = #{createUserId,jdbcType=BIGINT},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        update_user_id = #{updateUserId,jdbcType=BIGINT},
        update_date = #{updateDate,jdbcType=TIMESTAMP},
        is_stop = #{isStop,jdbcType=INTEGER},
        order_num = #{orderNum,jdbcType=INTEGER},
        is_proofreading = #{isProofreading,jdbcType=INTEGER},
        is_approved = #{isApproved,jdbcType=INTEGER},
        medical_order_type = #{medicalOrderType,jdbcType=INTEGER},
        content = #{content,jdbcType=VARCHAR},
        start_time = #{startTime,jdbcType=TIMESTAMP},
        target_id = #{targetId,jdbcType=BIGINT},
        is_first_edit = #{isFirstEdit,jdbcType=INTEGER},
        is_stop_proofreading = #{isStopProofreading,jdbcType=INTEGER},
        isstopapproved = #{isstopapproved,jdbcType=INTEGER},
        correspond_id = #{correspondId,jdbcType=BIGINT},
        is_infusion_list = #{isInfusionList,jdbcType=INTEGER},
        infusion_number = #{infusionNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--自定义sql-->
  <select id="listDetailByNumber" parameterType="core.entity.PageBean" resultMap="BaseResultMap">
    SELECT
    a.*,
    b.user_name as pnName,
    c.user_name as anName,
    d.user_name as sanName,
    e.user_name as spnName,f.user_name as stopUserName
    FROM
    his_medical_order_detail as a
    left join `his-userinfo`.user_info as b on a.proofreading_nurse_id = b.id
    left join `his-userinfo`.user_info as c on a.approved_nurse_id = c.id
    left join `his-userinfo`.user_info as d on a.stop_prfing_nurse_id = d.id
    left join `his-userinfo`.user_info as e on a.stop_apd_nurse_id = e.id
    left join `his-userinfo`.user_info as f on a.stop_user_id = f.id
    where
    a.number = #{parameter.number,jdbcType = VARCHAR}
    <if test="parameter.orders != null and parameter.orders != ''">
      order by ${parameter.orders}
    </if>
  </select>

  <select id="selectByNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select his_medical_order_detail.*
    from his_medical_order_detail
    where number = #{parameter.number,jdbcType = VARCHAR}
    order by order_num desc
  </select>


  <select id="selectByNumberAscAndNotStop" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      a.*,
      b.user_name as pnName,
      c.user_name as anName,
      d.user_name as sanName,
      e.user_name as spnName,f.user_name as stopUserName
    FROM
      his_medical_order_detail as a
        left join `his-userinfo`.user_info as b on a.proofreading_nurse_id = b.id
        left join `his-userinfo`.user_info as c on a.approved_nurse_id = c.id
        left join `his-userinfo`.user_info as d on a.stop_prfing_nurse_id = d.id
        left join `his-userinfo`.user_info as e on a.stop_apd_nurse_id = e.id
        left join `his-userinfo`.user_info as f on a.stop_user_id = f.id
    where
      a.number = #{parameter.number,jdbcType = VARCHAR} and a.is_stop = 2
    order by order_num asc
  </select>


  <!--根据医嘱编号删除所有-->
  <delete id="deleteByNumber" parameterType="java.lang.String" >
    delete
    from his_medical_order_detail
    where number = #{parameter.number,jdbcType = VARCHAR}
  </delete>

  <!--批量插入-->
  <!--useGeneratedKeys对于支持主键自增的数据库 此关键字支持在执行添加记录之后可以获取到数据库自动生成的主键ID-->
  <!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，
        keyProperty 对应的model中的主键的属性名，这里是 his_medication_details 中的id，因为它跟数据库的主键对应
        order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，
              BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，
                    这种适合那种主键不是自增的类型
        resultType 主键类型 -->
<!--  <selectKey resultType="long" keyProperty="id" order="AFTER">-->
<!--    SELECT-->
<!--    LAST_INSERT_ID()-->
<!--  </selectKey>-->
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" keyProperty="id"  >

    insert into his_medical_order_detail(id, number, name, is_skin_test, specification, unit, usages, dosage, intervals, proofreading_nurse_id,
    approved_nurse_id, stop_date, stop_user_id, stop_prfing_nurse_id, stop_apd_nurse_id,
    total_amount, create_user_id, create_date, update_user_id, update_date,order_num,is_stop,is_proofreading,is_approved, medical_order_type,content,start_time,target_id,is_first_edit,is_stop_proofreading, isstopapproved,correspond_id
    ,is_infusion_list,infusion_number )
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=BIGINT}, #{item.number,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
      #{item.isSkinTest,jdbcType=INTEGER}, #{item.specification,jdbcType=VARCHAR}, #{item.unit,jdbcType=VARCHAR},
      #{item.usages,jdbcType=VARCHAR}, #{item.dosage,jdbcType=VARCHAR}, #{item.intervals,jdbcType=INTEGER},
      #{item.proofreadingNurseId,jdbcType=BIGINT}, #{item.approvedNurseId,jdbcType=BIGINT}, #{item.stopDate,jdbcType=VARCHAR},
      #{item.stopUserId,jdbcType=BIGINT}, #{item.stopPrfingNurseId,jdbcType=BIGINT}, #{item.stopApdNurseId,jdbcType=BIGINT},
      #{item.totalAmount,jdbcType=DECIMAL}, #{item.createUserId,jdbcType=BIGINT}, #{item.createDate,jdbcType=TIMESTAMP},
      #{item.updateUserId,jdbcType=BIGINT}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.orderNum,jdbcType=INTEGER},#{item.isStop,jdbcType=INTEGER},#{item.isProofreading,jdbcType=INTEGER},#{item.isApproved,jdbcType=INTEGER}
      ,#{item.medicalOrderType,jdbcType=INTEGER},#{item.content,jdbcType=VARCHAR},#{item.startTime,jdbcType=TIMESTAMP},#{item.targetId,jdbcType=BIGINT},#{item.isFirstEdit,jdbcType=INTEGER},#{item.isStopProofreading,jdbcType=INTEGER}
      ,#{item.isstopapproved,jdbcType=INTEGER},#{item.correspondId,jdbcType=BIGINT},#{item.isInfusionList,jdbcType=INTEGER}, #{item.infusionNumber,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectByIds" resultMap="BaseResultMap">
    select his_medical_order_detail.*
      from his_medical_order_detail
        where id in
    <foreach collection="array" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
order by order_num
  </select>

  <select id="selectByInfusionNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select his_medical_order_detail.*
    from his_medical_order_detail
where infusion_number =#{infusionNumber,jdbcType=VARCHAR}
  </select>

  <select id="groupByinfusionNumber" resultType="java.lang.String">
    select his_medical_order_detail.infusion_number
    from his_medical_order_detail
    where is_infusion_list = 1 and is_stop = 2
    GROUP BY infusion_number
  </select>

</mapper>