<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.hiscore.dao.HisMedicalOrderTemplateDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.hiscore.entity.HisMedicalOrderTemplateDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="template_number" property="templateNumber" jdbcType="VARCHAR" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_skin_test" property="isSkinTest" jdbcType="INTEGER" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="usages" property="usages" jdbcType="VARCHAR" />
    <result column="dosage" property="dosage" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DOUBLE" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="intervals" property="intervals" jdbcType="INTEGER" />
    <result column="proofreading_nurse_id" property="proofreadingNurseId" jdbcType="BIGINT" />
    <result column="approved_nurse_id" property="approvedNurseId" jdbcType="BIGINT" />
    <result column="is_stop" property="isStop" jdbcType="INTEGER" />
    <result column="stop_date" property="stopDate" jdbcType="TIMESTAMP" />
    <result column="stop_user_id" property="stopUserId" jdbcType="BIGINT" />
    <result column="stop_prfing_nurse_id" property="stopPrfingNurseId" jdbcType="BIGINT" />
    <result column="stop_apd_nurse_id" property="stopApdNurseId" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, template_number, template_name, order_num, name, is_skin_test, specification, 
    unit, usages, dosage, total_amount, remarks, intervals, proofreading_nurse_id, approved_nurse_id, 
    is_stop, stop_date, stop_user_id, stop_prfing_nurse_id, stop_apd_nurse_id, create_user_id, 
    create_date, update_user_id, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from his_medical_order_template_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from his_medical_order_template_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderTemplateDetail" >
    insert into his_medical_order_template_detail (id, template_number, template_name, 
      order_num, name, is_skin_test, 
      specification, unit, usages, 
      dosage, total_amount, remarks, 
      intervals, proofreading_nurse_id, approved_nurse_id, 
      is_stop, stop_date, stop_user_id, 
      stop_prfing_nurse_id, stop_apd_nurse_id, create_user_id, 
      create_date, update_user_id, update_date
      )
    values (#{id,jdbcType=BIGINT}, #{templateNumber,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isSkinTest,jdbcType=INTEGER}, 
      #{specification,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{usages,jdbcType=VARCHAR}, 
      #{dosage,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DOUBLE}, #{remarks,jdbcType=VARCHAR}, 
      #{intervals,jdbcType=INTEGER}, #{proofreadingNurseId,jdbcType=BIGINT}, #{approvedNurseId,jdbcType=BIGINT}, 
      #{isStop,jdbcType=INTEGER}, #{stopDate,jdbcType=TIMESTAMP}, #{stopUserId,jdbcType=BIGINT}, 
      #{stopPrfingNurseId,jdbcType=BIGINT}, #{stopApdNurseId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderTemplateDetail" >
    insert into his_medical_order_template_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateNumber != null" >
        template_number,
      </if>
      <if test="templateName != null" >
        template_name,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isSkinTest != null" >
        is_skin_test,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="usages != null" >
        usages,
      </if>
      <if test="dosage != null" >
        dosage,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="intervals != null" >
        intervals,
      </if>
      <if test="proofreadingNurseId != null" >
        proofreading_nurse_id,
      </if>
      <if test="approvedNurseId != null" >
        approved_nurse_id,
      </if>
      <if test="isStop != null" >
        is_stop,
      </if>
      <if test="stopDate != null" >
        stop_date,
      </if>
      <if test="stopUserId != null" >
        stop_user_id,
      </if>
      <if test="stopPrfingNurseId != null" >
        stop_prfing_nurse_id,
      </if>
      <if test="stopApdNurseId != null" >
        stop_apd_nurse_id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="templateNumber != null" >
        #{templateNumber,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isSkinTest != null" >
        #{isSkinTest,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="usages != null" >
        #{usages,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null" >
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="intervals != null" >
        #{intervals,jdbcType=INTEGER},
      </if>
      <if test="proofreadingNurseId != null" >
        #{proofreadingNurseId,jdbcType=BIGINT},
      </if>
      <if test="approvedNurseId != null" >
        #{approvedNurseId,jdbcType=BIGINT},
      </if>
      <if test="isStop != null" >
        #{isStop,jdbcType=INTEGER},
      </if>
      <if test="stopDate != null" >
        #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopUserId != null" >
        #{stopUserId,jdbcType=BIGINT},
      </if>
      <if test="stopPrfingNurseId != null" >
        #{stopPrfingNurseId,jdbcType=BIGINT},
      </if>
      <if test="stopApdNurseId != null" >
        #{stopApdNurseId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderTemplateDetail" >
    update his_medical_order_template_detail
    <set >
      <if test="templateNumber != null" >
        template_number = #{templateNumber,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        template_name = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isSkinTest != null" >
        is_skin_test = #{isSkinTest,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="usages != null" >
        usages = #{usages,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null" >
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="intervals != null" >
        intervals = #{intervals,jdbcType=INTEGER},
      </if>
      <if test="proofreadingNurseId != null" >
        proofreading_nurse_id = #{proofreadingNurseId,jdbcType=BIGINT},
      </if>
      <if test="approvedNurseId != null" >
        approved_nurse_id = #{approvedNurseId,jdbcType=BIGINT},
      </if>
      <if test="isStop != null" >
        is_stop = #{isStop,jdbcType=INTEGER},
      </if>
      <if test="stopDate != null" >
        stop_date = #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopUserId != null" >
        stop_user_id = #{stopUserId,jdbcType=BIGINT},
      </if>
      <if test="stopPrfingNurseId != null" >
        stop_prfing_nurse_id = #{stopPrfingNurseId,jdbcType=BIGINT},
      </if>
      <if test="stopApdNurseId != null" >
        stop_apd_nurse_id = #{stopApdNurseId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.hiscore.entity.HisMedicalOrderTemplateDetail" >
    update his_medical_order_template_detail
    set template_number = #{templateNumber,jdbcType=VARCHAR},
      template_name = #{templateName,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      is_skin_test = #{isSkinTest,jdbcType=INTEGER},
      specification = #{specification,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      usages = #{usages,jdbcType=VARCHAR},
      dosage = #{dosage,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      remarks = #{remarks,jdbcType=VARCHAR},
      intervals = #{intervals,jdbcType=INTEGER},
      proofreading_nurse_id = #{proofreadingNurseId,jdbcType=BIGINT},
      approved_nurse_id = #{approvedNurseId,jdbcType=BIGINT},
      is_stop = #{isStop,jdbcType=INTEGER},
      stop_date = #{stopDate,jdbcType=TIMESTAMP},
      stop_user_id = #{stopUserId,jdbcType=BIGINT},
      stop_prfing_nurse_id = #{stopPrfingNurseId,jdbcType=BIGINT},
      stop_apd_nurse_id = #{stopApdNurseId,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--自定义sql-->
  <!--根据模板编号查看对应模板明细-->
  <select id="list" parameterType="core.entity.PageBean" resultMap="BaseResultMap">
    select his_medical_order_template_detail.*
    from his_medical_order_template_detail
  where template_number =#{parameter.templateNumber,jdbcType=VARCHAR}
    <if test="parameter.orders != null and parameter.orders != ''">
      order by ${parameter.orders}
    </if>
  </select>

  <select id="selectByTemplateNumberOrderByOrderNum" parameterType="java.lang.String" resultMap="BaseResultMap">
    select his_medical_order_template_detail.*
    from his_medical_order_template_detail
    where template_number =#{parameter.templateNumber,jdbcType=VARCHAR}
order by order_num desc
  </select>

  <!--根据医嘱模板编号删除所有对应的用药记录-->
  <delete id="deleteByTemplateNumber" parameterType="java.lang.String" >
    delete
    from his_medical_order_template_detail
    where template_number =#{parameter.templateNumber,jdbcType=VARCHAR}
  </delete>

  <!--批量插入-->
  <!--useGeneratedKeys对于支持主键自增的数据库 此关键字支持在执行添加记录之后可以获取到数据库自动生成的主键ID-->
  <!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，
        keyProperty 对应的model中的主键的属性名，这里是 his_medication_details 中的id，因为它跟数据库的主键对应
        order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，
              BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，
                    这种适合那种主键不是自增的类型
        resultType 主键类型 -->
<!--  <selectKey resultType="long" keyProperty="id" order="AFTER">
    SELECT
    LAST_INSERT_ID()
  </selectKey>-->
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" keyProperty="id">

    insert into his_medical_order_template_detail(id, template_number, template_name, order_num, name, is_skin_test, specification,
    unit, usages, dosage, total_amount, remarks, intervals, proofreading_nurse_id, approved_nurse_id,
    is_stop, stop_date, stop_user_id, stop_prfing_nurse_id, stop_apd_nurse_id, create_user_id,
    create_date, update_user_id, update_date)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=BIGINT}, #{item.templateNumber,jdbcType=VARCHAR}, #{item.templateName,jdbcType=VARCHAR},
      #{item.orderNum,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.isSkinTest,jdbcType=INTEGER},
      #{item.specification,jdbcType=VARCHAR}, #{item.unit,jdbcType=VARCHAR}, #{item.usages,jdbcType=VARCHAR},
      #{item.dosage,jdbcType=VARCHAR}, #{item.totalAmount,jdbcType=DOUBLE}, #{item.remarks,jdbcType=VARCHAR},
      #{item.intervals,jdbcType=INTEGER}, #{item.proofreadingNurseId,jdbcType=BIGINT}, #{item.approvedNurseId,jdbcType=BIGINT},
      #{item.isStop,jdbcType=INTEGER}, #{item.stopDate,jdbcType=TIMESTAMP}, #{item.stopUserId,jdbcType=BIGINT},
      #{item.stopPrfingNurseId,jdbcType=BIGINT}, #{item.stopApdNurseId,jdbcType=BIGINT}, #{item.createUserId,jdbcType=BIGINT},
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateUserId,jdbcType=BIGINT}, #{item.updateDate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>