<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.hiscore.dao.HisNursingAssessmentMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.hiscore.entity.HisNursingAssessment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="his_hospital_manage_id" property="hisHospitalManageId" jdbcType="BIGINT" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="cause" property="cause" jdbcType="VARCHAR" />
    <result column="way" property="way" jdbcType="VARCHAR" />
    <result column="previous_history" property="previousHistory" jdbcType="VARCHAR" />
    <result column="allergic_history" property="allergicHistory" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="body_temperature" property="bodyTemperature" jdbcType="DOUBLE" />
    <result column="pulse" property="pulse" jdbcType="VARCHAR" />
    <result column="breathe" property="breathe" jdbcType="VARCHAR" />
    <result column="blood_pressure" property="bloodPressure" jdbcType="VARCHAR" />
    <result column="is_mind" property="isMind" jdbcType="INTEGER" />
    <result column="is_face" property="isFace" jdbcType="INTEGER" />
    <result column="is_feeling" property="isFeeling" jdbcType="INTEGER" />
    <result column="vision" property="vision" jdbcType="VARCHAR" />
    <result column="ear" property="ear" jdbcType="VARCHAR" />
    <result column="competence" property="competence" jdbcType="INTEGER" />
    <result column="communication" property="communication" jdbcType="INTEGER" />
    <result column="savvy" property="savvy" jdbcType="INTEGER" />
    <result column="oral_mucosa" property="oralMucosa" jdbcType="INTEGER" />
    <result column="false_tooth" property="falseTooth" jdbcType="INTEGER" />
    <result column="skin" property="skin" jdbcType="VARCHAR" />
    <result column="fours" property="fours" jdbcType="VARCHAR" />
    <result column="discharge" property="discharge" jdbcType="VARCHAR" />
    <result column="adl" property="adl" jdbcType="VARCHAR" />
    <result column="braden" property="braden" jdbcType="VARCHAR" />
    <result column="morse" property="morse" jdbcType="VARCHAR" />
    <result column="pipe_down" property="pipeDown" jdbcType="VARCHAR" />
    <result column="contour" property="contour" jdbcType="INTEGER" />
    <result column="diet" property="diet" jdbcType="VARCHAR" />
    <result column="living_habit" property="livingHabit" jdbcType="VARCHAR" />
    <result column="attitude" property="attitude" jdbcType="INTEGER" />
    <result column="educations" property="educations" jdbcType="VARCHAR" />
    <result column="plan" property="plan" jdbcType="VARCHAR" />
    <result column="teval_date" property="tevalDate" jdbcType="TIMESTAMP" />
    <result column="nurse_id" property="nurseId" jdbcType="BIGINT" />
    <result column="is_married" property="isMarried" jdbcType="INTEGER" />
    <result column="admitting_diagnosis" property="admittingDiagnosis" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, his_hospital_manage_id, nation, create_user_id, create_date, update_user_id, 
    update_date, job, education, location, telephone, cause, way, previous_history, allergic_history, 
    weight, body_temperature, pulse, breathe, blood_pressure, is_mind, is_face, is_feeling, 
    vision, ear, competence, communication, savvy, oral_mucosa, false_tooth, skin, fours, 
    discharge, adl, braden, morse, pipe_down, contour, diet, living_habit, attitude, 
    educations, plan, teval_date, nurse_id, is_married, admitting_diagnosis
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from his_nursing_assessment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from his_nursing_assessment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.hiscore.entity.HisNursingAssessment" >
    insert into his_nursing_assessment (id, his_hospital_manage_id, nation, 
      create_user_id, create_date, update_user_id, 
      update_date, job, education, 
      location, telephone, cause, 
      way, previous_history, allergic_history, 
      weight, body_temperature, pulse, 
      breathe, blood_pressure, is_mind, 
      is_face, is_feeling, vision, 
      ear, competence, communication, 
      savvy, oral_mucosa, false_tooth, 
      skin, fours, discharge, 
      adl, braden, morse, 
      pipe_down, contour, diet, 
      living_habit, attitude, educations, 
      plan, teval_date, nurse_id, 
      is_married, admitting_diagnosis)
    values (#{id,jdbcType=BIGINT}, #{hisHospitalManageId,jdbcType=BIGINT}, #{nation,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{job,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{cause,jdbcType=VARCHAR}, 
      #{way,jdbcType=VARCHAR}, #{previousHistory,jdbcType=VARCHAR}, #{allergicHistory,jdbcType=VARCHAR}, 
      #{weight,jdbcType=DOUBLE}, #{bodyTemperature,jdbcType=DOUBLE}, #{pulse,jdbcType=VARCHAR}, 
      #{breathe,jdbcType=VARCHAR}, #{bloodPressure,jdbcType=VARCHAR}, #{isMind,jdbcType=INTEGER}, 
      #{isFace,jdbcType=INTEGER}, #{isFeeling,jdbcType=INTEGER}, #{vision,jdbcType=VARCHAR}, 
      #{ear,jdbcType=VARCHAR}, #{competence,jdbcType=INTEGER}, #{communication,jdbcType=INTEGER}, 
      #{savvy,jdbcType=INTEGER}, #{oralMucosa,jdbcType=INTEGER}, #{falseTooth,jdbcType=INTEGER}, 
      #{skin,jdbcType=VARCHAR}, #{fours,jdbcType=VARCHAR}, #{discharge,jdbcType=VARCHAR}, 
      #{adl,jdbcType=VARCHAR}, #{braden,jdbcType=VARCHAR}, #{morse,jdbcType=VARCHAR}, 
      #{pipeDown,jdbcType=VARCHAR}, #{contour,jdbcType=INTEGER}, #{diet,jdbcType=VARCHAR}, 
      #{livingHabit,jdbcType=VARCHAR}, #{attitude,jdbcType=INTEGER}, #{educations,jdbcType=VARCHAR}, 
      #{plan,jdbcType=VARCHAR}, #{tevalDate,jdbcType=TIMESTAMP}, #{nurseId,jdbcType=BIGINT}, 
      #{isMarried,jdbcType=INTEGER}, #{admittingDiagnosis,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.hiscore.entity.HisNursingAssessment" >
    insert into his_nursing_assessment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hisHospitalManageId != null" >
        his_hospital_manage_id,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="cause != null" >
        cause,
      </if>
      <if test="way != null" >
        way,
      </if>
      <if test="previousHistory != null" >
        previous_history,
      </if>
      <if test="allergicHistory != null" >
        allergic_history,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="bodyTemperature != null" >
        body_temperature,
      </if>
      <if test="pulse != null" >
        pulse,
      </if>
      <if test="breathe != null" >
        breathe,
      </if>
      <if test="bloodPressure != null" >
        blood_pressure,
      </if>
      <if test="isMind != null" >
        is_mind,
      </if>
      <if test="isFace != null" >
        is_face,
      </if>
      <if test="isFeeling != null" >
        is_feeling,
      </if>
      <if test="vision != null" >
        vision,
      </if>
      <if test="ear != null" >
        ear,
      </if>
      <if test="competence != null" >
        competence,
      </if>
      <if test="communication != null" >
        communication,
      </if>
      <if test="savvy != null" >
        savvy,
      </if>
      <if test="oralMucosa != null" >
        oral_mucosa,
      </if>
      <if test="falseTooth != null" >
        false_tooth,
      </if>
      <if test="skin != null" >
        skin,
      </if>
      <if test="fours != null" >
        fours,
      </if>
      <if test="discharge != null" >
        discharge,
      </if>
      <if test="adl != null" >
        adl,
      </if>
      <if test="braden != null" >
        braden,
      </if>
      <if test="morse != null" >
        morse,
      </if>
      <if test="pipeDown != null" >
        pipe_down,
      </if>
      <if test="contour != null" >
        contour,
      </if>
      <if test="diet != null" >
        diet,
      </if>
      <if test="livingHabit != null" >
        living_habit,
      </if>
      <if test="attitude != null" >
        attitude,
      </if>
      <if test="educations != null" >
        educations,
      </if>
      <if test="plan != null" >
        plan,
      </if>
      <if test="tevalDate != null" >
        teval_date,
      </if>
      <if test="nurseId != null" >
        nurse_id,
      </if>
      <if test="isMarried != null" >
        is_married,
      </if>
      <if test="admittingDiagnosis != null" >
        admitting_diagnosis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hisHospitalManageId != null" >
        #{hisHospitalManageId,jdbcType=BIGINT},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cause != null" >
        #{cause,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        #{way,jdbcType=VARCHAR},
      </if>
      <if test="previousHistory != null" >
        #{previousHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null" >
        #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bodyTemperature != null" >
        #{bodyTemperature,jdbcType=DOUBLE},
      </if>
      <if test="pulse != null" >
        #{pulse,jdbcType=VARCHAR},
      </if>
      <if test="breathe != null" >
        #{breathe,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressure != null" >
        #{bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="isMind != null" >
        #{isMind,jdbcType=INTEGER},
      </if>
      <if test="isFace != null" >
        #{isFace,jdbcType=INTEGER},
      </if>
      <if test="isFeeling != null" >
        #{isFeeling,jdbcType=INTEGER},
      </if>
      <if test="vision != null" >
        #{vision,jdbcType=VARCHAR},
      </if>
      <if test="ear != null" >
        #{ear,jdbcType=VARCHAR},
      </if>
      <if test="competence != null" >
        #{competence,jdbcType=INTEGER},
      </if>
      <if test="communication != null" >
        #{communication,jdbcType=INTEGER},
      </if>
      <if test="savvy != null" >
        #{savvy,jdbcType=INTEGER},
      </if>
      <if test="oralMucosa != null" >
        #{oralMucosa,jdbcType=INTEGER},
      </if>
      <if test="falseTooth != null" >
        #{falseTooth,jdbcType=INTEGER},
      </if>
      <if test="skin != null" >
        #{skin,jdbcType=VARCHAR},
      </if>
      <if test="fours != null" >
        #{fours,jdbcType=VARCHAR},
      </if>
      <if test="discharge != null" >
        #{discharge,jdbcType=VARCHAR},
      </if>
      <if test="adl != null" >
        #{adl,jdbcType=VARCHAR},
      </if>
      <if test="braden != null" >
        #{braden,jdbcType=VARCHAR},
      </if>
      <if test="morse != null" >
        #{morse,jdbcType=VARCHAR},
      </if>
      <if test="pipeDown != null" >
        #{pipeDown,jdbcType=VARCHAR},
      </if>
      <if test="contour != null" >
        #{contour,jdbcType=INTEGER},
      </if>
      <if test="diet != null" >
        #{diet,jdbcType=VARCHAR},
      </if>
      <if test="livingHabit != null" >
        #{livingHabit,jdbcType=VARCHAR},
      </if>
      <if test="attitude != null" >
        #{attitude,jdbcType=INTEGER},
      </if>
      <if test="educations != null" >
        #{educations,jdbcType=VARCHAR},
      </if>
      <if test="plan != null" >
        #{plan,jdbcType=VARCHAR},
      </if>
      <if test="tevalDate != null" >
        #{tevalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nurseId != null" >
        #{nurseId,jdbcType=BIGINT},
      </if>
      <if test="isMarried != null" >
        #{isMarried,jdbcType=INTEGER},
      </if>
      <if test="admittingDiagnosis != null" >
        #{admittingDiagnosis,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.hiscore.entity.HisNursingAssessment" >
    update his_nursing_assessment
    <set >
      <if test="hisHospitalManageId != null" >
        his_hospital_manage_id = #{hisHospitalManageId,jdbcType=BIGINT},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cause != null" >
        cause = #{cause,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        way = #{way,jdbcType=VARCHAR},
      </if>
      <if test="previousHistory != null" >
        previous_history = #{previousHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null" >
        allergic_history = #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bodyTemperature != null" >
        body_temperature = #{bodyTemperature,jdbcType=DOUBLE},
      </if>
      <if test="pulse != null" >
        pulse = #{pulse,jdbcType=VARCHAR},
      </if>
      <if test="breathe != null" >
        breathe = #{breathe,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressure != null" >
        blood_pressure = #{bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="isMind != null" >
        is_mind = #{isMind,jdbcType=INTEGER},
      </if>
      <if test="isFace != null" >
        is_face = #{isFace,jdbcType=INTEGER},
      </if>
      <if test="isFeeling != null" >
        is_feeling = #{isFeeling,jdbcType=INTEGER},
      </if>
      <if test="vision != null" >
        vision = #{vision,jdbcType=VARCHAR},
      </if>
      <if test="ear != null" >
        ear = #{ear,jdbcType=VARCHAR},
      </if>
      <if test="competence != null" >
        competence = #{competence,jdbcType=INTEGER},
      </if>
      <if test="communication != null" >
        communication = #{communication,jdbcType=INTEGER},
      </if>
      <if test="savvy != null" >
        savvy = #{savvy,jdbcType=INTEGER},
      </if>
      <if test="oralMucosa != null" >
        oral_mucosa = #{oralMucosa,jdbcType=INTEGER},
      </if>
      <if test="falseTooth != null" >
        false_tooth = #{falseTooth,jdbcType=INTEGER},
      </if>
      <if test="skin != null" >
        skin = #{skin,jdbcType=VARCHAR},
      </if>
      <if test="fours != null" >
        fours = #{fours,jdbcType=VARCHAR},
      </if>
      <if test="discharge != null" >
        discharge = #{discharge,jdbcType=VARCHAR},
      </if>
      <if test="adl != null" >
        adl = #{adl,jdbcType=VARCHAR},
      </if>
      <if test="braden != null" >
        braden = #{braden,jdbcType=VARCHAR},
      </if>
      <if test="morse != null" >
        morse = #{morse,jdbcType=VARCHAR},
      </if>
      <if test="pipeDown != null" >
        pipe_down = #{pipeDown,jdbcType=VARCHAR},
      </if>
      <if test="contour != null" >
        contour = #{contour,jdbcType=INTEGER},
      </if>
      <if test="diet != null" >
        diet = #{diet,jdbcType=VARCHAR},
      </if>
      <if test="livingHabit != null" >
        living_habit = #{livingHabit,jdbcType=VARCHAR},
      </if>
      <if test="attitude != null" >
        attitude = #{attitude,jdbcType=INTEGER},
      </if>
      <if test="educations != null" >
        educations = #{educations,jdbcType=VARCHAR},
      </if>
      <if test="plan != null" >
        plan = #{plan,jdbcType=VARCHAR},
      </if>
      <if test="tevalDate != null" >
        teval_date = #{tevalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nurseId != null" >
        nurse_id = #{nurseId,jdbcType=BIGINT},
      </if>
      <if test="isMarried != null" >
        is_married = #{isMarried,jdbcType=INTEGER},
      </if>
      <if test="admittingDiagnosis != null" >
        admitting_diagnosis = #{admittingDiagnosis,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.hiscore.entity.HisNursingAssessment" >
    update his_nursing_assessment
    set his_hospital_manage_id = #{hisHospitalManageId,jdbcType=BIGINT},
      nation = #{nation,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      job = #{job,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      cause = #{cause,jdbcType=VARCHAR},
      way = #{way,jdbcType=VARCHAR},
      previous_history = #{previousHistory,jdbcType=VARCHAR},
      allergic_history = #{allergicHistory,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      body_temperature = #{bodyTemperature,jdbcType=DOUBLE},
      pulse = #{pulse,jdbcType=VARCHAR},
      breathe = #{breathe,jdbcType=VARCHAR},
      blood_pressure = #{bloodPressure,jdbcType=VARCHAR},
      is_mind = #{isMind,jdbcType=INTEGER},
      is_face = #{isFace,jdbcType=INTEGER},
      is_feeling = #{isFeeling,jdbcType=INTEGER},
      vision = #{vision,jdbcType=VARCHAR},
      ear = #{ear,jdbcType=VARCHAR},
      competence = #{competence,jdbcType=INTEGER},
      communication = #{communication,jdbcType=INTEGER},
      savvy = #{savvy,jdbcType=INTEGER},
      oral_mucosa = #{oralMucosa,jdbcType=INTEGER},
      false_tooth = #{falseTooth,jdbcType=INTEGER},
      skin = #{skin,jdbcType=VARCHAR},
      fours = #{fours,jdbcType=VARCHAR},
      discharge = #{discharge,jdbcType=VARCHAR},
      adl = #{adl,jdbcType=VARCHAR},
      braden = #{braden,jdbcType=VARCHAR},
      morse = #{morse,jdbcType=VARCHAR},
      pipe_down = #{pipeDown,jdbcType=VARCHAR},
      contour = #{contour,jdbcType=INTEGER},
      diet = #{diet,jdbcType=VARCHAR},
      living_habit = #{livingHabit,jdbcType=VARCHAR},
      attitude = #{attitude,jdbcType=INTEGER},
      educations = #{educations,jdbcType=VARCHAR},
      plan = #{plan,jdbcType=VARCHAR},
      teval_date = #{tevalDate,jdbcType=TIMESTAMP},
      nurse_id = #{nurseId,jdbcType=BIGINT},
      is_married = #{isMarried,jdbcType=INTEGER},
      admitting_diagnosis = #{admittingDiagnosis,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByhisHospitalManageId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from his_nursing_assessment
    where  his_hospital_manage_id= #{hisHospitalManageId,jdbcType=BIGINT}
  </select>

  <select id="selectByNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from his_nursing_assessment
    where  his_hospital_manage_id= (
    select id from his_hospital_manage where number =#{number}
    )
  </select>
</mapper>