<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.hiscore.dao.HisStageSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.hiscore.entity.HisStageSummary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="join_date" property="joinDate" jdbcType="DATE" />
    <result column="summary_date" property="summaryDate" jdbcType="DATE" />
    <result column="admission_situation" property="admissionSituation" jdbcType="VARCHAR" />
    <result column="admission_diagnosis" property="admissionDiagnosis" jdbcType="VARCHAR" />
    <result column="current_diagnosis" property="currentDiagnosis" jdbcType="VARCHAR" />
    <result column="medical_treatment" property="medicalTreatment" jdbcType="VARCHAR" />
    <result column="current_situation" property="currentSituation" jdbcType="VARCHAR" />
    <result column="medical_plan" property="medicalPlan" jdbcType="VARCHAR" />
    <result column="medical_number" property="medicalNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, create_user_id, update_date, update_user_id, join_date, summary_date, 
    admission_situation, admission_diagnosis, current_diagnosis, medical_treatment, current_situation, 
    medical_plan, medical_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from his_stage_summary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from his_stage_summary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.hiscore.entity.HisStageSummary" >
    insert into his_stage_summary (id, create_date, create_user_id, 
      update_date, update_user_id, join_date, 
      summary_date, admission_situation, admission_diagnosis, 
      current_diagnosis, medical_treatment, current_situation, 
      medical_plan, medical_number)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=DATE}, #{createUserId,jdbcType=BIGINT}, 
      #{updateDate,jdbcType=DATE}, #{updateUserId,jdbcType=BIGINT}, #{joinDate,jdbcType=DATE}, 
      #{summaryDate,jdbcType=DATE}, #{admissionSituation,jdbcType=VARCHAR}, #{admissionDiagnosis,jdbcType=VARCHAR}, 
      #{currentDiagnosis,jdbcType=VARCHAR}, #{medicalTreatment,jdbcType=VARCHAR}, #{currentSituation,jdbcType=VARCHAR}, 
      #{medicalPlan,jdbcType=VARCHAR}, #{medicalNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.hiscore.entity.HisStageSummary" >
    insert into his_stage_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="joinDate != null" >
        join_date,
      </if>
      <if test="summaryDate != null" >
        summary_date,
      </if>
      <if test="admissionSituation != null" >
        admission_situation,
      </if>
      <if test="admissionDiagnosis != null" >
        admission_diagnosis,
      </if>
      <if test="currentDiagnosis != null" >
        current_diagnosis,
      </if>
      <if test="medicalTreatment != null" >
        medical_treatment,
      </if>
      <if test="currentSituation != null" >
        current_situation,
      </if>
      <if test="medicalPlan != null" >
        medical_plan,
      </if>
      <if test="medicalNumber != null" >
        medical_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="joinDate != null" >
        #{joinDate,jdbcType=DATE},
      </if>
      <if test="summaryDate != null" >
        #{summaryDate,jdbcType=DATE},
      </if>
      <if test="admissionSituation != null" >
        #{admissionSituation,jdbcType=VARCHAR},
      </if>
      <if test="admissionDiagnosis != null" >
        #{admissionDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="currentDiagnosis != null" >
        #{currentDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="medicalTreatment != null" >
        #{medicalTreatment,jdbcType=VARCHAR},
      </if>
      <if test="currentSituation != null" >
        #{currentSituation,jdbcType=VARCHAR},
      </if>
      <if test="medicalPlan != null" >
        #{medicalPlan,jdbcType=VARCHAR},
      </if>
      <if test="medicalNumber != null" >
        #{medicalNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.hiscore.entity.HisStageSummary" >
    update his_stage_summary
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="joinDate != null" >
        join_date = #{joinDate,jdbcType=DATE},
      </if>
      <if test="summaryDate != null" >
        summary_date = #{summaryDate,jdbcType=DATE},
      </if>
      <if test="admissionSituation != null" >
        admission_situation = #{admissionSituation,jdbcType=VARCHAR},
      </if>
      <if test="admissionDiagnosis != null" >
        admission_diagnosis = #{admissionDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="currentDiagnosis != null" >
        current_diagnosis = #{currentDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="medicalTreatment != null" >
        medical_treatment = #{medicalTreatment,jdbcType=VARCHAR},
      </if>
      <if test="currentSituation != null" >
        current_situation = #{currentSituation,jdbcType=VARCHAR},
      </if>
      <if test="medicalPlan != null" >
        medical_plan = #{medicalPlan,jdbcType=VARCHAR},
      </if>
      <if test="medicalNumber != null" >
        medical_number = #{medicalNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.hiscore.entity.HisStageSummary" >
    update his_stage_summary
    set create_date = #{createDate,jdbcType=DATE},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=DATE},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      join_date = #{joinDate,jdbcType=DATE},
      summary_date = #{summaryDate,jdbcType=DATE},
      admission_situation = #{admissionSituation,jdbcType=VARCHAR},
      admission_diagnosis = #{admissionDiagnosis,jdbcType=VARCHAR},
      current_diagnosis = #{currentDiagnosis,jdbcType=VARCHAR},
      medical_treatment = #{medicalTreatment,jdbcType=VARCHAR},
      current_situation = #{currentSituation,jdbcType=VARCHAR},
      medical_plan = #{medicalPlan,jdbcType=VARCHAR},
      medical_number = #{medicalNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--  自定义sql-->
  <select id="selectByHosNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from his_stage_summary
    where
    hospital_number = #{number,jdbcType=VARCHAR}
  </select>
</mapper>