<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.hiscore.dao.NursingRecordWordMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.hiscore.entity.NursingRecordWord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="hospital_number" property="hospitalNumber" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_user_id, create_date, update_user_id, update_date, file_name, file_path, 
    hospital_number, num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nursing_record_word
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nursing_record_word
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.hiscore.entity.NursingRecordWord" >
    insert into nursing_record_word (id, create_user_id, create_date, 
      update_user_id, update_date, file_name, 
      file_path, hospital_number, num
      )
    values (#{id,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, #{createDate,jdbcType=DATE}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateDate,jdbcType=DATE}, #{fileName,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{hospitalNumber,jdbcType=VARCHAR}, #{num,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.hiscore.entity.NursingRecordWord" >
    insert into nursing_record_word
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="hospitalNumber != null" >
        hospital_number,
      </if>
      <if test="num != null" >
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="hospitalNumber != null" >
        #{hospitalNumber,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.hiscore.entity.NursingRecordWord" >
    update nursing_record_word
    <set >
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="hospitalNumber != null" >
        hospital_number = #{hospitalNumber,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.hiscore.entity.NursingRecordWord" >
    update nursing_record_word
    set create_user_id = #{createUserId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=DATE},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=DATE},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      hospital_number = #{hospitalNumber,jdbcType=VARCHAR},
      num = #{num,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--  自定义sql-->
  <select id="list" parameterType="core.entity.PageBean" resultMap="BaseResultMap">
    select
    a.*,
    b.user_name as operatorName
    from `his-rpac`.`nursing_record_word` as a
    left join `his-userinfo`.`user_info` as b on a.create_user_id = b.id
    where
    a.hospital_number = #{parameter.hospitalNumber,jdbcType=VARCHAR}
    <if test="parameter.fileName != null and parameter.fileName != ''">
      and a.file_name like concat('%' #{parameter.fileName,jdbcType=VARCHAR},'%')
    </if>
    <if test="parameter.orders != null and parameter.orders != ''">
      order by ${parameter.orders}
    </if>
  </select>
</mapper>