<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!-- Form with validation -->
<div class="row">
    <div class="col s12 m12 l12 xl12">
        <div id="validation" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">病历模板详细信息</h4><label style="color:black">Medical record template details

            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input id="id" name="id" type="hidden" th:value="${hisMedicalTemplate.id}">
                    <div class="row">
                        <div class="input-field col s2 l2 xl2">
                            <input id="name" name="name" type="text" th:value="${hisMedicalTemplate.name}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="name">模 板 名 称<span style="font-size: 12px">(Template name
)</span></label>
                        </div>
                        <div class="input-field col s2 l2 xl2">
                            <input id="descrption" name="descrption" type="text"  th:value="${hisMedicalTemplate.descrption}"/>
                            <label for="descrption">模 板 描 述<span style="font-size: 12px">(Template description
)</span></label>
                        </div>
                        <div class="input-field col s2 l2 xl2">
                            <input ahsj:select name="permissionType" id="permissionType" type="code" typeKey="permission_type"
                                   th:value="${hisMedicalTemplate.permissionType}"/>
                            <label for="permissionType">使用权限<span style="font-size: 12px">(Use rights
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 x12 m12 l12 xl12">
                                    <textarea type="text" id="chiefcomplaint" class="materialize-textarea"
                                              th:text="${hisMedicalTemplate.chiefcomplaint}"
                                              name="chiefcomplaint" data-length="255"></textarea>
                            <label for="chiefcomplaint" class="active">主 诉<span style="font-size: 12px">(Chief complaint

)</span></label>
                        </div>
                        <div class="input-field col s12 x12 m12 l12 xl12">
                                    <textarea type="text" id="hiscondition" class="materialize-textarea"
                                              th:text="${hisMedicalTemplate.hiscondition}"
                                              name="hiscondition"
                                              data-length="255"></textarea>
                            <label for="hiscondition" class="active">既 往 病 史<span style="font-size: 12px">(Past medical history

)</span></label>
                        </div>
                        <div class="input-field col s12 x12 m12 l12 xl12">
                                    <textarea type="text" id="nowCondition" class="materialize-textarea"
                                              th:text="${hisMedicalTemplate.nowCondition}"
                                              name="nowCondition"
                                              data-length="255"></textarea>
                            <label for="nowCondition" class="active">现 在 病 史<span style="font-size: 12px">(Current history

)</span></label>
                        </div>
                        <div class="input-field col s12 x12 m12 l12 xl12">
                                    <textarea type="text" id="personalHistory" class="materialize-textarea"
                                              th:text="${hisMedicalTemplate.personalHistory}"
                                              name="personalHistory"
                                              data-length="255"></textarea>
                            <label for="personalHistory" class="active">个 人 史<span style="font-size: 12px">(Personal history

)</span></label>
                        </div>
                        <div class="input-field col s12 x12 m12 l12 xl12">
                                    <textarea type="text" id="allergies" class="materialize-textarea"
                                              name="allergies"
                                              th:text="${hisMedicalTemplate.allergies}"
                                              data-length="255">
                                    </textarea>
                            <label for="allergies">过 敏 史<span style="font-size: 12px">(allergies

)</span></label>
                        </div>
                        <div class="input-field col s12 x12 m12 l12 xl12">
                                                                    <textarea type="text" id="familyHistory"
                                                                              class="materialize-textarea"
                                                                              name="familyHistory"
                                                                              th:text="${hisMedicalTemplate.familyHistory}"
                                                                              data-length="255">
                                                                    </textarea>
                            <label for="familyHistory">家 族 史<span style="font-size: 12px">(familyHistory

)</span></label>
                        </div>
                        <div class="input-field col s12 x12 m12 l12 xl12">
                                    <textarea type="text" id="other" class="materialize-textarea" name="other"
                                              th:text="${hisMedicalTemplate.other}"
                                              data-length="255"></textarea>
                            <label for="other" class="active">其 他 诊 断<span style="font-size: 12px">(Other diagnosis
)</span></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_list_script :: html"></div>
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">


    $("input").change(function(){
        $(this).val($(this).val().trim());
    });

</script>

</body>

</html>
