<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="public/tree_layout :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="row">
        <div class="col s4 l4 xl4 m4 xl4">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="portlet light">
                            <div class="portlet-body form">
                                <div id="organizationScroller">
                                    <div id="organzationTreeDemo" class="ztree">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4 l4 xl4 m4 xl4">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <form id="searchForm" class="row" action="">
                            <div class="portlet light">
                                <div class="portlet-body form">
                                    <div id="scroller">
                                        <div id="treeDemo" class="ztree">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                    name="action">提 交（submit）
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>

</div>
<div th:replace="public/tree_script :: html"></div>

<script th:inline="javascript">
    $('#send_btn').click(function () {
       doOk();
    });
    var ztree;
    var organizationTree;
    $(function () {
        var contentHeight = $(window).height() - 40;
        $('.portlet').height(contentHeight);
        $("#scroller").height(contentHeight/2);
        $("#organizationScroller").height(contentHeight/2);
        // 初期化按钮事件
        initButton();
        // 初期化树
        initTree();

        $("#scroller").mCustomScrollbar({
            theme: "dark-thin",
            axis: "y"
        });
        $("#organizationScroller").mCustomScrollbar({
            theme: "dark-thin",
            axis: "y"
        });
    });

    // 按钮事件初始化
    function initButton() {
    }

    var setting = {
        check: {
            enable: true,
            nocheckInherit: true,
            chkboxType: {"Y": "ps", "N": "s"}
        },
        async: {
            enable: false
        },
        view: {
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };
    var organizationSetting = {
        check: {
            enable: true,
            nocheckInherit: true,
            chkboxType: {"Y": "ps", "N": "s"}
        },
        view: {
            selectedMulti: false
        },
        async: {
            enable: true,
            url: CTX + "/api/organization/treeCode.ahsj?token=" + TOKEN,
            autoParam: ["id", "name=n", "level=lv"],
            headers: {
                Authorization: "Bearer " + TOKEN
            }
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    function initTree() {
        organizationTree = $.fn.zTree.init($("#organzationTreeDemo"), organizationSetting);
        $.ahsjajax(CTX + "/api/organization/menu/listMenuTree.ahsj",
            {token: TOKEN},
            function (msg) {//msg为返回的数据，在这里做数据绑定
                ztree = $.fn.zTree.init($("#treeDemo"), setting, msg);
            });

    }

    function doOk() {
        var nodes = ztree.getCheckedNodes(true);
        var organizationNodes = organizationTree.getCheckedNodes(true);
        if (organizationNodes == null || organizationNodes.length == 0){
            dialog.warn("没有选择部门科室！");
            return false;
        }
        if (nodes == null || nodes.length == 0) {
            dialog.warn("没有选择菜单！");
            return false;
        }
        var treeIds = [];
        var organizationTreeIds = [];
        var checks = [];
        for (var i = 0; i < nodes.length; i++) {
            treeIds.push(nodes[i].id);
        }
        for (var i = 0;i < organizationNodes.length ; i++){
            organizationTreeIds.push(organizationNodes[i].id);
        }
        dialog.confirm("确定要设置菜单吗？", function () {
            $.ahsjajax(CTX + "/api/organization/setMenuByOrgId.ahsj",
                {
                    permissionIds: treeIds.join(','),
                    organizationIds : organizationTreeIds.join(',')
                },
                function (msg) {//msg为返回的数据，在这里做数据绑定
                    if (msg.success) {
                        dialog.success(msg.message,
                            function () {
                                dialog.parentclose();
                            }
                        );
                    } else {
                        dialog.warn(msg.message);
                    }
                });
        },false);
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>
</body>
</html>

