<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<!-- Form with validation -->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">交班记录新增</h4>
                <label style="color:black">Shift record added</label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${hisHandover.Id}">
                    <input type="hidden" id="hospitalNumber" name="hospitalNumber"
                           th:value="${hisHandover.hospitalNumber}">
                    <div class="row">
                        <div class="input-field col s2">
                            <input type="text" id="joinDate" class="datepicker" name="joinDate"
                                   th:placeholder="${#dates.format(hisHandover.joinDate, 'yyyy-MM-dd HH:mm:ss')}"
                                   th:value="${#dates.format(hisHandover.joinDate, 'yyyy-MM-dd HH:mm:ss')}"/>
                            <label for="joinDate">入 院 时 间<span style="font-size: 12px">(join Date)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                                    <textarea type="text" id="admissionSituation" class="materialize-textarea"
                                              th:text="${hisHandover.admissionSituation}"
                                              name="admissionSituation" data-length="255"></textarea>
                            <label for="admissionSituation" class="active">入 院 情 况<span style="font-size: 12px">(Admission situation)</span></label>
                        </div>
                        <div class="input-field col s12">
                            <textarea type="text" id="admissionDiagnosis" class="materialize-textarea" th:text="${hisHandover.admissionDiagnosis}" name="admissionDiagnosis" data-length="255">
                            </textarea>
                            <label for="admissionDiagnosis" class="active">入 院 诊 断<span style="font-size: 12px">(Admission diagnosis)</span></label>
                        </div>
                        <div class="input-field col s12">
                                <textarea type="text" id="cuurentDiagnosis" class="materialize-textarea"
                                          th:text="${hisHandover.cuurentDiagnosis}"
                                          name="cuurentDiagnosis" data-length="255"></textarea>
                            <label for="cuurentDiagnosis" class="active">当 前 诊 断<span style="font-size: 12px">(Current diagnosis)</span></label>
                        </div>
                        <div class="input-field col s12">
                            <textarea type="text" id="mediTreatmentProcess" class="materialize-textarea"
                                      th:text="${hisHandover.mediTreatmentProcess}"
                                      name="mediTreatmentProcess" data-length="255"></textarea>
                            <label for="mediTreatmentProcess" class="active">诊 疗 经 过<span
                                    style="font-size: 12px">(Medical treatment)</span></label>
                        </div>
                        <div class="input-field col s12">
                            <textarea type="text" id="handoverConsiderations" class="materialize-textarea"
                                  th:text="${hisHandover.handoverConsiderations}"
                                  name="handoverConsiderations" data-length="255"></textarea>
                            <label for="handoverConsiderations" class="active">交 班 注 意 事 项<span
                                    style="font-size: 12px">(Handover considerations)</span>
                            </label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12" th:if="${flag}">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提 交
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">
    $(function () {
        formCheck();
    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {},
            messages: {},
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero) {
                    var queryString = $('#sendForm').serialize();
                    $.ahsjajax(
                        CTX + "/api/handover/saveOrUpdate.ahsj?token=" + TOKEN,
                        queryString,
                        function (msg) {
                            if (msg.success) {
                                M.toast({html: msg.message});
                                parent.grid.search();
                                dialog.parentclose();
                                return false;
                            } else {
                                M.toast({html: msg.message});
                                return false;
                            }
                        },
                        function () {
                            M.toast({html: "网络异常"});
                            return false;
                        }
                    );
                });
            }

        });
    }


    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>


</body>

</html>
