<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!--Form Advance-->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 800px;">
            <div class="card-content">
                <h4 class="card-title">企业信息修改</h4><label style="color:black">
            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${enterpriseInfoVO.id}">
                    <input type="hidden" id="provinceId" name="" th:value="${enterpriseInfoVO.provinceId}">
                    <input type="hidden" id="cityId" name="" th:value="${enterpriseInfoVO.cityId}">
                    <input type="hidden" id="areaId" name="" th:value="${enterpriseInfoVO.areaId}">
                    <div class="row">

                        <div class="input-field col s4 l4 xl4">
                            <input id="name" name="name" type="text" th:value="${enterpriseInfoVO.name}"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label for="name">公司名称</label>
                        </div>

                       <div class="col input-field s4 m4 l4">
                            <select ahsj:select name="scale" id="scale" type="code" typeKey="is_company_size" th:value="${enterpriseInfoVO.scale}">
                            </select>
                            <label for="scale">公司规模</label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="legalName" name="legalName" type="text" th:value="${enterpriseInfoVO.legalName}">
                            <label for="legalName">法人姓名</label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="landlineNumber" name="landlineNumber" type="text" th:value="${enterpriseInfoVO.landlineNumber}">
                            <label for="landlineNumber">座机号码</label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="idCard" name="idCard" type="text" th:value="${enterpriseInfoVO.idCard}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="idCard">身份证号码</label>
                        </div>
                       <div class="input-field col s4 l4 xl4">
                            <input id="unifiedSocialCreditCode" name="unifiedSocialCreditCode" type="text" th:value="${enterpriseInfoVO.unifiedSocialCreditCode}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="unifiedSocialCreditCode">组织机构代码</label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="phone" name="phone" type="text" th:value="${enterpriseInfoVO.phone}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="phone">手机号码</label>
                        </div>

                        <div class="input-field col s4 m4 l4">
                            <div class="">
                                <select name="provinceId" id="select_1">
                                    <option>选择省份</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field col s4 m4 l4">
                            <div class="">
                                <select name="cityId" id="select_2">
                                    <option>选择城市</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field col s4 m4 l4">
                            <div class="">
                                <select name="areaId" id="select_3">
                                    <option>选择区</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="address" name="address" type="text" th:value="${enterpriseInfoVO.address}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="address">地址</label>
                        </div>

                   <!--     <div class="col input-field s4 m4 l4">
                            <select ahsj:select name="isVerify" id="isVerify" type="code" typeKey="is_verify" th:value="${enterpriseInfoVO.isVerify}">
                            </select>
                            <label for="isVerify">验证状态</label>
                        </div>-->

                         <div class="input-field col s12 x12 m12 l12 xl12">
                                <textarea id="description" name="description" class="materialize-textarea" type="text" th:value="${enterpriseInfoVO.description}"
                                ></textarea>
                                <label for="description" class="active">单位简介</label>
                            </div>

                    </div>

                    <div class="input-field col s4 l4 xl4">
                        <input id="operatingPeriodStart" name="operatingPeriodStart" type="text" class="datepicker"   th:placeholder="${#dates.format(enterpriseInfoVO.operatingPeriodStart, 'yyyy/MM/dd')}" th:value="${#dates.format(enterpriseInfoVO.operatingPeriodStart, 'yyyy/MM/dd')}"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="operatingPeriodStart">注册时间</label>
                    </div>

                    <div class="input-field col s4 l4 xl4">
                        <input id="registeredCapital" name="registeredCapital" type="number" th:value="${enterpriseInfoVO.registeredCapital}"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="registeredCapital">注册资本</label>
                    </div>

                    <div class="col input-field s4 m4 l4">
                        <select ahsj:select name="unitNature" id="unitNature" type="code" typeKey="company_type" th:value="${enterpriseInfoVO.unitNature}">
                        </select>
                        <label for="unitNature">单位性质</label>
                    </div>


                    <div class="input-field col s4 l4 xl4">
                        <input id="operatingPeriodEnd" name="operatingPeriodEnd" type="text" class="datepicker"   th:placeholder="${#dates.format(enterpriseInfoVO.operatingPeriodEnd, 'yyyy/MM/dd')}" th:value="${#dates.format(enterpriseInfoVO.operatingPeriodEnd, 'yyyy/MM/dd')}"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label for="operatingPeriodEnd">营业期限</label>
                    </div>

                    <div class="row" style="margin-bottom: 160px">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提交
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">
/*    var provinceSelect = $("#provinceName");
    var ciytSelect = $("#cityName");
    var areaSelect = $("#areaName");*/
    $(function () {
        formCheck();
        initSelect();
        var  provinceId = $("#provinceId").val();
        var  cityId = $("#cityId").val();
        var  areaId = $("#areaId").val();
        $("#select_1").linkselect({
            url: {
                "1": "/api/region/getDataByParentId.ahsj",
                "2": "/api/region/getDataByParentId.ahsj",
                "3": "/api/region/getDataByParentId.ahsj"
            },//每一级从后端获取数据的地址
            value: {"1": provinceId,"2":cityId,"3":areaId},//每一级select的默认value,此时表示第一级选中北京,具体代表的地址看数据库，北京在本数据库中为1
            level: 3,//表示一共拥有几级联动，三级联动就写3，四级就写4，一次类推
            now: 1,//固定值，表示当前为第几级
            param: 0,//参数值，传向后端的参数，0表示获取所有的省份,因为所有省份的父ID为0
            preid: "select"//所有select的id前缀都应该是一样的，后面加上_和级别数
        });
/*        getProvince();
        getCity();
        getArea();*/

 /*       $("#provinceName").change(function () {
            var parentId = $(this).val();
            ciytSelect.empty();
            areaSelect.empty();
            var flag = $('#myCityName').val();
            $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){

                if (flag == null || flag == "" ){
                    ciytSelect.prepend("<option value='-1'>选择城市</option>");

                    $(result).each(function (i) {
                        ciytSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                    });
                }else {
                    for (var j = 0;j<result.length;++j){
                        if (flag == result[j].name){
                            ciytSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                        }
                    }
                    $(result).each(function (i) {
                        ciytSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                    })
                }

                ciytSelect.formSelect();
                areaSelect.formSelect();
            });
        });
        $("#cityName").change(function () {
            var parentId = $(this).val();
            areaSelect.empty();
            var flag = $('#myAreaName').val();
            $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){
                if (flag == null || flag == "" ){
                    areaSelect.prepend("<option value='0'>选择区</option>");
                    $(result).each(function (i) {
                        areaSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                    });
                }else {
                    for (var j = 0;j<result.length;++j){
                        if (flag == result[j].name){
                            areaSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                        }
                    }
                    $(result).each(function (i) {
                        areaSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                    })
                }
                areaSelect.formSelect();
            });
        })*/
        var select1 = $(".select2-container");
        if (select1) {
            select1.css('display', 'none');
        }
    });

    function initSelect() {
        $("#type").select2({
            minimumInputLength: 1,
            maximumInputLength: 20
        })
    }

    function formCheck() {
        $("#sendForm").validate({

            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero) {
                    var provinceSelect = $("#provinceName").val();
                    var ciytSelect = $("#cityName").val();
                    var areaSelect = $("#areaName").val();

                    var queryString = $('#sendForm').serialize();
                    console.log("queryString is" + queryString);

                    $.ahsjajax(
                        CTX + "/api/enterprise/update/enterpriseInfo.ahsj",
                        queryString,
                        function (msg) {
                            if (msg.success) {
                                M.toast({html: msg.message});
                                dialog.parentclose();
                                parent.grid.search();
                                return false;
                            } else {
                                M.toast({html: msg.message});
                                return false;
                            }
                        },
                        function () {
                            M.toast({html: "网络异常"});
                            return false;
                        }
                    );
                });
            }

        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });

 /*   function getProvince(){
        var parentId = 0;
        var flag = $('#myProvinceName').val();
        $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){
            if (flag == null || flag == "" ){
                provinceSelect.prepend("<option value='-1'>选择省份</option>");

                $(result).each(function (i) {
                    provinceSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                });
            }else {
                for (var j = 0;j<result.length;++j){
                    if (flag == result[j].name){
                        provinceSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                    }
                }
                $(result).each(function (i) {
                    provinceSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                })
            }

            provinceSelect.formSelect();
        });
    }
    function getCity(){
        var parentId = $("#cityId").val();
        var flag = $('#myCityName').val();
        $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){
            if (flag == null || flag == "" ){
                ciytSelect.prepend("<option value='0'>选择城市</option>");

                $(result).each(function (i) {
                    ciytSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                });
            }else {
                for (var j = 0;j<result.length;++j){
                    if (flag == result[j].name){
                        ciytSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                    }
                }
                $(result).each(function (i) {
                    ciytSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                })
            }

            ciytSelect.formSelect();
        });
    }
    function getArea(){
        var parentId = $("#areaId").val();
        var flag = $('#myAreaName').val();
        $.getJSON(CTX+"/api/region/queryRegions.ahsj?&token="+TOKEN+"&parentId="+parentId, function (result){
            if (flag == null || flag == "" ){
                areaSelect.prepend("<option value='0'>选择区</option>");

                $(result).each(function (i) {
                    areaSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                });
            }else {
                for (var j = 0;j<result.length;++j){
                    if (flag == result[j].name){
                        areaSelect.append("<option value='" + result[j].id + "'>" + result[j].name + "</option>");
                    }
                }
                $(result).each(function (i) {
                    areaSelect.append("<option value='" + this.id + "'>" + this.name + "</option>")
                })
            }

            areaSelect.formSelect();
        });
    }*/


</script>

</body>

</html>
