<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 680px">
            <div class="card-content">
                <h4 class="card-title">药品信息管理</h4><label style="color:black">Drug Information Management

            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input   type="hidden" id="id" name="id" th:value="${hisMedicineInfo.id}">
                    <div class="row">
                        <div class="input-field col s4 l4 xl4 " th:if = "${hisMedicineInfo.id} eq null">
                            <input id="drugs_numb" name="drugsNumb" type="text"
                                   th:value="${hisMedicineInfo.drugsNumb}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="drugs_numb">药品编号<span style="font-size: 12px">(Drug number
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4 " th:if = "${hisMedicineInfo.id} ne null">
                            <input id="drugs_numb1" name="drugsNumb" type="text"
                                   th:value="${hisMedicineInfo.drugsNumb}"
                                   th:readonly="true"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="drugs_numb1">药品编号<span style="font-size: 12px">(Drug number
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="drugs_name" name="drugsName" type="text"
                                   th:value="${hisMedicineInfo.drugsName}"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label for="drugs_name">药品名称<span style="font-size: 12px">(Drug Name)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="drugs_alias" name="drugsAlias" type="text"
                                   th:value="${hisMedicineInfo.drugsAlias}">
                            <label for="drugs_alias">药品别名<span style="font-size: 12px">(Drug alias
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="drugs_spec" name="drugsSpec" type="text"
                                   th:value="${hisMedicineInfo.drugsSpec}"
                                   data-error=".errorTxt3">
                            <div class="errorTxt3"></div>
                            <label for="drugs_spec">药品规格<span style="font-size: 12px">(Drug specifications
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="prescription" id="prescription" type="code" typeKey="prescription"
                                    th:value="${hisMedicineInfo.prescription}" disabled="disabled">
                            </select>
                            <label for="prescription">处方药<span style="font-size: 12px">(prescription
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="mentalMedicine" id="mental_medicine" type="code" typeKey="mental_medicine"
                                    th:value="${hisMedicineInfo.mentalMedicine}">
                            </select>
                            <label for="mental_medicine">精神药品<span style="font-size: 12px">(Mental medicine)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="largeUnit" name="largeUnit" type="text"
                                   th:value="${hisMedicineInfo.largeUnit}"/>
                            <label for="largeUnit">大单位<span style="font-size: 12px">(big unit
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="smallUnit" name="smallUnit" type="text"
                                   th:value="${hisMedicineInfo.smallUnit}"/>
                            <label for="smallUnit">小单位<span style="font-size: 12px">(small unit
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="conversionRate" name="conversionRate" type="number"
                                   th:value="${hisMedicineInfo.conversionRate}"
                                   data-error=".errorTxt4">
                            <div class="errorTxt4"></div>
                            <label for="conversionRate">转换率<span style="font-size: 12px">(Conversion rate
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="level" id="level" type="code" typeKey="level"
                                    th:value="${hisMedicineInfo.level}">
                            </select>
                            <label for="level">药品级别<span style="font-size: 12px">(Drug level)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="medicalInsuranceSign" id="medical_insurance_sign" type="code" typeKey="medical_insurance_sign"
                                    th:value="${hisMedicineInfo.medicalInsuranceSign}">
                            </select>
                            <label for="medical_insurance_sign">药品类型<span style="font-size: 12px">(Drug type)</span></label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="baseMedicine" id="base_medicine" type="code" typeKey="base_medicine"
                                    th:value="${hisMedicineInfo.baseMedicine}">
                            </select>
                            <label for="base_medicine">是否基药<span style="font-size: 12px">(Whether or not
)</span>  </label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="narcoticDrugs" id="narcotic_drugs" type="code" typeKey="narcotic_drugs"
                                    th:value="${hisMedicineInfo.narcoticDrugs}">
                            </select>
                            <label for="narcotic_drugs">是否麻醉药品<span style="font-size: 12px">(Whether narcotic drugs
)</span> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="enterPrice" name="enterPrice" type="number" th:value="${hisMedicineInfo.enterPrice}"
                                   />
                            <label for="enterPrice">进 价<span style="font-size: 12px">(Price)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="placeOrigin" id="placeOrigin" type="code" typeKey="placeOrigin"
                                    th:value="${hisMedicineInfo.placeOrigin}">
                            </select>
                            <label for="medical_insurance_sign">原产地<span style="font-size: 12px">(placeOrigin)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="remarks" name="remarks" type="text" th:value="${hisMedicineInfo.remarks}"/>
                            <label for="remarks">备 注<span style="font-size: 12px">(remark)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提 交(submit
                                )
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">
    $(function () {
        formCheck();

    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {
                drugsNumb: {
                    required: true,
                    minlength: 1
                },
                drugsName: {
                    required: true,
                    minlength: 1
                },
                drugsSpec: {
                    required: true,
                    minlength: 1
                },
                conversionRate: {
                    required: false,
                    maxlength: 4
                }
            },
            messages: {
                drugsNumb: {
                    required: "请输入药品编号",
                    minlength: "最少输入1个字符"
                },
                drugsName: {
                    required: "请输入药品名称",
                    minlength: "最少输入1个字符"
                },
                drugsSpec: {
                    required: "请输入药品规格",
                    minlength: "最少输入1个字符"
                },
                conversionRate: {
                    required: "",
                    maxlength: "最多输入4位数字"
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero){
                var queryString = $('#sendForm').serialize();
                console.log("queryString is" + queryString);

                $.ahsjajax(
                    CTX + "/api/hismedicineinfo/saveOrUpdate.ahsj?token=" + TOKEN,
                    queryString,
                    function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            parent.grid.search();
                            dialog.parentclose();
                            return false;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                );});
            }
        });
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
