<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.baseuserinfo.dao.UserOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.baseuserinfo.entity.UserOrganization" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="is_leader" property="isLeader" jdbcType="VARCHAR" />
    <result column="is_init_data" property="isInitData" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, dept_id, is_leader, is_init_data
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_org_rel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_org_rel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.baseuserinfo.entity.UserOrganization" >
    insert into user_org_rel (id, user_id, dept_id, 
      is_leader, is_init_data)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{deptId,jdbcType=VARCHAR}, 
      #{isLeader,jdbcType=VARCHAR}, #{isInitData,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.baseuserinfo.entity.UserOrganization" >
    insert into user_org_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="isLeader != null" >
        is_leader,
      </if>
      <if test="isInitData != null" >
        is_init_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null" >
        #{isLeader,jdbcType=VARCHAR},
      </if>
      <if test="isInitData != null" >
        #{isInitData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.baseuserinfo.entity.UserOrganization" >
    update user_org_rel
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null" >
        is_leader = #{isLeader,jdbcType=VARCHAR},
      </if>
      <if test="isInitData != null" >
        is_init_data = #{isInitData,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.baseuserinfo.entity.UserOrganization" >
    update user_org_rel
    set user_id = #{userId,jdbcType=BIGINT},
      dept_id = #{deptId,jdbcType=VARCHAR},
      is_leader = #{isLeader,jdbcType=VARCHAR},
      is_init_data = #{isInitData,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--自定义sql-->
  <!-- 批量插入 -->
  <insert id="importBatch" useGeneratedKeys="true" parameterType="java.util.List">
    <selectKey resultType="long" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>

    insert into user_org_rel (id, user_id, dept_id, is_leader,is_init_data)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, #{item.deptId,jdbcType=VARCHAR}, #{item.isLeader,jdbcType=VARCHAR},#{item.isInitData,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <delete id="deleteByUserId" parameterType="com.ahsj.baseuserinfo.entity.RoleOrganization" >
    delete from user_org_rel
    where user_id in
    <foreach collection="ids" item="id" index="index"  open="(" close=")" separator="," >
      ${id}
    </foreach>
  </delete>

  <update id="updateForHead" parameterType="com.ahsj.baseuserinfo.entity.UserOrganization" >
    update user_org_rel
    set
      is_leader = #{isLeader,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteInitData" parameterType="java.lang.String" >
    delete from user_org_rel
    where is_init_data = 1
  </delete>
</mapper>