<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>支持鼠标拖动的幻灯片焦点图插件 </title>
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]><link rel="stylesheet" href="css/ie.css"><![endif]-->
    <!--[if lte IE 9]><script type="text/javascript" src="js/ie.js"></script><![endif]-->
    <script type="text/javascript" src="js/gestures.js"></script>
    <style type="text/css">
        #rt-showcase.slider-container {
            background: #F5F6F8;
        }

        .slider-container {
            padding-top: 20px;
        }

        .slider-container .csslider1 {
            position: relative;
            display: block;
            margin: 0 auto !important;
        }
    </style>
</head>

<body id="scrollheader">
<div id="rt-page-surround">
    <!-- slider -->
    <section id="rt-showcase-surround">
        <div id="rt-showcase" class="slider-container rt-overlay-dark">
            <div class="rt-container slider-container">
                <div class="rt-grid-12 rt-alpha rt-omega">
                    <div class='csslider1 autoplay '>
                        <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'>
                        <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'>
                        <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'>
                        <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
                        <input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause'>
                        <input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause'>
                        <input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause'>
                        <ul>
                            <div>
                                <img src="images/images/1.jpg" style="width: 100%;">
                            </div>
                            <li class='num0 img'>
                                <img src='images/images/1.jpg' alt='Bootstrap 3d light slider photo gallery demos' title='Material Design' />
                            </li>
                            <li class='num1 img'>
                                <a href="https://www.dmaku.com/" target="_blank"><img src='images/images/2.jpg' alt='bootstrap slider' title='Material Design' /></a>
                            </li>
                            <li class='num2 img'>
                                <img src='images/images/3.jpg' alt='jQuery generator free mac slideshow best images gallery' title='Material Design' />
                            </li>

                        </ul>
                        <a class="cs_lnk" href="index.html">Bootstrap  slider</a>
                        <div class='cs_description'>
                            <label class='num0'>
                                <span class="cs_title"><span class="cs_wrapper">Material Design</span></span>
                                <br /><span class="cs_descr"><span class="cs_wrapper">Material design is a design language developed by Google and announced at the Google I/O conference on June 25, 2014. </span></span>
                            </label>
                            <label class='num1'>
                                <span class="cs_title"><span class="cs_wrapper">Material Design</span></span>
                                <br /><span class="cs_descr"><span class="cs_wrapper">Expanding upon the "card" motifs first seen in Google Now, it is a cleaner design with increased use of grid-based layouts, responsive animations and transitions, padding, and depth effects such as lighting and shadows.</span></span>
                            </label>
                            <label class='num2'>
                                <span class="cs_title"><span class="cs_wrapper">Material Design</span></span>
                                <br /><span class="cs_descr"><span class="cs_wrapper">Designer MatГ­as Duarte explained that "unlike real paper, our digital material can expand and reform intelligently. Material has physical surfaces and edges. Seams and shadows provide meaning about what you can touch." Google states that their new design language is based on paper and ink.</span></span>
                            </label>
                        </div>

                        <div class='cs_arrowprev'>
                            <label class='num0' for='cs_slide1_0'><span><i></i></span></label>
                            <label class='num1' for='cs_slide1_1'><span><i></i></span></label>
                            <label class='num2' for='cs_slide1_2'><span><i></i></span></label>
                        </div>
                        <div class='cs_arrownext'>
                            <label class='num0' for='cs_slide1_0'><span><i></i></span></label>
                            <label class='num1' for='cs_slide1_1'><span><i></i></span></label>
                            <label class='num2' for='cs_slide1_2'><span><i></i></span></label>
                        </div>

                        <div class='cs_bullets'>
                            <label class='num0' for='cs_slide1_0'>
                                <span class='cs_point'></span>
                                <span class='cs_thumb'><img src='images/tooltips/1.jpg' alt='CSS ajax responsive slider responsive ie7' title='Material Design' /></span>
                            </label>
                            <label class='num1' for='cs_slide1_1'>
                                <span class='cs_point'></span>
                                <span class='cs_thumb'><a href="https://www.dmaku.com/" target="_blank"><img src='images/tooltips/2.jpg' alt='bootstrap image slider' title='Material Design' /></a></span>
                            </label>
                            <label class='num2' for='cs_slide1_2'>
                                <span class='cs_point'></span>
                                <span class='cs_thumb'><img src='images/tooltips/3.jpg' alt='Bootstrap form double carousel vertical with fade' title='Material Design' /></span>
                            </label>
                        </div>

                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
    <!-- /slider -->
</div>
</body>

</html>