<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .detail {
        position: fixed;
        right: -100px;
        transition: right 1s;
    }

    .detail:hover {
        right: 0;
    }

    .div1 {
        background-color: green;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        width: 50px;
        height: 30px;
        float: left;
    }

    .div2 {
        background-color: green;
        width: 100px;
        height: 100px;
        float: left;
    }

    </style>

<body>
<div class="detail">
    <div class="div1">详情</div>
    <div class="div2">
        <div>内容1</div>
        <div>内容1</div>
        <div>内容1</div>
        <div>内容1</div>
        <div>内容1</div>
    </div>
</div>
</body>
</html>