<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<style type="text/css">
    #lanhu {
        height: 120px;

    }

    button {
        width: 200px;
        padding: 8px;
        background-color: #428bca;
        border-color: #357ebd;
        color: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-weight: 900;
        font-size: 125%;
        border: solid 10px #4d4e53;
        border-radius: 10px 40px 40px 10px;
    }
</style>

<div th:replace="public/back_baselayout :: html"></div>
<div class="row col s12 x12 l12 xl12" style="width:1903px;
height:1559px;">
    <form id="sendForm" action="#">
        <div class="row" style="background:rgba(11,13,50,1); height:677px; ">
            <div class="row">
                <div class="row col s6 x6 l6 xl6" style="
    height: 140px;
    font-size: 50px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(255,255,255,1);
    line-height: 70px;
    margin-left: 8%;
    padding-top: 7%;">
                <span style="
    z-index: 10;
    position: absolute;
"><input id="introduceOne" name="introduceOne" type="text" th:value="${wisdomIndex.introduceOne}"/></span>
                </div>
                <div>
                    <img src="/assets/app-assets/images/wisdom/x.png?t=" +${date}; alt="" style="    width: 1448px;
    height: 677px;
    margin-left: 455px;
    margin-top: -160px;"></div>
                <div class="row col s6 x6 l6 xl6" style="  width: 700px;
    height: 270px;
    font-size: 32px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,1);
    line-height: 45px;
    margin-left: 8%;
    margin-top: -21%;">
                <span style="  z-index: 10;
    width: 689px;
    position: absolute;">   <textarea id="detailsOne" name="detailsOne" class="materialize-textarea" type="text"
                                      data-length="255"
                                      th:text="${wisdomIndex.detailsOne}"></textarea></span>
                </div>
            </div>
        </div>
        <input id="id" name="id" type="hidden" th:value="${wisdomIndex.id}"/>
        <div class="row col s12 x12 l12 xl12" style="width:100%;
height:595px;
background:rgba(255,255,255,1);">
            <div class="row " style="width:auto;
height:108px;
font-size:39px;
font-family:PingFangSC-Medium,PingFang SC;
font-weight:500;
color:rgba(19,18,18,1);
line-height:54px;
position: relative;
    margin-left: 8%;
    top: 17%;"><span><input id="introduceTwo" name="introduceTwo" type="text"
                            th:value="${wisdomIndex.introduceTwo}"/></span>
            </div>
            <div class="row " style="width:auto;
height:36px;
font-size:25px;
font-family:PingFangSC-Regular,PingFang SC;
font-weight:400;
color:rgba(19,18,18,1);
line-height:36px;
position: relative;
    margin-left: 8%;
    top: 11%;"><span><input id="spell" name="spell" type="text" th:value="${wisdomIndex.spell}"/></span>
            </div>
            <div class="row " style="    width: 80%;
    height: 64px;
    font-size: 23px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: rgba(109,109,109,1);
    line-height: 32px;
    position: relative;
    margin-left: 8%;
    margin-top: 9%;">
           <textarea id="detailsTwo" name="detailsTwo" class="materialize-textarea" type="text" data-length="255"
                     th:text="${wisdomIndex.detailsTwo}"></textarea>
            </div>
            <button id="updatePicture" style="
    margin-left: 1378px;
    margin-top: -772px;
">修改图片
            </button>
        </div>
        <div class="row col s12 x12 l12 xl12" style="width:75%;
height:344px;
    margin-left: 10%;">
            <div class="shoufenqin">
                <div class="container">
                    <div class="shoufenqin_box">
                        <div class="one1 len">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p><input name="one1" type="text" th:value="${wisdomIndex.one1}"/></p>
                                </div>
                                <img src="/assets/app-assets/images/wisdom/1.jpg" alt="">

                            </div>
                            <img src="" alt="">
                        </div>
                        <div class="one2 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p><input name="one2" type="text" th:value="${wisdomIndex.one2}"/></p>
                                </div>
                                <img src="/assets/app-assets/images/wisdom/2.jpg" alt="">
                            </div>
                            <img src="#" alt="">
                        </div>
                        <div class="one3 ">
                            <div class="big_sfq">
                                <div>
                                    <img src="#"
                                         alt="">
                                    <p><input name="one3" type="text" th:value="${wisdomIndex.one3}"/></p>
                                </div>
                                <img src="/assets/app-assets/images/wisdom/3.jpg" alt="">
                            </div>
                            <img src="" alt="">
                        </div>
                        <div class="one4 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p><input name="one4" type="text" th:value="${wisdomIndex.one4}"/></p>
                                </div>
                                <img src="/assets/app-assets/images/wisdom/4.jpg" alt="">
                            </div>

                            <img src="" alt="">


                        </div>
                        <div class="one5 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p><input name="one5" type="text" th:value="${wisdomIndex.one5}"/></p>
                                </div>
                                <img src="/assets/app-assets/images/wisdom/5.jpg" alt="">
                            </div>

                            <img src="" alt="">


                        </div>
                        <div class="one6 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p><input name="one6" type="text" th:value="${wisdomIndex.one6}"/></p>
                                </div>
                                <img src="/assets/app-assets/images/wisdom/6.jpg" alt="">
                            </div>

                            <img src="" alt="">
                        </div>
                        <div class="one7 ">
                            <div class="big_sfq">
                                <div>
                                    <img src="" alt="">
                                    <p><input name="one7" type="text" th:value="${wisdomIndex.one7}"/></p>
                                </div>
                                <img src="/assets/app-assets/images/wisdom/7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="one1" style="margin-left: 30px;z-index: 10;position: absolute;
">修改(一)图片
            </button>
            <button id="one2" style="margin-left: 230px;z-index: 10;position: absolute;
">修改(二)图片
            </button>
            <button id="one3" style="margin-left: 430px;z-index: 10;position: absolute;
">修改(三)图片
            </button>
            <button id="one4" style="margin-left: 630px;z-index: 10;position: absolute;
">修改(四)图片
            </button>
            <button id="one5" style="margin-left: 830px;z-index: 10;position: absolute;
">修改(五)图片
            </button>
            <button id="one6" style="margin-left: 1030px;z-index: 10;position: absolute;
">修改(六)图片
            </button>
            <button id="one7" style="margin-left: 1230px;z-index: 10;position: absolute;
">修改(七)图片
            </button>
        </div>
    </form>
    <button id="send_btn" style="
    margin-left: 1378px;
    margin-top: -45px;
">修改文字
    </button>
</div>
</body>
<div th:replace="public/footer :: html"></div>
<script th:inline="javascript">
    $(window).load(function () {
        setTimeout(function () {
            Materialize.toast('<span>欢迎进入智慧湾</span>', 1500);
        }, 3000);
        window.onresize = function () {
            var contentHeight = $(window).height() - $(".page-topbar").height() - $(".page-footer").height();
            $('#frameContainer').height(contentHeight);
        };
    });
    $('.one1').css("width", '480px');
    $('.shoufenqin_box>div').hover(function () {
        $('.shoufenqin_box>div').stop(true).animate({width: "120px"}, 500);
        $(this).stop(true).animate({width: "480px"}, 500);
        $(this).addClass("len").siblings().removeClass('len');
    });
    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
    $("#send_btn").click(function () {
        $.ajax({
            type: "post",
            url: "/api/wisdombay/toUpdateIndex.ahsj",
            data: $('#sendForm').serialize(),
            success: function (msg) {
                console.log(msg);
                if (msg.success) {
                    Materialize.toast('<span>' + msg.message + '</span>', 1500);
                    return true;
                } else {
                    Materialize.toast('<span>' + msg.message + '</span>', 1500);
                    return false;
                }
            },
        });
    });
    $("#updatePicture").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=x.png";
        dialog.show(url, "修改图片");
    });
    $("#one1").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=1.jpg";
        dialog.show(url, "修改图片");
    });
    $("#one2").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=2.jpg";
        dialog.show(url, "修改图片");
    });
    $("#one3").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=3.jpg";
        dialog.show(url, "修改图片");
    });
    $("#one4").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=4.jpg";
        dialog.show(url, "修改图片");
    });
    $("#one5").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=5.jpg";
        dialog.show(url, "修改图片");
    });
    $("#one6").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=6.jpg";
        dialog.show(url, "修改图片");
    });
    $("#one7").click(function () {
        var url = "/api/wisdombay/wisdomBay/upload.ahsj?name=7.jpg";
        dialog.show(url, "修改图片");
    });


</script>
</html>
