<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div th:replace="public/back_baselayout :: html"></div>
</head>
<body>
<div class="row col s12 x12 l12 xl12">
    <div class="row col s12 x12 l12 xl12" style="background:rgba(11,13,50,1); height:677px;">
        <div class="row">
            <div class="row col s6 x6 l6 xl6" style="
    height: 140px;
    font-size: 50px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(255,255,255,1);
    line-height: 70px;
    margin-left: 8%;
    padding-top: 7%;
">智慧湾介绍
            </div>
            <div class="row col s6 x6 l6 xl6" style="  width: 700px;
    height: 270px;
    font-size: 32px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,1);
    line-height: 45px;
    margin-left: 8%;
    margin-top: 6%;">
                苏州智慧湾科技发展有限公司是基于智慧城市、大数据及研发、产品管理（IPD）为核心的系统咨询公司，研究人与城市的生态关系。通过智慧城市建设、运行、分析，使用大数据和人工智能技术，建立一套评价与优化的城市智慧化建设运行体系。
            </div>
        </div>
    </div>
    <div class="row col s12 x12 l12 xl12" style="width:100%;
height:595px;
background:rgba(255,255,255,1);">
        <div class="row " style="width:auto;
height:108px;
font-size:39px;
font-family:PingFangSC-Medium,PingFang SC;
font-weight:500;
color:rgba(19,18,18,1);
line-height:54px;
position: relative;
    margin-left: 8%;
    top: 17%;">智慧湾介绍
        </div>
        <div class="row " style="width:auto;
height:36px;
font-size:25px;
font-family:PingFangSC-Regular,PingFang SC;
font-weight:400;
color:rgba(19,18,18,1);
line-height:36px;
position: relative;
    margin-left: 8%;
    top: 11%;">ZHI HUI WAN JIE SHAO
        </div>
        <div class="row " style="    width: 80%;
    height: 64px;
    font-size: 23px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: rgba(109,109,109,1);
    line-height: 32px;
    position: relative;
    margin-left: 8%;
    margin-top: 9%;">
            苏州智慧湾科技发展有限公司是基于智慧城市、大数据及研发、产品管理（IPD）为核心的系统咨询公司，研究人与城市的生态关系。通过智慧城市建设、运行、分析，使用大数据和人工智能技术，建立一套评价与优化的城市智慧化建设运行体系。
        </div>
    </div>

    <div class="row col s12 x12 l12 xl12" style="width:75%;
height:595px;
/*background:rgba(255,255,255,1);*/
    margin-left: 10%;">
        <div class="shoufenqin">
            <div class="container">
                <div class="shoufenqin_box">
                    <div class="one1 len">
                        <div class="big_sfq">
                            <div>
                                <img src=""
                                     alt="">
                                <p>智慧采集平台</p>
                                <a href=""><i>——</i>查看更多</a>
                            </div>
                            <img src="/assets/app-assets/images/wisdom/1.jpg" alt="">
                        </div>
                        <a href="#" class="small">
                            <img src="" alt="">
                            <span>智慧采集平台</span>
                        </a>
                    </div>
                    <div class="one2 ">
                        <div class="big_sfq">
                            <div>
                                <img src=""
                                     alt="">
                                <p>智慧园区</p>
                                <a href=""><i>——</i>查看更多</a>
                            </div>
                            <img src="/assets/app-assets/images/wisdom/2.jpg" alt="">
                        </div>
                        <a href="#" class="small">
                            <img src="#" alt="">
                            <span>智慧园区</span>
                        </a>
                    </div>
                    <div class="one3 ">
                        <div class="big_sfq">
                            <div>
                                <img src="#"
                                     alt="">
                                <p>智慧停车</p>
                                <a href=""><i>——</i>查看更多</a>
                            </div>
                            <img src="/assets/app-assets/images/wisdom/3.jpg" alt="">
                        </div>
                        <a href="" class="small">
                            <img src="" alt="">
                            <span>智慧停车</span>
                        </a>
                    </div>
                    <div class="one4 ">
                        <div class="big_sfq">
                            <div>
                                <img src=""
                                     alt="">
                                <p>社会信用</p>
                                <a href=""><i>——</i>查看更多</a>
                            </div>
                            <img src="/assets/app-assets/images/wisdom/4.jpg" alt="">
                        </div>
                        <a href="" class="small">
                            <img src="" alt="">
                            <span>社会信用</span>
                        </a>
                    </div>
                    <div class="one5 ">
                        <div class="big_sfq">
                            <div>
                                <img src=""
                                     alt="">
                                <p>人工智能实验室</p>
                                <a href=""><i>——</i>查看更多</a>
                            </div>
                            <img src="/assets/app-assets/images/wisdom/5.jpg" alt="">
                        </div>
                        <a href="" class="small">
                            <img src="" alt="">
                            <span>人工智能实验室</span>
                        </a>
                    </div>
                    <div class="one6 ">
                        <div class="big_sfq">
                            <div>
                                <img src=""
                                     alt="">
                                <p>宏观经济</p>
                                <a href=""><i>——</i>查看更多</a>
                            </div>
                            <img src="/assets/app-assets/images/wisdom/6.jpg" alt="">
                        </div>
                        <a href="" class="small">
                            <img src="" alt="">
                            <span>宏观经济</span>
                        </a>
                    </div>
                    <div class="one7 ">
                        <div class="big_sfq">
                            <div>
                                <img src="" alt="">
                                <p>更多</p>
                                <a href=""><i>——</i>查看更多</a>
                            </div>
                            <img src="/assets/app-assets/images/wisdom/7.jpg" alt="">
                        </div>
                        <a href="" class="small">
                            <img src="" alt="">
                            <span>更多</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mmShoufengqin container750">
            <div class="sfq_div m1">
                <a href="https://www.jsleasing.cn/index.php/business/info/15.html">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453789372189a0vkd.jpg" alt="">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453791148971w31dg.png" alt="">
                        <h2>能源&环保</h2>
                        <em>—— 查看更多</em>
                    </div>
                </a>
            </div>
            <div class="sfq_div m2">
                <a href="https://www.jsleasing.cn/index.php/business/info/18.html">
                    <img src="https://www.jsleasing.cn/web/upload/2019/03/26/15535806351547mx7xj.jpg" alt="">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457944241237eane5.png" alt="">
                        <h2>高端装备</h2>
                        <em>—— 查看更多</em>
                    </div>
                </a>
            </div>
            <div class="sfq_div m3">
                <a href="https://www.jsleasing.cn/index.php/business/info/21.html">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/26/1545794219676879jfv.jpg" alt="">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/154537944008382revg.png" alt="">
                        <h2>信息科技</h2>
                        <em>—— 查看更多</em>
                    </div>
                </a>
            </div>
            <div class="sfq_div m4">
                <a href="https://www.jsleasing.cn/index.php/business/info/16.html">
                    <img src="https://www.jsleasing.cn/web/upload/2019/02/20/15506561910456t0vx7.jpg" alt="">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457944468277zgpyi.png" alt="">
                        <h2>大健康</h2>
                        <em>—— 查看更多</em>
                    </div>
                </a>
            </div>
            <div class="sfq_div m5">
                <a href="https://www.jsleasing.cn/index.php/business/info/19.html">
                    <img src="https://www.jsleasing.cn/web/upload/2019/02/20/1550657363654f71m0.jpg" alt="">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453793152493xxdmc.png" alt="">
                        <h2>汽车金融</h2>
                        <em>—— 查看更多</em>
                    </div>
                </a>
            </div>
            <div class="sfq_div m6">
                <a href="https://www.jsleasing.cn/index.php/business/info/20.html">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453797105857lgbk2.jpg" alt="">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/24/15456374277953qz4ou.png" alt="">
                        <h2>工程机械</h2>
                        <em>—— 查看更多</em>
                    </div>
                </a>
            </div>
            <div class="sfq_div m7">
                <a href="https://www.jsleasing.cn/index.php/business/info/17.html">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457942592452qct9p.jpg" alt="">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/154537923245nat30.png" alt="">
                        <h2>城市公用</h2>
                        <em>—— 查看更多</em>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="public/footer :: html"></div>
<script th:inline="javascript">
    $(window).load(function () {
        setTimeout(function () {
            Materialize.toast('<span>欢迎进入智慧湾</span>', 1500);
        }, 3000);
        window.onresize = function () {
            var contentHeight = $(window).height() - $(".page-topbar").height() - $(".page-footer").height();
            $('#frameContainer').height(contentHeight);
        };
    });
    $('.one1').css("width", "480px");
    $('.shoufenqin_box>div').hover(function () {
        $('.shoufenqin_box>div').stop(true).animate({width: "160px"}, 220);
        $(this).stop(true).animate({width: "650px"}, 220);
        $(this).addClass("len").siblings().removeClass('len');
    })
</script>
<script>
    $('.one1').css("width", '480px');
    $('.shoufenqin_box>div').hover(function () {
        $('.shoufenqin_box>div').stop(true).animate({width: "120px"}, 500);
        $(this).stop(true).animate({width: "480px"}, 500);
        $(this).addClass("len").siblings().removeClass('len');
    })
</script>


</html>
