<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="zh-CN">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="安徽芜湖安徽商角有限公司-高端网站建设-http://www.ahsj.cn">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>智慧湾</title>
    <meta name="keywords" content="关键字">
    <meta name="description" content="描述">
    <link href="https://www.jsleasing.cn/favicon.ico" rel="shortcut icon">
    <script>
        var STATIC_URL = "https://www.jsleasing.cn/web/bocweb/";
        var UPLOAD_URL = "https://www.jsleasing.cn/web/upload/";
        var GLOBAL_URL = "https://www.jsleasing.cn/index.php/";
        var SITE_URL = "https://www.jsleasing.cn/index.php/";
        var UPLOADDO_URL = "https://www.jsleasing.cn/index.php/upload/";
        var STATIC_VER = "v1";
    </script>
    <!-- PC站 -->
    <link rel="stylesheet" href="https://www.jsleasing.cn/web/bocweb/web/css/style.css?v=v1" type="text/css"
          media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://www.jsleasing.cn/web/bocweb/web/css/index1.css?v=v1" type="text/css"
          media="screen" charset="utf-8">
    <script src="https://www.jsleasing.cn/web/bocweb/web/js/jquery-1.11.3.min.js?v=v1" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://www.jsleasing.cn/web/bocweb/web/js/aos.js?v=v1" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://www.jsleasing.cn/web/bocweb/js/tools.js?v=v1" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://www.jsleasing.cn/web/bocweb/web/css/swiper-4.2.6.min.css?v=v1" type="text/css"
          media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://www.jsleasing.cn/web/bocweb/web/css/jquery.lineProgressbar.css?v=v1"
          type="text/css" media="screen" charset="utf-8">
    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=436783"></script>
</head>
<div class="shoufenqin">
    <div class="container">
        <div class="shoufenqin_box">
            <div class="one1 len" style="width: 480px; overflow: hidden;">
                <div class="big_sfq">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453791148971w31dg.png" alt="">
                        <p>智慧采集平台</p>
                        <a href="https://www.jsleasing.cn/index.php/business/info/15.html"><i>——</i>查看更多</a>
                    </div>
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453789372189a0vkd.jpg" alt="">
                </div>
                <a href="https://www.jsleasing.cn/index.php/business/info/15.html" class="small">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453791148971w31dg.png" alt="">
                    <span>智慧采集平台</span>
                </a>
            </div>
            <div class="one2" style="width: 120px; overflow: hidden;">
                <div class="big_sfq">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457944241237eane5.png" alt="">
                        <p>智慧园区</p>
                        <a href="https://www.jsleasing.cn/index.php/business/info/18.html"><i>——</i>查看更多</a>
                    </div>
                    <img src="https://www.jsleasing.cn/web/upload/2019/03/26/15535806351547mx7xj.jpg" alt="">
                </div>
                <a href="https://www.jsleasing.cn/index.php/business/info/18.html" class="small">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457944241237eane5.png" alt="">
                    <span>智慧园区</span>
                </a>
            </div>
            <div class="one3" style="width: 120px; overflow: hidden;">
                <div class="big_sfq">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/154537944008382revg.png" alt="">
                        <p>智慧停车</p>
                        <a href="https://www.jsleasing.cn/index.php/business/info/21.html"><i>——</i>查看更多</a>
                    </div>
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/26/1545794219676879jfv.jpg" alt="">
                </div>
                <a href="https://www.jsleasing.cn/index.php/business/info/21.html" class="small">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/154537944008382revg.png" alt="">
                    <span>智慧停车</span>
                </a>
            </div>
            <div class="one4" style="width: 120px; overflow: hidden;">
                <div class="big_sfq">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457944468277zgpyi.png" alt="">
                        <p>社会信用</p>
                        <a href="https://www.jsleasing.cn/index.php/business/info/16.html"><i>——</i>查看更多</a>
                    </div>
                    <img src="https://www.jsleasing.cn/web/upload/2019/02/20/15506561910456t0vx7.jpg" alt="">
                </div>
                <a href="https://www.jsleasing.cn/index.php/business/info/16.html" class="small">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457944468277zgpyi.png" alt="">
                    <span>社会信用</span>
                </a>
            </div>
            <div class="one5" style="width: 120px; overflow: hidden;">
                <div class="big_sfq">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453793152493xxdmc.png" alt="">
                        <p>人工智能实验室</p>
                        <a href="https://www.jsleasing.cn/index.php/business/info/19.html"><i>——</i>查看更多</a>
                    </div>
                    <img src="https://www.jsleasing.cn/web/upload/2019/02/20/1550657363654f71m0.jpg" alt="">
                </div>
                <a href="https://www.jsleasing.cn/index.php/business/info/19.html" class="small">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453793152493xxdmc.png" alt="">
                    <span>人工智能实验室</span>
                </a>
            </div>
            <div class="one6" style="width: 120px; overflow: hidden;">
                <div class="big_sfq">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/24/15456374277953qz4ou.png" alt="">
                        <p>宏观经济</p>
                        <a href="https://www.jsleasing.cn/index.php/business/info/20.html"><i>——</i>查看更多</a>
                    </div>
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/15453797105857lgbk2.jpg" alt="">
                </div>
                <a href="https://www.jsleasing.cn/index.php/business/info/20.html" class="small">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/24/15456374277953qz4ou.png" alt="">
                    <span>宏观经济</span>
                </a>
            </div>
            <div class="one7" style="width: 120px; overflow: hidden;">
                <div class="big_sfq">
                    <div>
                        <img src="https://www.jsleasing.cn/web/upload/2018/12/21/154537923245nat30.png" alt="">
                        <p>更多</p>
                        <a href="https://www.jsleasing.cn/index.php/business/info/17.html"><i>——</i>查看更多</a>
                    </div>
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/26/15457942592452qct9p.jpg" alt="">
                </div>
                <a href="https://www.jsleasing.cn/index.php/business/info/17.html" class="small">
                    <img src="https://www.jsleasing.cn/web/upload/2018/12/21/154537923245nat30.png" alt="">
                    <span>更多</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://www.jsleasing.cn/web/bocweb/web/js/jquery.lineProgressbar.js?v=v1" type="text/javascript"
        charset="utf-8"></script>
<script src="https://www.jsleasing.cn/web/bocweb/web/js/swiper-4.2.6.min.js?v=v1" type="text/javascript"
        charset="utf-8"></script>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>

    $('.one1').css("width", "480px");
    $('.shoufenqin_box>div').hover(function () {
        $('.shoufenqin_box>div').stop(true).animate({width: "120px"}, 500);
        $(this).stop(true).animate({width: "480px"}, 500);
        $(this).addClass("len").siblings().removeClass('len');
    })


</script>


</html>
