<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <style>
    </style>
</head>

<div th:replace="public/base_list :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div id="title" class="col s12 m12 l12"><h5 class="center">图片修改</h5></div>
    <div class="col s2 m2 l2 right" style="width:  38.66667%">
        <!--        <button class="btn cyan waves-effect waves-light right" type="button" id="excelDownloadFile" name="">导入文件模板下载(Import file template download)</button>-->
    </div>


</div>

<div id="file-upload" class="section">
    <form method="post" id="excelUploadFileForm" name="excelUploadFileForm" enctype="multipart/form-data">
        <div class="row section">
            <div class="col s12 m12 l12">
                <input type="file" id="input-file-now" name="file" class="dropify" value="" multiple="multiple"
                       data-default-file=""/>
                <input type="hidden" id="name" name="name" th:value="${name}"/>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s2 m2 l2 right" style="width:  38.66667%">
        <button class="btn cyan waves-effect waves-light right" id="excelUploadFile" type="button" name="">提交文件(Submit
            file)
        </button>
    </div>
</div>

<div th:replace="public/base_list_script :: html"></div>
<script>

    $(function () {
        $("#excelUploadFile").click(function () {
            var file = $("#input-file-now").val();
            var excelUploadFileForm = new FormData($("#excelUploadFileForm")[0]);
            if (file == null || file == "") {
                dialog.warn("请选择导入文件！");
            } else {
                $.ajax({
                    url: "/api/wisdombay/uploadFile.ahsj",
                    type: "POST",
                    data: excelUploadFileForm,
                    dataType: "json",
                    processData: false,  // 告诉jQuery不要去处理发送的数据
                    contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                    success: function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            return false;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    errors: function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                })
            }

        })
    });


</script>
</body>
</html>