<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_list :: html"></div>

<body>
<header>
    <div class="row col s12 x12 l12 xl12">
            <nav>
                <div class="nav-wrapper" style="background-color: #ffffff;">
                    <a href="#" class="brand-logo" > <img src="/assets/app-assets/images/avatar/智慧湾.png" width="200px" height="64px"/></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down ">
                        <li><a href="sass.html" style="color: #0b0b0b">首页</a></li>
                        <li><a href="badges.html" style="color: #0b0b0b">关于智慧湾</a></li>
                        <li><a href="collapsible.html" style="color: #0b0b0b">解决方案</a></li>
                        <li><a href="collapsible.html" style="color: #0b0b0b">招聘与合作</a></li>
                    </ul>
                </div>
            </nav>
            <div class="card">
        <div class="card-image">
                <img src="/assets/app-assets/images/avatar/人工智能实验室.png"/>
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-image ">
                <img src="/assets/app-assets/images/avatar/产品特色.png"/>
            </div>
            </div>
<!--            <div class="card-action">
                <a href="#">This is a link</a>
            </div>-->
    </div>
</header>

<div th:replace="public/base_list_script :: html"></div>

<script type="text/javascript">

</script>
</body>
</html>

