<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智慧湾介绍</title>
    <div th:replace="public/back_baselayout :: html"></div>
</head>
<!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<body>
<div class="container-fluid" style="margin-top: -20px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="background:rgba(11,13,50,1); height:677px; ">
            <div class="col-xs-6 col-sm-12 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1" style="
    height: 140px;
    font-size: 50px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(255,255,255,1);
    line-height: 70px;
   margin-top: 163px;">
                <span th:text="${wisdomIndex.introduceOne}" style="
    z-index: 10;
    position: absolute;
"></span>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1" style="
    font-size: 32px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,1);
    line-height: 45px;">
               <span style="  z-index: 10;
    width: 689px;
    position: absolute;" th:text="${wisdomIndex.detailsOne}"></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>