<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智慧湾介绍</title>
    <div th:replace="public/back_baselayout :: html"></div>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
</head>
<body>
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
<div class="container-fluid" style="margin-top: -20px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="height:677px; ">
            <div class="col-xs-6 col-sm-12 col-md-6  col-md-offset-1" style="
    height: 140px;
    font-size: 50px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(255,255,255,1);
    line-height: 70px;
   margin-top: 163px;">
                <span th:text="${wisdomIndex.introduceOne}" style="
    z-index: 10;
    position: absolute;
"></span>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-6  col-md-offset-1" style="
    font-size: 32px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,1);
    line-height: 45px;">
               <span style="  z-index: 10;
    width: 689px;
    position: absolute;" th:text="${wisdomIndex.detailsOne}"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div id="demo" class="carousel slide" style="    margin-top: -35.5%;
    width: 100%;
    height: 677px;" data-ride="carousel">

                <!-- 指示符 -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- 轮播图片 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">
                    </div>
                </div>

                <!-- 左右切换按钮 -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="
height:595px;
background:rgba(255,255,255,1);">
            <div class="col-xs-6 col-sm-6 col-md-6  col-md-offset-1" style="
    height: 140px;
    font-size: 50px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    line-height: 70px;
   margin-top: 81px;">
                <span th:text="${wisdomIndex.introduceTwo}"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6  col-md-offset-1" style="
  height:36px;
font-size:25px;
font-family:PingFangSC-Regular,PingFang SC;
font-weight:400;
color:rgba(19,18,18,1);
line-height:36px;
position: relative;
   margin-top: -30px;">
                <span th:text="${wisdomIndex.spell}"></span>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11  col-md-offset-1" style="
   height: 64px;
    font-size: 23px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: rgba(109,109,109,1);
    line-height: 32px;
    position: relative;
   margin-top: 60px;">
                <span th:text="${wisdomIndex.detailsTwo}"></span>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8  col-md-offset-2" style="height: 344px;">
            <div class="shoufenqin">
                <div class="container">
                    <div class="shoufenqin_box" style="width: 1200px;">
                        <div class="one1 len">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p th:text="${wisdomIndex.one1}"></p>
                                    <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one1"><i>——</i>查看更多</a>
                                </div>
                                <img src="/bootstrap/images/wisdom/1.jpg" alt="">
                            </div>
                            <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one1" class="small">
                                <img src="" alt="">
                                <span th:text="${wisdomIndex.one1}"></span>
                            </a>
                        </div>
                        <div class="one2 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p th:text="${wisdomIndex.one2}"></p>
                                    <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one2"><i>——</i>查看更多</a>
                                </div>
                                <img src="/bootstrap/images/wisdom/2.jpg" alt="">
                            </div>
                            <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one2" class="small">
                                <img src="#" alt="">
                                <span th:text="${wisdomIndex.one2}"></span>
                            </a>
                        </div>
                        <div class="one3 ">
                            <div class="big_sfq">
                                <div>
                                    <img src="#"
                                         alt="">
                                    <p th:text="${wisdomIndex.one3}"></p>
                                    <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one3"><i>——</i>查看更多</a>
                                </div>
                                <img src="/bootstrap/images/wisdom/3.jpg" alt="">
                            </div>
                            <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one3" class="small">
                                <img src="" alt="">
                                <span th:text="${wisdomIndex.one3}"></span>
                            </a>
                        </div>
                        <div class="one4 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p th:text="${wisdomIndex.one4}"></p>
                                    <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one4"><i>——</i>查看更多</a>
                                </div>
                                <img src="/bootstrap/images/wisdom/4.jpg" alt="">
                            </div>
                            <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one4" class="small">
                                <img src="" alt="">
                                <span th:text="${wisdomIndex.one4}"></span>
                            </a>
                        </div>
                        <div class="one5 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p th:text="${wisdomIndex.one5}"></p>
                                    <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one5"><i>——</i>查看更多</a>
                                </div>
                                <img src="/bootstrap/images/wisdom/5.jpg" alt="">
                            </div>
                            <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one5" class="small">
                                <img src="" alt="">
                                <span th:text="${wisdomIndex.one5}"></span>
                            </a>
                        </div>
                        <div class="one6 ">
                            <div class="big_sfq">
                                <div>
                                    <img src=""
                                         alt="">
                                    <p th:text="${wisdomIndex.one6}"></p>
                                    <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one6"><i>——</i>查看更多</a>
                                </div>
                                <img src="/bootstrap/images/wisdom/6.jpg" alt="">
                            </div>
                            <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one6" class="small">
                                <img src="" alt="">
                                <span th:text="${wisdomIndex.one6}"></span>
                            </a>
                        </div>
                        <div class="one7 ">
                            <div class="big_sfq">
                                <div>
                                    <img src="" alt="">
                                    <p th:text="${wisdomIndex.one7}"></p>
                                    <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one7"><i>——</i>查看更多</a>
                                </div>
                                <img src="/bootstrap/images/wisdom/7.jpg" alt="">
                            </div>
                            <a href="/api/wisdombay/wisdomBay/index.ahsj?parameter=one7" class="small">
                                <img src="" alt="">
                                <span th:text="${wisdomIndex.one7}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
<script>

    $('.one1').css("width", '480px');
    $('.shoufenqin_box>div').hover(function () {
        $('.shoufenqin_box>div').stop(true).animate({width: "120px"}, 500);
        $(this).stop(true).animate({width: "480px"}, 500);
        $(this).addClass("len").siblings().removeClass('len');
    })


</script>


</html>
