<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>
    .tab {
        font-weight: bolder;
    }

    .fountsize {
        width: 123px;
        height: 42px;
        font-size: 27px;
        font-family: PingFangSC-Light, PingFang SC;
        position: absolute;
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
        line-height: 42px;
    }
    .wow:first-child {
        visibility: hidden;
    }

    .wisdombay-card-content{
        float: left;
        border: 1px;
        background-color: rgb(14, 11, 63);
        width: 22%;
        height: 45%;
        margin-right: 4%;
        margin-left: 4%;
        border-radius: 25px
    }
</style>
<body>
<div th:replace="public/back_baselayout :: html"></div>
<div class="container-fluid">
    <div class="row">
        <section class="" style="font-size: 350%;">
            <h1 class="col-xs-12 col-sm-12 col-md-12 text-center" style="position: absolute;letter-spacing: 7px;color: rgba(255,255,255,1);font-size: 1em;margin-top: 7%;" th:text="${smartparking.title}"></h1>
            <h3  class="col-xs-12 col-sm-12 col-md-12 text-center" style="position: absolute;color: rgba(255,255,255,1);font-size: 0.4em;margin-top: 14%;" th:text="${smartparking.description}"></h3>
            <section class="wow fadeInDown">
                <div style="position: absolute;font-size: 0.27em;color:rgba(255,255,255,1);margin-top: 31%;margin-left: 9%;width: 300px;" class="text-center">一<br><p th:text="${smartparking.organizationalTitle1}"></p><p th:text="${smartparking.organizationalStructure1}"></p></div>
                <div style="position: absolute;font-size: 0.27em;color:rgba(255,255,255,1);margin-top: 19%;margin-left: 9%;width: 293px;" class="text-center">二<br><p th:text="${smartparking.organizationalTitle2}"></p><p th:text="${smartparking.organizationalStructure2}"></p></div>
                <div style="position: absolute;font-size: 0.27em;color:rgba(255,255,255,1);margin-top: 17%;margin-left: 67%;width: 306px;" class="text-center">三<br><p th:text="${smartparking.organizationalTitle3}"></p><p th:text="${smartparking.organizationalStructure3}"></p></div>
                <div style="position: absolute;font-size: 0.27em;color:rgba(255,255,255,1);margin-top: 32%;margin-left: 69%;width: 280px;" class="text-center">四<br><p th:text="${smartparking.organizationalTitle4}"></p><p th:text="${smartparking.organizationalStructure4}"></p></div>
            </section>
            <img src="/bootstrap/images/wisdom/car02.png" class="img-responsive" alt="Responsive image" style="margin-top: -60px;width: 100%;"/>
        </section>
        <section class="container-fluid wow bounceInLeft" data-wow-offset="0">
            <div class="" style="font-size: 30px;margin-left: 20%;margin-top: 2%;width: 50%;" th:text="${smartparking.productTitle}"></div>
        </section>
        <section class="wow fadeInDown" style="height: 548px;">
            <div id="test2" style="margin-left: 13%; height: 373px;">
                <div class="card wisdombay-card-content" id="wq"
                     style="">
                    <img src="/bootstrap/images/wisdom/AppleTV.png" class="img-responsive center-block" style="    height: 102px;">
                    <br><span style="color: #ffffff;margin-left: 37%;font-size: 136%;" th:text="${smartparking.product1}"></span>
                    <br><br>
                    <div class="center-block" style="width:80%">
                        <span style="color: #ffffff; font-size: 13px;" th:text="${smartparking.productContent1}"></span>
                    </div>
                </div>
                <div class="card wisdombay-card-content" id="wq1"
                     style="">
                    <img src="/bootstrap/images/wisdom/AppleTV1.png" class="img-responsive center-block" style="    height: 102px;">
                    <br><span style="color: #ffffff;margin-left: 39%;font-size: 136%;"  th:text="${smartparking.product2}"></span>
                    <br><br>
                    <div class="center-block" style="width:80%">
                        <span style="color: #ffffff; font-size: 13px;" th:text="${smartparking.productContent2}"></span>
                    </div>
                </div>
                <div class="card wisdombay-card-content" id="wq2"
                     style="">
                    <img src="/bootstrap/images/wisdom/Grouping10.png" class="img-responsive center-block" style="    height: 102px;">
                    <br><span style="color: #ffffff;margin-left: 37%;font-size: 136%;" th:text="${smartparking.product3}"></span>
                    <br><br>
                    <div class="center-block" style="width:80%">
                        <span style="color: #ffffff; font-size: 13px;" th:text="${smartparking.productContent3}"></span>
                    </div>
                </div>
            </div>
        </section>
        <div class="row" style="float: left;border: 1px;background-color: #030E3F;width: 100.8%;height: 740px; margin-top: 7%;">
            <section class="wow fadeInDown">
                <div class="row col-xs-6 col-sm-6 col-md-6" style="margin-top: 2%;">
                    <span style="font-size: 24px;margin-left: 22%;margin-top: 2%; color: #ffffff" th:text="${smartparking.certificationTitle}"></span>
                    <div class="row col-xs-11 col-sm-11 col-md-11" style="margin-left: 5%">
                        <br><br><span style="color: #ffffff;letter-spacing: 0.56px; line-height: 222%; font-size:131%;" th:text="${smartparking.certification}"></span>
                    </div>
                </div>
            </section>
            <div class="row col-xs-6 col-sm-6 col-md-6 img-responsive" style="margin-top: -5%;">
                <img src="/bootstrap/images/wisdom/line1.png"
                     style="margin-left: 50%; margin-top: 17.4%; position: absolute; z-index: 99;width: 17%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                    <div class="fountsize" style="margin-left: 42%;margin-top: 4%;font-size: 180%;" th:text="${smartparking.pictureExtension1}"></div>
                </section>
                <img src="/bootstrap/images/wisdom/line2.png"
                     style="margin-left: 36.5%; margin-top: 14.3%; position: absolute; z-index: 99;width: 21%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                    <div class="fountsize" style="margin-left: 30%;margin-top: 11%;font-size: 180%;" th:text="${smartparking.pictureExtension2}"></div>
                </section>
                <img src="/bootstrap/images/wisdom/line3.png"
                     style="margin-left: 31%; margin-top: 23.3%; position: absolute; z-index: 99;width: 23%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                    <div class="fountsize" style="margin-left: 24%;margin-top: 26%;font-size: 180%;" th:text="${smartparking.pictureExtension3}"></div>
                </section>
                <img src="/bootstrap/images/wisdom/line4.png"
                     style="margin-left: 39.5%; margin-top: 31.1%; position: absolute; z-index: 99;width: 17%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                    <div class="fountsize" style="margin-left: 30%;margin-top: 37%;font-size: 180%;" th:text="${smartparking.pictureExtension4}"></div>
                </section>
                <img src="/bootstrap/images/wisdom/bitmap10.png"
                     style="margin-left: 53.9%;margin-top: 14.4%;width: 30%;position: absolute;" >
            </div>
        </div>
    </div>
</div>
<div th:replace="public/footer :: html"></div>
<script src="/bootstrap/js/wow.js"></script>
<script type="text/javascript">
    // $(function () {
    //     $("#wq").mouseenter(function () {
    //         /*  $("#wq1").animate({width: '19%', height: '45%'});
    //           $("#wq2").animate({width: '19%', height: '45%'});*/
    //         $("#wq").animate({width: '23%', height: '68%'});
    //     });
    //     $("#wq1").mouseenter(function () {
    //         /*  $("#wq").animate({width: '19%', height: '45%'});
    //           $("#wq2").animate({width: '19%', height: '45%'});*/
    //         $("#wq1").animate({width: '23%', height: '68%'});
    //     });
    //     $("#wq2").mouseenter(function () {
    //         /*     $("#wq").animate({width: '19%', height: '45%'});
    //              $("#wq1").animate({width: '19%', height: '45%'});*/
    //         $("#wq2").animate({width: '23%', height: '68%'});
    //     });
    //     $("#wq").mouseleave(function(){
    //         $("#wq").animate({width: '19%', height: '45%'});
    //     });
    //     $("#wq1").mouseleave(function(){
    //         $("#wq1").animate({width: '19%', height: '45%'});
    //     });
    //     $("#wq2").mouseleave(function(){
    //         $("#wq2").animate({width: '19%', height: '45%'});
    //     });
    // });

    $(function () {
        $("#wq").mouseenter(function () {
                $("#wq").stop(true).animate({width: '31%', height: '80%'});
        });
        $("#wq1").mouseenter(function () {
                $("#wq1").stop(true).animate({width: '31%', height: '80%'});
        });
        $("#wq2").mouseenter(function () {
                $("#wq2").stop(true).animate({width: '31%', height: '80%'});
        });

        $("#wq").mouseleave(function(){
            $("#wq").stop(true).animate({width: '22%', height: '45%'});

        });
        $("#wq1").mouseleave(function(){
            $("#wq1").stop(true).animate({width: '22%', height: '45%'});
        });
        $("#wq2").mouseleave(function(){
            $("#wq2").stop(true).animate({width: '22%', height: '45%'});
        });
    });


    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100,
            callback: function (box) {
                console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        }
    );
    wow.init();
</script>
</body>
</html>

