<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>
    .tab {
        font-weight: bolder;
    }

    .fountsize {
        width: 123px;
        height: 42px;
        font-size: 27px;
        font-family: PingFangSC-Light, PingFang SC;
        position: absolute;
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
        line-height: 42px;
    }
    .wow:first-child {
        visibility: hidden;
    }
</style>
<body>
<div th:replace="public/back_baselayout :: html"></div>
<div class="container-fluid">
    <div class="row">
        <section class="wow fadeInDown" style="font-size: 350%;">
            <h1 class="col-xs-12 col-sm-12 col-md-12 text-center" style="position: absolute;letter-spacing: 7px;color: rgba(255,255,255,1);font-size: 1em;margin-top: 3%;" th:text="${socialcredit.title}"></h1>
            <h3  class="col-xs-12 col-sm-12 col-md-12 text-center" style="position: absolute;color: rgba(255,255,255,1);font-size: 0.4em;margin-top: 10%;" th:text="${socialcredit.description}"></h3>
            <img src="/bootstrap/images/wisdom/social-3064515_1920.jpg" class="img-responsive" alt="Responsive image" style="margin-top: -80px;height: 739px;width: 100%;"/>
        </section>
        <section class="container-fluid wow bounceInLeft" data-wow-offset="0">
            <div class="" style="font-size: 30px;margin-left: 20%;margin-top: 2%;width: 50%;" th:text="${socialcredit.productTitle}"></div>
        </section>
        <section class="wow fadeInDown">
            <div id="test2" style="margin-left: 25%; height: 373px;">
                <div class="col-xs-12 col-sm-12 col-md-12" id="wq"
                     style="float: left;border: 1px;background-color: rgb(14, 11, 63);width: 19%;height: 45%;margin-right: 4%;margin-top: 4%;border-radius: 25px">
                    <img src="/bootstrap/images/wisdom/AppleTV9.png" class="img-responsive center-block" style="    height: 102px;">
                    <br><span style="color: #ffffff;margin-left: 29%;font-size: 136%;" th:text="${socialcredit.product1}"></span>
                    <br><br><span style="color: #ffffff; font-size: 13px;" th:text="${socialcredit.productContent1}"></span>
                </div>
                <div class="card " id="wq1"
                     style="float: left;border: 1px;background-color: rgb(14, 11, 63);width: 19%;height: 45%;margin-right: 4%;margin-top: 4%;border-radius: 25px">
                    <img src="/bootstrap/images/wisdom/AppleTV10.png" class="img-responsive center-block" style="    height: 102px;">
                    <br><span style="color: #ffffff;margin-left: 36%;font-size: 136%;"  th:text="${socialcredit.product2}"></span>
                    <br><br><span style="color: #ffffff; font-size: 13px;" th:text="${socialcredit.productContent2}"></span>
                </div>
                <div class="card" id="wq2"
                     style="float: left;border: 1px;background-color: rgb(14, 11, 63);width: 19%;height: 45%;margin-right: 4%;margin-top: 4%;border-radius: 25px">
                    <img src="/bootstrap/images/wisdom/Grouping14.png" class="img-responsive center-block" style="    height: 102px;">
                    <br><span style="color: #ffffff;margin-left: 35%;font-size: 136%;" th:text="${socialcredit.product3}"></span>
                    <br><br><span style="color: #ffffff; font-size: 13px;" th:text="${socialcredit.productContent3}"></span>
                </div>
            </div>
        </section>
        <section class="wow fadeInDown row"  style="float: left;border: 1px;width: 100.8%;height: 740px; margin-top: 7%;">
            <section class="container-fluid wow bounceInLeft" data-wow-offset="0">
                <div class="col-xs-12 col-sm-12 col-md-12" style="position: absolute">
                    <span style="font-size: 30px;margin-left: 20%;margin-top: 2%; color: #ffffff" th:text="${socialcredit.certificationTitle}"></span>
                    <br><br><span style="color: #ffffff;letter-spacing: 0.56px; line-height: 222%; font-size:131%;margin-left: 8%;" th:text="${socialcredit.certification}"></span>
                </div>
            </section>
            <img src="/bootstrap/images/wisdom/touch-screen-1023966_1920.jpg" class="img-responsive" alt="Responsive image" style=" height: 100%; width: 100%;margin-top: -7%;"/>
        </section>
    </div>
</div>
<div th:replace="public/footer :: html"></div>
<script src="/bootstrap/js/wow.js"></script>
<script type="text/javascript">
    $(function () {
        $("#wq").mouseover(function () {
            $("#wq1").animate({width: '19%', height: '45%'});
            $("#wq2").animate({width: '19%', height: '45%'});
            $("#wq").animate({width: '23%', height: '68%'});
        });
        $("#wq1").mouseover(function () {
            $("#wq").animate({width: '19%', height: '45%'});
            $("#wq2").animate({width: '19%', height: '45%'});
            $("#wq1").animate({width: '23%', height: '68%'});
        });
        $("#wq2").mouseover(function () {
            $("#wq").animate({width: '19%', height: '45%'});
            $("#wq1").animate({width: '19%', height: '45%'});
            $("#wq2").animate({width: '23%', height: '68%'});
        });
    });

    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100,
            callback: function (box) {
                console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        }
    );
    wow.init();
</script>
</body>
</html>

