<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:ahsj="http://www.anhuishangjue.com">

<style>
    .tab {
        font-weight: bolder;
    }

    .fountsize {
        width: 123px;
        height: 42px;
        font-size: 27px;
        font-family: PingFangSC-Light, PingFang SC;
        position: absolute;
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
        line-height: 42px;
    }
    .wow:first-child {
        visibility: hidden;
    }
</style>
<body>
<div th:replace="public/back_baselayout :: html"></div>
<div class="container-fluid">
    <div class="row">
        <section class="wow fadeInDown" style="font-size: 350%;">
            <h1 class="col-xs-12 col-sm-12 col-md-12 text-center" style="position: absolute;letter-spacing: 7px;color: rgba(255,255,255,1);font-size: 1em;margin-top: 3%;">人工智能实验室</h1>
            <h3  class="col-xs-12 col-sm-12 col-md-12 text-center" style="position: absolute;color: rgba(255,255,255,1);font-size: 0.4em;margin-top: 10%;">人工智能实验室平台是一套适合大专院校、高职、高专的人工智能辅助教学的实验室应用平台软件，平台将教学与实践相结合…….</h3>
            <section class="wow fadeInDown">
            <div style="position: absolute;font-size: 0.4em;color: #ffff;margin-top: 33%;margin-left: 15%;" class="text-center">一<br>准备工作<br>定项目，分小组</div>
            <div style="position: absolute;font-size: 0.4em;color: #ffff;margin-top: 25%;margin-left: 19%;" class="text-center">二<br>课题引入<br>项目背景分析</div>
            <div style="position: absolute;font-size: 0.4em;color: #ffff;margin-top: 18%;margin-left: 23%;" class="text-center">三<br>头脑风暴<br>项目核心问题讨论</div>
            <div style="position: absolute;font-size: 0.4em;color: #ffff;margin-top: 19%;margin-left: 66%;" class="text-center">四<br>动手实践<br>实施项目(搭建+编程</div>
            <div style="position: absolute;font-size: 0.4em;color: #ffff;margin-top: 27%;margin-left: 68%;" class="text-center">五<br>成果展示<br>各小组吴示项目成果，总结收获</div>
            <div style="position: absolute;font-size: 0.4em;color: #ffff;margin-top: 34%;margin-left: 77%;" class="text-center">六<br>点评讨论<br>就清示项目本身进行讨论和点评</div>
            </section>
            <img src="/bootstrap/images/wisdom/path5.png" style="position: absolute;margin-left: 29%;margin-top: 21%; width: 9%;">
            <img src="/bootstrap/images/wisdom/path6.png" style="position: absolute; margin-left: 24%;margin-top: 28%;width: 8%;">
            <img src="/bootstrap/images/wisdom/path7.png" style="position: absolute; margin-top: 34%;margin-left: 20%;width: 14%;">
            <img src="/bootstrap/images/wisdom/path8.png" style="position: absolute; margin-top: 22%;margin-left: 61%;width: 8%;">
            <img src="/bootstrap/images/wisdom/path9.png" style="position: absolute; margin-top: 30%;margin-left: 66%;width: 9%;">
            <img src="/bootstrap/images/wisdom/path10@2x.png" style="position: absolute; margin-top: 36%;margin-left: 71%;width: 12%;">
            <img src="/bootstrap/images/wisdom/banner2x.png" class="img-responsive" alt="Responsive image" style="margin-top: -80px;"/>
        </section>
        <section class="wow fadeInDown">
        <div class="" style="font-size: 30px;margin-left: 20%;margin-top: 2%;width: 50%;">产品特色</div>
        </section>
        <section class="wow fadeInDown">
        <div id="test2" style="margin-left: 25%; height: 373px;">
            <div class="col-xs-12 col-sm-12 col-md-12" id="wq"
                 style="float: left;border: 1px;background-color: rgb(14, 11, 63);width: 19%;height: 45%;margin-right: 4%;margin-top: 4%;border-radius: 25px">
                <img src="/bootstrap/images/wisdom/AppleTV.png" class="img-responsive center-block" >
                <br><span style="color: #ffffff;margin-left: 29%;font-size: 136%;">便捷管理</span>
                <br><br><span style="color: #ffffff; font-size: 13px;">便捷文件管理是一款安卓设备上*方便的手机资源管理和文件管理软件。清新的界面加上强大的文件管理和传输功能,轻松连接即可实.</span>
            </div>
            <div class="card " id="wq1"
                 style="float: left;border: 1px;background-color: rgb(14, 11, 63);width: 19%;height: 45%;margin-right: 4%;margin-top: 4%;border-radius: 25px">
                <img src="/bootstrap/images/wisdom/AppleTV1.png" class="img-responsive center-block" >
                <br><span style="color: #ffffff;margin-left: 36%;font-size: 136%;">有效控制</span>
            </div>
            <div class="card" id="wq2"
                 style="float: left;border: 1px;background-color: rgb(14, 11, 63);width: 19%;height: 45%;margin-right: 4%;margin-top: 4%;border-radius: 25px">
                <img src="/bootstrap/images/wisdom/Grouping10.png" class="img-responsive center-block" >
                <br><span style="color: #ffffff;margin-left: 35%;font-size: 136%;">移动办公</span>
            </div>
        </div>
        </section>

        <div class="row" style="float: left;border: 1px;background-color: #030E3F;width: 100.8%;height: 740px; margin-top: 7%;">
            <section class="wow fadeInDown">
            <div class="row col-xs-6 col-sm-6 col-md-6" style="margin-top: 2%;">
                <span style="font-size: 30px;margin-left: 40%;margin-top: 2%; color: #ffffff">认证服务</span>
                <div class="row col-xs-6 col-sm-6 col-md-6" style="margin-left: 23%">
                    <br><br><span style="color: #ffffff;letter-spacing: 0.56px; line-height: 222%; font-size:131%;">通过NVIDIA 深度学习学院提供人工智能能力认证服务，深度学习学院聚焦于人工智能和深度学习，致力于在全世界范围内提供培训，学习如何解决最具挑战性的问题。通过线上自主学习，或者线下由 NVIDIA 认证的讲师来教授的培训课程。</span>
                </div>
            </div>
            </section>
            <div class="row col-xs-6 col-sm-6 col-md-6 img-responsive" style="margin-top: -5%;">
                <img src="/bootstrap/images/wisdom/line1.png"
                          style="margin-left: 50%; margin-top: 13.4%; position: absolute; z-index: 99;width: 15%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                <div class="fountsize" style="margin-left: 39%;margin-top: 4%;font-size: 180%;">线上考试</div>
                </section>
                <img src="/bootstrap/images/wisdom/line2.png"
                          style="margin-left: 36.5%; margin-top: 14.3%; position: absolute; z-index: 99;width: 21%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                <div class="fountsize" style="margin-left: 30%;margin-top: 9%;font-size: 180%;">职业发展支持</div>
                </section>
                <img src="/bootstrap/images/wisdom/line3.png"
                          style="margin-left: 31%; margin-top: 23.3%; position: absolute; z-index: 99;width: 23%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                <div class="fountsize" style="margin-left: 24%;margin-top: 23%;font-size: 180%;">获得认证证书</div>
                </section>
                <img src="/bootstrap/images/wisdom/line4.png"
                          style="margin-left: 39.5%; margin-top: 31.1%; position: absolute; z-index: 99;width: 17%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                <div class="fountsize" style="margin-left: 30%;margin-top: 37%;font-size: 180%;">认证服务</div>
                </section>
                <img src="/bootstrap/images/wisdom/line5.png"
                          style="margin-left: 45.9%; margin-top: 36.4%; position: absolute; z-index: 99;width: 14%;">
                <section class="wow fadeIn" data-wow-duration="1500ms"  data-wow-delay="1s">
                <div class="fountsize" style="margin-left: 35%;margin-top: 45%;font-size: 180%;">考试测评</div>
                </section>
                <img src="/bootstrap/images/wisdom/bitmap10.png"
                     style="margin-left: 53.9%;margin-top: 14.4%;width: 30%;position: absolute;" >
            </div>
        </div>
    </div>
</div>

<script src="/bootstrap/js/wow.js"></script>
<script type="text/javascript">
    $(function () {
        $("#wq").click(function () {
            $("#wq1").animate({width: '19%', height: '45%'});
            $("#wq2").animate({width: '19%', height: '45%'});
            $("#wq").animate({width: '23%', height: '68%'});
        });
        $("#wq1").click(function () {
            $("#wq").animate({width: '19%', height: '45%'});
            $("#wq2").animate({width: '19%', height: '45%'});
            $("#wq1").animate({width: '23%', height: '68%'});
        });
        $("#wq2").click(function () {
            $("#wq").animate({width: '19%', height: '45%'});
            $("#wq1").animate({width: '19%', height: '45%'});
            $("#wq2").animate({width: '23%', height: '68%'});
        });
    });

    wow = new WOW(
        {
            animateClass: 'animated',
            offset: 100,
            callback: function (box) {
                console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        }
    );
    wow.init();
</script>
</body>
</html>

