<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <style>
        .fontsize01 {
            font-size: 14px;
        }

        .fontsize02 {
            font-size: 12px;
        }

        /*table{*/
        /*    border-right:1px solid black;*/
        /*    border-bottom:1px solid black;*/
        /*}*/
        /*table td{*/
        /*    border-left:1px solid black;*/
        /*    border-top:1px solid black;*/
        /*}*/
    </style>
</head>
<div th:replace="public/base_print :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <h5 class="black-text">中柬第一医院长期医嘱单</h5>
            <label class="black-text fontsize02">The first china-cambodia hospital Long term medical advice sheet</label>
        </div>
    </div>

    <input id="hosptalregistNumber" th:value="${hisMedicalOrder.hosptalregistNumber}" type="hidden">
    <input id="medicalOrderNumber" th:value="${hisMedicalOrder.number}" type="hidden">
    <input id="type" th:value="${hisMedicalOrder.type}" type="hidden">

    <div class="row valign-wrapper">
        <div class="col s12 m12 l12">
        <table border="0" cellspacing="0" cellpadding="0">

        <tr>
            <td>
                <label>姓名(name)</label>
                <label th:text="${hisHospitalManage.patientName}"></label>
            </td>
            <td>
                <label>性别(sex)</label>
                <label th:text="${hisHospitalManage.sexName}"></label>
            </td>
            <td>
                <label>年龄(age)</label>
                <label th:text="${hisHospitalManage.age}"></label>
            </td>

        </tr>
            <tr>
                <td>
                    <label>科室(Department)</label>
                    <label th:text="${hisHospitalManage.departmentName}"></label>
                </td>
                <td>
                    <label>床号(Bed No)</label>
                    <label th:text="${hisHospitalManage.bedsNumber}"></label>
                </td>
                <td>
                    <label>住院编号(Hospital number)</label>
                    <label th:text="${hisHospitalManage.number}"></label>
                </td>
            </tr>
        </table>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s12 m12 l12">
            <table border="0" cellspacing="0" cellpadding="0">


                <tr>
                    <th style="border:1px solid black;">开始时间(The start time)</th>
                    <th style="border:1px solid black;width: 20%;">医嘱内容(Medical content)</th>
                    <th style="border:1px solid black;">医师签名(Physician signature)</th>
                    <th style="border:1px solid black;">执行时间(execution time)</th>
                    <th style="border:1px solid black;">执行人签名(Signature of executor)</th>
                    <th style="border:1px solid black;">核对人签名(Check signature)</th>
                    <th style="border:1px solid black;">停止时间(Stop time)</th>
                    <th style="border:1px solid black;">停止护士签名(Stop nurse signature)</th>
                    <th style="border:1px solid black;">停止医师签名(Stop physician signature)</th>

                </tr>

                <tr th:each="c:${hisMedicalOrderDetailList}" >
                    <td th:text="${#dates.format(c.startTime, 'yyyy-MM-dd HH:mm:ss')}" style="border:1px solid black;" th:if="${c.startTime} ne null" ></td>
                    <td th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}" style="border:1px solid black;" th:if="${c.startTime} eq null"></td>
                    <td th:text="${c.name}" style="border:1px solid black;"></td>
                    <td style="border:1px solid black;" ></td>
                    <td style="border:1px solid black;"></td>
                    <td style="border:1px solid black;"></td>
                    <td style="border:1px solid black;"></td>
                    <td style="border:1px solid black;"></td>
                    <td style="border:1px solid black;"></td>
                    <td style="border:1px solid black;"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- ================================================
Scripts
================================================ -->

<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        printShow();
    });
    var hosptalregistNumber = $("#hosptalregistNumber").val();
    var number = $("#medicalOrderNumber").val();

    function printShow() {
        $.ahsjajax(
            CTX + "/api/hisMedicalOrder/printDoctorAdvice/index.ahsj",
            {"number": number},
            function (data) {
                var jsons = data[0];
                // if (!isNullOrEmpty(jsons)) {//有
                //     var type = $("#type").val();
                //     var trs;
                //     if (type == 1) {
                //         trs = "<tr><td><h6 class='black-text'>序号(Serial number)</h6></td><td><h6 class='black-text'>开始时间(Starting time)</h6></td><td><h6 class='black-text'>医嘱内容(Medical content)</h6></td><td><h6 class='black-text'>用法(usage)</h6></td><td><h6 class='black-text'>间隔(interval)</h6></td><td><h6 class='black-text'>总量(Total amount</h6></td><td><h6 class='black-text'>校对护士(Proofreading nurse )</h6></td>" +
                //             "<td><h6 class='black-text'>执行护士(Executive nurse )</h6></td><td><h6 class='black-text'>停嘱医生(Stop doctor )</h6></td><td><h6 class='black-text'>停嘱时间(Stop time)</h6></td><td><h6 class='black-text'>停嘱校对护士(Stop signing proofreading nurse)</h6></td></tr>";
                //     } else {
                //         trs = "<tr><td><h6 class='black-text'>序号(Serial number)</h6></td><td><h6 class='black-text'>开始时间(Starting time)</h6></td><td><h6 class='black-text'>医嘱内容(Medical content)</h6></td><td><h6 class='black-text'>用法(usage)</h6></td><td><h6 class='black-text'>间隔(interval)</h6></td>  <td><h6 class='black-text'>总量(Total amount</h6></td><td><h6 class='black-text'>校对护士(Proofreading nurse )</h6></td>" +
                //             "<td><h6 class='black-text'>执行护士(Executive nurse )</h6></td></tr>";
                //     }
                //
                //
                //     $.each(data, function (index, item) {
                //         if (isNullOrEmpty(item.startTime)) {
                //             item.startTime = "";
                //         }
                //         if (isNullOrEmpty(item.stopDate)) {
                //             item.stopDate = "";
                //         }
                //         if (isNullOrEmpty(item.usages)) {
                //             item.usages = "";
                //         }
                //         if (isNullOrEmpty(item.dosage)) {
                //             item.dosage = "";
                //         }
                //         if (isNullOrEmpty(item.intervals)) {
                //             item.intervals = "";
                //         }
                //
                //
                //         if (type == 1) {
                //             trs += "<tr><td><p class='black-text fontsize03'>" + item.orderNum + "</p></td><td ><p class='black-text fontsize03'>" + item.startTime + "</p></td><td ><p class='black-text fontsize03'>" + item.name + "</p></td><td ><p class='black-text fontsize03'>" + item.usages + "</p></td><td ><p class='black-text fontsize03'>" + item.intervalsName + "</p></td><td ><p class='black-text fontsize03'>" + item.totalAmount + "</p></td><td ><p class='black-text fontsize03'>" + item.pnName + "</p></td><td ><p class='black-text fontsize03'>" + item.anName + "</p></td><td ><p class='black-text fontsize03'>" + item.stopUserName + "</p></td>" +
                //                 "<td ><p class='black-text fontsize03'>" + item.stopDate + "</p></td><td ><p class='black-text fontsize03'>" + item.spnName + "</p></td></tr >";
                //         } else {
                //             trs += "<tr><td><p class='black-text fontsize03'>" + item.orderNum + "</p></td><td ><p class='black-text fontsize03'>" + item.startTime + "</p></td><td ><p class='black-text fontsize03'>" + item.name + "</p></td><td ><p class='black-text fontsize03'>" + item.usages + "</p></td><td ><p class='black-text fontsize03'>" + item.intervalsName + "</p></td><td ><p class='black-text fontsize03'>" + item.totalAmount + "</p></td><td ><p class='black-text fontsize03'>" + item.pnName + "</p></td><td ><p class='black-text fontsize03'>" + item.anName + "</p></td></tr>";
                //         }
                //     });
                //     var jsons = data[0]
                //     $("#table_id").append(trs);
                // }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }

    function doOk() {
        $('body  div div.row.valign-wrapper').printThis({
            importCSS: true,
            debug: true,
            afterPrint: function () {
                dialog.confirm('确定打印?', function (index, layero) {


                });
            }
        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>
<div th:replace="public/base_print_script :: html"></div>


</body>

</html>
