<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://mybatis.org/schema/mybatis-mapper" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="public/base_update :: html"></div>
<body>
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 500px;">
            <div class="card-content">
                <h4 class="card-title">医嘱模板添加</h4><label style="color:black">Doctor's advice template addition

            </label>
                <form class="col s12" id="send_Form" action="#">
                    <input  type="hidden" id="id" name="id" th:value="${hisMedicalOrderTemplateDetail.id}"/>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="templateNumber" name="templateNumber" type="text" th:value="${hisMedicalOrderTemplateDetail.templateNumber}" th:readonly="true"/>
                            <label for="templateNumber">医嘱模板编号<span style="font-size: 12px">(Doctor's advice template number

)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="templateName" name="templateName" type="text" th:value="${hisMedicalOrderTemplateDetail.templateName}" th:readonly="true" />
                            <label for="templateName">模板名<span style="font-size: 12px">(Template name
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="name" name="name" type="text" th:value="${hisMedicalOrderTemplateDetail.name}"
                                   data-error=".errorTxt1"/>
                            <div class="errorTxt1"></div>
                            <label for="name">医嘱名<span style="font-size: 12px">(Medical name
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="isSkinTest" id="isSkinTest" type="code" typeKey="is_skin_test" cssClass=""
                                    th:value="${hisMedicalOrderTemplateDetail.isSkinTest}">
                            </select>
                            <label for="isSkinTest">是否皮试<span style="font-size: 12px">(Whether skin test
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="specification" name="specification" type="text" th:value="${hisMedicalOrderTemplateDetail.specification}" />
                            <label for="specification">规格<span style="font-size: 12px">(specification
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="unit" name="unit" type="text" th:value="${hisMedicalOrderTemplateDetail.unit}" data-error=".errorTxt2"/>
                            <div class="errorTxt2"></div>
                            <label for="unit">单位<span style="font-size: 12px">(unit)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="usages" name="usages" type="text" th:value="${hisMedicalOrderTemplateDetail.usages}" data-error=".errorTxt3"/>
                            <div class="errorTxt3"></div>
                            <label for="usages">用法<span style="font-size: 12px">(usage
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="dosage" name="dosage" type="number" th:value="${hisMedicalOrderTemplateDetail.dosage}" data-error=".errorTxt4"/>
                            <div class="errorTxt4"></div>
                            <label for="dosage">用量<span style="font-size: 12px">(dosage)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="intervals" id="intervals" type="code" typeKey="intervals" cssClass=""
                                    th:value="${hisMedicalOrderTemplateDetail.intervals}">
                            </select>
                            <label for="intervals">间隔<span style="font-size: 12px">(Interval
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="totalAmount" name="totalAmount" type="number" th:value="${hisMedicalOrderTemplateDetail.totalAmount}" data-error=".errorTxt6"/>
                            <div class="errorTxt6"></div>
                            <label for="totalAmount">总量<span style="font-size: 12px">(Total amount
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="remarks" name="remarks" type="text" th:value="${hisMedicalOrderTemplateDetail.remarks}" />
                            <label for="remarks">备注<span style="font-size: 12px">(remark)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4" th:if="${hisMedicalOrderTemplateDetail.id} eq null">
                            <input id="orderNum" name="orderNum" type="number" th:value="${hisMedicalOrderTemplateDetail.orderNum}" />
                            <label for="orderNum">操作序号(如非插入序号请勿填写)<span style="font-size: 12px">(Operation number
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit" name="action">提交（submit
                                ）
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">


    $(function () {
        formCheck();
    });

    function formCheck() {
        $("#send_Form").validate({
            rules: {
                name: {//1
                    required: true,
                    minlength: 1
                }
            },
            messages: {
                name: {
                    required: "请输入医嘱名称",
                    minlength: "最少包含1个字符"
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero){
                var queryString = $('#send_Form').serialize();
                console.log("queryString is" + queryString);
                $.ahsjajax(
                    CTX + "/api/medicalOrderTemplateDetail/saveOrUpdate.ahsj?token=" + TOKEN,
                    queryString,
                    function (msg) {
                        if (msg.success) {
                            M.toast({html: msg.message});
                            parent.grid.search();
                            dialog.parentclose();
                            return false;
                        } else {
                            M.toast({html: msg.message});
                            return false;
                        }
                    },
                    function () {
                        M.toast({html: "网络异常"});
                        return false;
                    }
                );});
            }
        });
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
