

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">-->
<!--<head>-->
    <!--<style>-->
        <!--body{-->
            <!--font-size: 10px;-->
            <!--line-height: 15px;-->
            <!--padding: 0;-->
            <!--margin: 0;-->
        <!--}-->
        <!--.fontsize02 {-->
            <!--font-size: 10px;-->
        <!--}-->
        <!--.fontsize02 {-->
            <!--font-size: 10px;-->
        <!--}-->
        <!--label{-->
            <!--font-size: 10px;-->
            <!--padding: 0;-->
            <!--margin: 0;-->
        <!--}-->
        <!--table tr td{-->
            <!--padding: 0;-->
            <!--margin: 0;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<div th:replace="public/base_print :: html"></div>-->
<!--<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "-->
      <!--data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">-->

<!--<div class="row">-->
    <!--<div class="row valign-wrapper" style="margin-top: 30px;height: 35px;">-->
        <!--<div class="col s12 m12 l12 center">-->
            <!--<h5 class="black-text fontsize02" style="padding: 0;margin: 0;text-align: center;">中柬第一医院临时医嘱单</h5>-->
            <!--<p class="black-text fontsize02" style="padding: 0;margin: 0;text-align: center">The first china-cambodia hospital temporary medical order sheet</p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<input id="hosptalregistNumber" th:value="${hisMedicalOrder.hosptalregistNumber}" type="hidden">-->
    <!--<input id="medicalOrderNumber" th:value="${hisMedicalOrder.number}" type="hidden">-->
    <!--<input id="type" th:value="${hisMedicalOrder.type}" type="hidden">-->

    <!--<div class="row valign-wrapper" style="height: 45px;">-->
        <!--<div class="col s12 m12 l12">-->
            <!--<table border="0" cellspacing="0" cellpadding="0" style="width: 95%;margin: 0 auto;">-->

                <!--<tr>-->
                    <!--<td >-->
                        <!--<label>姓名(name)</label>-->
                        <!--<label th:text="${hisHospitalManage.patientName}"></label>-->
                    <!--</td>-->
                    <!--<td >-->
                        <!--<label>性别(sex)</label>-->
                        <!--<label th:text="${hisHospitalManage.sexName}"></label>-->
                    <!--</td>-->
                    <!--<td >-->
                        <!--<label>年龄(age)</label>-->
                        <!--<label th:text="${hisHospitalManage.age}"></label>-->
                    <!--</td>-->
                    <!--<td >-->
                        <!--<label id="now"></label>-->
                    <!--</td>-->

                <!--</tr>-->
                <!--<tr>-->
                    <!--<td style="height: 25px">-->
                        <!--<label>科室(Department)</label>-->
                        <!--<label th:text="${hisHospitalManage.departmentName}"></label>-->
                    <!--</td>-->
                    <!--<td style="height: 25px">-->
                        <!--<label>床号(Bed No)</label>-->
                        <!--<label th:text="${hisHospitalManage.bedsNumber}"></label>-->
                    <!--</td>-->
                    <!--<td colspan="2" style="height: 25px">-->
                        <!--<label>住院编号(Hospital number)</label>-->
                        <!--<label th:text="${hisHospitalManage.number}"></label>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row valign-wrapper">-->
        <!--<div class="col s12 m12 l12"  id="firstPage">-->
            <!--<table border="0" cellspacing="0" cellpadding="0" border-collapse="collapse" style="width: 95%;margin: 0 auto;" id="table_id">-->
                <!--&lt;!&ndash;                <tr>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;"><div style="transform: scale(0.5);height: 50px;">开始时间(The start time)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;width:200px;"><div style="transform: scale(0.5);">医嘱内容(Medical content)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">医师签名(Physician signature)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">执行时间(execution time)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">执行人签名(Signature of executor)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">核对人签名(Check signature)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;width:70px;"><div style="transform: scale(0.5);">停止时间(Stop time)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">停止护士签名(Stop nurse signature)</div></th>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">停止医师签名(Stop physician signature)</div></th>&ndash;&gt;-->

                <!--&lt;!&ndash;                </tr>&ndash;&gt;-->

                <!--&lt;!&ndash;                <tr th:each="c:${hisMedicalOrderDetailList}" class="trCount">&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td th:text="${#dates.format(c.startTime, 'yyyy-MM-dd HH:mm:ss')}" style="border:1px solid black;" th:if="${c.startTime} ne null" ></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}" style="border:1px solid black;" th:if="${c.startTime} eq null"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td th:text="${c.name}" style="border:1px solid black;"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td style="border:1px solid black;" ></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td style="border:1px solid black;"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td style="border:1px solid black;"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td style="border:1px solid black;"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td style="border:1px solid black;"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td style="border:1px solid black;"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                    <td style="border:1px solid black;"></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                </tr>&ndash;&gt;-->
            <!--</table>-->
        <!--</div>-->
        <!--<div id="addpage">-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; ================================================-->
<!--Scripts-->
<!--================================================ &ndash;&gt;-->

<!--<div th:replace="public/base_print_script :: html"></div>-->
<!--<script th:inline="javascript">-->
    <!--$(document).ready(function () {-->
        <!--document.getElementById("now").innerHTML=getDay();-->
        <!--printShow();-->
        <!--// var trCount=document.getElementsByClassName("trCount").length;-->
        <!--// console.log(trCount);-->
    <!--});-->
    <!--var hosptalregistNumber = $("#hosptalregistNumber").val();-->
    <!--var number = $("#medicalOrderNumber").val();-->

    <!--function printShow() {-->
        <!--$.ahsjajax(-->
            <!--CTX + "/api/hisMedicalOrder/printDoctorAdvice/index.ahsj",-->
            <!--{"number": number},-->
            <!--function (data) {-->
                <!--//console.log(data);-->
                <!--if (!isNullOrEmpty(data)) {//有-->
                    <!--var dataCount = data.length;-->
                    <!--//console.log(dataCount);-->

                    <!--if(dataCount<=17){-->
                        <!--//$("#firstPage").height(auto);-->
                        <!--var trs;-->
                        <!--trs = "<tr><td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">开始时间(The start time)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:190px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">医嘱内容(Medical content)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">医师签名(Physician signature)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">执行时间(execution time)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 10px\">执行人签名(Signature of executor)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">核对人签名(Check signature)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止时间(Stop time)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止护士签名(Stop nurse signature)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止医师签名(Stop physician signature)</p></td>"+-->
                            <!--"<td style=\"border:1px solid black;width:70px;text-align: center\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+1+"</p></td></tr>"-->

                        <!--for(var i = 0 ; i < data.length ; i++){-->
                            <!--if (isNullOrEmpty(data[i].startTime)) {-->
                                <!--data[i].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[i].name)) {-->
                                <!--data[i].name = "";-->
                            <!--}-->

                            <!--trs += "<tr class=\"trCount\"><td style=\"border:1px solid black;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+ data[i].startTime +"</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+ data[i].name +"</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>"+-->
                                <!--"<td style=\"border:1px solid black;text-align: center\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(i+2)+"</p></td></tr>";-->
                        <!--}-->
                        <!--$("#table_id").append(trs);-->
                    <!--}-->
                    <!--if(dataCount>17){-->
                        <!--$("#firstPage").height(1006);-->
                        <!--//第一页肯定显示-->
                        <!--var trs;-->
                        <!--trs = "<tr><td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">开始时间(The start time)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:190px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">医嘱内容(Medical content)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">医师签名(Physician signature)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">执行时间(execution time)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 10px\">执行人签名(Signature of executor)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">核对人签名(Check signature)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止时间(Stop time)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止护士签名(Stop nurse signature)</p></td>" +-->
                            <!--"<td style=\"border:1px solid black;width:70px;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止医师签名(Stop physician signature)</p></td>"+-->
                            <!--"<td style=\"border:1px solid black;width:70px;text-align: center\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+1+"</p></td></tr>"-->

                        <!--for(var i = 0 ; i < 17 ; i++){-->
                            <!--if (isNullOrEmpty(data[i].startTime)) {-->
                                <!--data[i].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[i].name)) {-->
                                <!--data[i].name = "";-->
                            <!--}-->

                            <!--trs += "<tr class=\"trCount\"><td style=\"border:1px solid black;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+ data[i].startTime +"</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+ data[i].name +"</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;text-align: center\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(i+2)+"</p></td></tr>";-->
                        <!--}-->
                        <!--$("#table_id").append(trs);-->

                        <!--printShow2();-->
                    <!--}-->

                <!--}-->
            <!--},-->
            <!--function () {-->
                <!--M.toast({html: "网络异常"});-->
                <!--return false;-->
            <!--}-->
        <!--);-->
    <!--}-->
    <!--function printShow2() {-->
        <!--$.ahsjajax(-->
            <!--CTX + "/api/hisMedicalOrder/printDoctorAdvice/index.ahsj",-->
            <!--{"number": number},-->
            <!--function (data) {-->
                <!--//console.log(data);-->
                <!--var dataCount = data.length;-->
                <!--//console.log(dataCount);-->
                <!--if (!isNullOrEmpty(data)) {-->
                    <!--// var num = dataCount-25;//记录数-->
                    <!--// var totalPage = 0;//除了第一页之外的总页数-->
                    <!--// var pageSize = 30;//每页显示行数-->
                    <!--// //总共分几页-->
                    <!--// if(num/pageSize > parseInt(num/pageSize)){-->
                    <!--//     totalPage=parseInt(num/pageSize)+1;-->
                    <!--// }else{-->
                    <!--//     totalPage=parseInt(num/pageSize);-->
                    <!--// }-->
                    <!--//第二页最多显示18条-->
                    <!--if(dataCount>17){-->

                        <!--var adddiv;-->
                        <!--adddiv = "";-->
                        <!--//for(var i=1 ;i <= totalPage;i++){-->
                        <!--//var adddiv="";-->
                        <!--adddiv = "<div style=\"height: 10mm;\"></div><div style=\"height: 286mm;\"><table id=\"table_id1\" class=\"table_add\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" border-collapse=\"collapse\" style=\"width: 95%;margin: 0 auto;\"></table></div>";-->
                        <!--//}-->
                        <!--$("#addpage").append(adddiv);-->
                        <!--// $(".table_add").each(function(i) {-->
                        <!--//     $(this).attr("id", "table_id" + (i + 1));-->
                        <!--// });-->

                        <!--var trss;-->
                        <!--trss = "";-->

                        <!--//for(var i=1 ;i < totalPage;i++) {-->
                        <!--for (var j = 17; j < dataCount; j++) {-->
                            <!--//console.log(data[j]);-->
                            <!--if (isNullOrEmpty(data[j].startTime)) {-->
                                <!--data[j].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[j].name)) {-->
                                <!--data[j].name = "";-->
                            <!--}-->

                            <!--trss += "<tr class=\"trCount\"><td style=\"border:1px solid black;width: 70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].startTime + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 190px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].name + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;text-align: center;width: 70px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2-18)+"</p></td></tr>";-->
                        <!--}-->

                        <!--//var tableId = 'table_id' + i;-->

                        <!--$("#table_id1").append(trss);-->

                    <!--}-->

                    <!--if(dataCount<=53 &&dataCount>35){-->
                        <!--var adddiv;-->
                        <!--adddiv = "";-->
                        <!--for(var i=1 ;i <= 2;i++){-->
                            <!--adddiv += "<div style=\"height: 10mm;\"></div><div style=\"height: 286mm;\"><table class=\"table_add\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" border-collapse=\"collapse\" style=\"width: 95%;margin: 0 auto;\"></table></div>";-->
                        <!--}-->
                        <!--$("#addpage").append(adddiv);-->
                        <!--$(".table_add").each(function(i) {-->
                            <!--$(this).attr("id", "table_id" + (i + 1));-->
                        <!--});-->
                        <!--var trss;-->
                        <!--trss = "";-->

                        <!--for (var j = 17; j < 35; j++) {-->
                            <!--//console.log(data[j]);-->
                            <!--if (isNullOrEmpty(data[j].startTime)) {-->
                                <!--data[j].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[j].name)) {-->
                                <!--data[j].name = "";-->
                            <!--}-->

                            <!--trss += "<tr class=\"trCount\"><td style=\"border:1px solid black;width: 70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].startTime + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 190px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].name + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;text-align: center;width: 70px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2-18)+"</p></td></tr>";-->
                        <!--}-->

                        <!--$("#table_id1").append(trss);-->

                        <!--var trss2;-->
                        <!--trss2 = "";-->
                        <!--for (var j = 35; j < dataCount; j++) {-->
                            <!--//console.log(data[j]);-->
                            <!--if (isNullOrEmpty(data[j].startTime)) {-->
                                <!--data[j].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[j].name)) {-->
                                <!--data[j].name = "";-->
                            <!--}-->

                            <!--trss2 += "<tr class=\"trCount\"><td style=\"border:1px solid black;width: 70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].startTime + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 190px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].name + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;text-align: center;width: 70px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2-36)+"</p></td></tr>";-->
                        <!--}-->

                        <!--$("#table_id2").append(trss2);-->

                    <!--}-->

                    <!--if(dataCount<=71&&dataCount>53){-->
                        <!--var adddiv;-->
                        <!--adddiv = "";-->
                        <!--for(var i=1 ;i <= 3;i++){-->
                            <!--adddiv += "<div style=\"height: 10mm;\"></div><div style=\"height: 286mm;\"><table class=\"table_add\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" border-collapse=\"collapse\" style=\"width: 95%;margin: 0 auto;\"></table></div>";-->
                        <!--}-->
                        <!--$("#addpage").append(adddiv);-->
                        <!--$(".table_add").each(function(i) {-->
                            <!--$(this).attr("id", "table_id" + (i + 1));-->
                        <!--});-->
                        <!--var trss;-->
                        <!--trss = "";-->

                        <!--for (var j = 17; j < 35; j++) {-->
                            <!--//console.log(data[j]);-->
                            <!--if (isNullOrEmpty(data[j].startTime)) {-->
                                <!--data[j].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[j].name)) {-->
                                <!--data[j].name = "";-->
                            <!--}-->

                            <!--trss += "<tr class=\"trCount\"><td style=\"border:1px solid black;width: 70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].startTime + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 190px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].name + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;text-align: center;width: 70px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2-18)+"</p></td></tr>";-->
                        <!--}-->

                        <!--$("#table_id1").append(trss);-->
                        <!--var trss2;-->
                        <!--trss2 = "";-->
                        <!--for (var j = 35; j < 53; j++) {-->
                            <!--//console.log(data[j]);-->
                            <!--if (isNullOrEmpty(data[j].startTime)) {-->
                                <!--data[j].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[j].name)) {-->
                                <!--data[j].name = "";-->
                            <!--}-->

                            <!--trss2 += "<tr class=\"trCount\"><td style=\"border:1px solid black;width: 70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].startTime + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 190px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].name + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;text-align: center;width: 70px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2-36)+"</p></td></tr>";-->
                        <!--}-->

                        <!--$("#table_id2").append(trss2);-->

                        <!--var trss3;-->
                        <!--trss3 = "";-->
                        <!--for (var j = 53; j < dataCount; j++) {-->
                            <!--//console.log(data[j]);-->
                            <!--if (isNullOrEmpty(data[j].startTime)) {-->
                                <!--data[j].startTime = getDay();-->
                            <!--}-->
                            <!--if (isNullOrEmpty(data[j].name)) {-->
                                <!--data[j].name = "";-->
                            <!--}-->

                            <!--trss3 += "<tr class=\"trCount\"><td style=\"border:1px solid black;width: 70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].startTime + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 190px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + data[j].name + "</p></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;width: 70px\"></td>" +-->
                                <!--"<td style=\"border:1px solid black;text-align: center;width: 70px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2-54)+"</p></td></tr>";-->
                        <!--}-->

                        <!--$("#table_id3").append(trss3);-->
                    <!--}-->

                <!--}-->
                <!--// }-->
            <!--},-->
            <!--function () {-->
                <!--M.toast({html: "网络异常"});-->
                <!--return false;-->
            <!--})-->
    <!--}-->
    <!--function doOk() {-->
        <!--$('body  div div.row.valign-wrapper').printThis({-->
            <!--importCSS: false,-->
            <!--debug: false,-->
            <!--afterPrint: function () {-->
                <!--dialog.confirm('确定打印?', function (index, layero) {-->


                <!--});-->
            <!--}-->
        <!--});-->
    <!--}-->

    <!--function getDay(){-->
        <!--var myDate = new Date();-->
        <!--var year = myDate.getFullYear();-->
        <!--var month = myDate.getMonth() + 1;-->
        <!--var date = myDate.getDate();-->
        <!--var h = myDate.getHours();-->
        <!--var m = myDate.getMinutes();-->
        <!--var s = myDate.getSeconds();-->
        <!--var now = year + "-" + month + "-" + date + " " + h + ":" + m + ":" + s;-->
        <!--return now;-->
    <!--}-->

    <!--$("input").change(function () {-->
        <!--$(this).val($(this).val().trim());-->
    <!--});-->
<!--</script>-->
<!--<div th:replace="public/base_print_script :: html"></div>-->


<!--</body>-->

<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <style>
        body{
            font-size: 10px;
            line-height: 15px;
            padding: 0;
            margin: 0;
        }
        .fontsize02 {
            font-size: 10px;
        }
        .fontsize02 {
            font-size: 10px;
        }
        label{
            font-size: 10px;
            padding: 0;
            margin: 0;
        }
        table tr td{
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<div th:replace="public/base_print :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="row valign-wrapper" style="margin-top: 30px;height: 35px;">
        <div class="col s12 m12 l12 center">
            <h5 class="black-text fontsize02" style="padding: 0;margin: 0;text-align: center">中柬第一医院短期医嘱单</h5>
            <p class="black-text fontsize02" style="padding: 0;margin: 0;text-align: center">The first china-cambodia hospital short term medical advice sheet</p>
        </div>
    </div>

    <input id="hosptalregistNumber" th:value="${hisMedicalOrder.hosptalregistNumber}" type="hidden">
    <input id="medicalOrderNumber" th:value="${hisMedicalOrder.number}" type="hidden">
    <input id="type" th:value="${hisMedicalOrder.type}" type="hidden">

    <div class="row valign-wrapper" style="height: 45px;">
        <div class="col s12 m12 l12">
            <table border="0" cellspacing="0" cellpadding="0" style="width: 95%;margin: 0 auto;">

                <tr>
                    <td >
                        <label>姓名(name)</label>
                        <label th:text="${hisHospitalManage.patientName}"></label>
                    </td>
                    <td >
                        <label>性别(sex)</label>
                        <label th:text="${hisHospitalManage.sexName}"></label>
                    </td>
                    <td >
                        <label>年龄(age)</label>
                        <label th:text="${hisHospitalManage.age}"></label>
                    </td>
                    <td >
                        <label id="now"></label>
                    </td>

                </tr>
                <tr>
                    <td style="height: 25px">
                        <label>科室(Department)</label>
                        <label th:text="${hisHospitalManage.departmentName}"></label>
                    </td>
                    <td style="height: 25px">
                        <label>床号(Bed No)</label>
                        <label th:text="${hisHospitalManage.bedsNumber}"></label>
                    </td>
                    <td colspan="2" style="height: 25px">
                        <label>住院编号(Hospital number)</label>
                        <label th:text="${hisHospitalManage.number}"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s12 m12 l12"  id="firstPage">
            <table border="0" cellspacing="0" cellpadding="0" border-collapse="collapse" style="width: 95%;margin: 0 auto;" id="table_id">
                <!--                <tr>-->
                <!--                    <th style="border:1px solid black;"><div style="transform: scale(0.5);height: 50px;">开始时间(The start time)</div></th>-->
                <!--                    <th style="border:1px solid black;width:200px;"><div style="transform: scale(0.5);">医嘱内容(Medical content)</div></th>-->
                <!--                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">医师签名(Physician signature)</div></th>-->
                <!--                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">执行时间(execution time)</div></th>-->
                <!--                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">执行人签名(Signature of executor)</div></th>-->
                <!--                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">核对人签名(Check signature)</div></th>-->
                <!--                    <th style="border:1px solid black;width:70px;"><div style="transform: scale(0.5);">停止时间(Stop time)</div></th>-->
                <!--                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">停止护士签名(Stop nurse signature)</div></th>-->
                <!--                    <th style="border:1px solid black;"><div style="transform: scale(0.5);">停止医师签名(Stop physician signature)</div></th>-->

                <!--                </tr>-->

                <!--                <tr th:each="c:${hisMedicalOrderDetailList}" class="trCount">-->
                <!--                    <td th:text="${#dates.format(c.startTime, 'yyyy-MM-dd HH:mm:ss')}" style="border:1px solid black;" th:if="${c.startTime} ne null" ></td>-->
                <!--                    <td th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}" style="border:1px solid black;" th:if="${c.startTime} eq null"></td>-->
                <!--                    <td th:text="${c.name}" style="border:1px solid black;"></td>-->
                <!--                    <td style="border:1px solid black;" ></td>-->
                <!--                    <td style="border:1px solid black;"></td>-->
                <!--                    <td style="border:1px solid black;"></td>-->
                <!--                    <td style="border:1px solid black;"></td>-->
                <!--                    <td style="border:1px solid black;"></td>-->
                <!--                    <td style="border:1px solid black;"></td>-->
                <!--                    <td style="border:1px solid black;"></td>-->
                <!--                </tr>-->
            </table>
        </div>
        <div id="addpage">

        </div>
    </div>
</div>

<!-- ================================================
Scripts
================================================ -->

<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        document.getElementById("now").innerHTML=getDay();
        printShow();
        // var trCount=document.getElementsByClassName("trCount").length;
        // console.log(trCount);
    });
    var hosptalregistNumber = $("#hosptalregistNumber").val();
    var number = $("#medicalOrderNumber").val();

    function printShow() {
        $.ahsjajax(
            CTX + "/api/hisMedicalOrder/printDoctorAdvice/index.ahsj",
            {"number": number},
            function (data) {
                //console.log(data);
                if (!isNullOrEmpty(data)) {//有
                    var dataCount = data.length;
                    //console.log(dataCount);

                    var times = Math.floor(dataCount/19) + 1;
                    var adddiv;
                    var notFirst = 0;
                    adddiv = "";
                    if(times > 1) {
                        for (var i = 1; i < times; i++) {
                            adddiv += "<div style=\"height: 10mm;\"></div><div style=\"height: 286mm;\"><table class=\"table_add\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" border-collapse=\"collapse\" style=\"width: 95%;margin: 0 auto;\"></table></div>";
                        }
                        $("#addpage").append(adddiv);
                        $(".table_add").each(function (i) {
                            $(this).attr("id", "table_id" + (i + 1));
                        });
                    }
                    for (var i = 0; i <times ; i++) {
                        var trs;
                        if(i > 0){
                            notFirst = 1;
                        }
                        if(i == 0) {
                            trs = "<tr><td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">开始时间(The start time)</p></td>" +
                                "<td style=\"border:1px solid black;width:190px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">医嘱内容(Medical content)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">医师签名(Physician signature)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">执行时间(execution time)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 10px\">执行人签名(Signature of executor)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">核对人签名(Check signature)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止时间(Stop time)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止护士签名(Stop nurse signature)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">停止医师签名(Stop physician signature)</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px;text-align: center\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">" + 1 + "</p></td></tr>";
                        }
                        var innerTimes;
                        if(dataCount < 19){
                            innerTimes = (dataCount-1)%18 +1
                        }else {
                            innerTimes =18;
                            dataCount -=18;
                        }
                        for (var j = 0; j <innerTimes ; j++) {
                            var k = j+18*(i);
                            if (isNullOrEmpty(data[k].startTime)) {
                                data[k].startTime = getDay();
                            }
                            if (isNullOrEmpty(data[k].name)) {
                                data[k].name = "";
                            }
                            trs += "<tr class=\"trCount\"><td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+ data[k].startTime +"</p></td>" +
                                "<td style=\"border:1px solid black;width:190px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+ data[k].name +"</p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>"+
                                "<td style=\"border:1px solid black;text-align: center;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2-notFirst)+"</p></td></tr>";
                        }
                        for (var j = 0; j <18-innerTimes ; j++) {
                            trs += "<tr class=\"trCount\"><td style=\"border:1px solid black;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\"></p></td>" +
                                "<td style=\"border:1px solid black;width:190px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\"></p></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>" +
                                "<td style=\"border:1px solid black;width:70px;height: 50px\"></td>"+
                                "<td style=\"border:1px solid black;text-align: center;width:70px;height: 50px\"><p style=\"padding:0px;margin:0px;font-size: 10px;line-height: 11px\">"+(j+2+innerTimes-notFirst)+"</p></td></tr>";
                        }
                        if(i+1 ==1){
                            $("#table_id").append(trs);
                            trs ="";
                        }else if(i+1 ==2){
                            $("#table_id1").append(trs);
                            trs ="";
                        }
                        else if(i+1 ==3){
                            $("#table_id2").append(trs);
                            trs ="";
                        }
                        else if(i+1 ==4){
                            $("#table_id3").append(trs);
                            trs ="";
                        }
                        else if(i+1 ==5){
                            $("#table_id4").append(trs);
                            trs ="";
                        }
                        else if(i+1 ==6){
                            $("#table_id5").append(trs);
                            trs ="";
                        }
                        else if(i+1 ==7){
                            $("#table_id6").append(trs);
                            trs ="";
                        }
                        else if(i+1 ==8){
                            $("#table_id7").append(trs);
                            trs ="";
                        }
                    }
                }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }
    function doOk() {
        $('body  div div.row.valign-wrapper').printThis({
            importCSS: false,
            debug: false,
            afterPrint: function () {
                // dialog.confirm('确定打印?', function (index, layero) {
                //
                //
                // });
            }
        });
    }

    function getDay(){
        var myDate = new Date();
        var year = myDate.getFullYear();
        var month = myDate.getMonth() + 1;
        var date = myDate.getDate();
        var h = myDate.getHours();
        var m = myDate.getMinutes();
        var s = myDate.getSeconds();
        if(m<=9){
            var now = year + "-" + month + "-" + date + " " + h + ":" +"0"+ m /*+ ":" + s*/;
        }else {
            var now = year + "-" + month + "-" + date + " " + h + ":" + m /*+ ":" + s*/;
        }
        return now;
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>
<div th:replace="public/base_print_script :: html"></div>


</body>

</html>
