<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<div th:replace="public/base_list :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="col s12 x12 l12 xl12">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">医嘱模板明细
                </h4><label style="color:black">Details of doctor's advice template
            </label>
                <a id="addBtn" class="waves-effect waves-light btn"><i
                        class="material-icons  white-text tooltipped " data-position="bottom"
                        data-delay="50" data-tooltip="新增">add</i></a>
                <a id="deleteManyBtn" class="waves-effect waves-light btn"><i
                        class="material-icons  white-text tooltipped " data-position="bottom"
                        data-delay="50" data-tooltip="批量删除">delete</i></a>
                <!--Form Advance-->
                <div class="row">
                    <div id="refreshtable" class="col l12 m12 l12 xl12">
                        <table id="data-table-simple" class="display">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <input id="templateNumber" type="hidden" th:value="${templateNumber}">
    <input id="templateName" type="hidden" th:value="${templateName}">
</div>
<div th:replace="public/base_list_script :: html"></div>
<script type="text/javascript">

    var grid = new Datatable();
    $(document).ready(function () {
        initBtn();
        initTable();
    });

    function initTable() {
        grid.init({
            src: $("#data-table-simple"),
            onSuccess: function (grid) {
            },
            onError: function (grid) {
            },
            onDataLoad: function (grid) {
            },
            loadingMessage: 'Loading...',
            dataTable: {
                "ajax": {
                    "url": CTX + "/api/medicalOrderTemplateDetail/list.ahsj?token=" + TOKEN+ "&templateNumber=" + $("#templateNumber").val(),  // ajax source
                },
                "columns": [
                    {
                        "title": "<label><input type=\"checkbox\"  id=\"checkAll\" class=\"select-all\" > <span></span></label> ",
                        "render": function (data, type, row, meta) {
                            return " <label> <input type=\"checkbox\" value=\"" + row.id + "\"> <span></span> </label>";
                        },
                        "width": "18px",
                        "orderable": false,
                        "className": "centered"
                    },
                    {
                        "title": "模板编号",
                        "data": "templateNumber",
                        "name": "template_number"
                    },
                    {
                        "title": "操作序号",
                        "data": "orderNum",//实体
                        "name": "order_num"//库
                    },
                    {
                        "title": "医嘱名称",
                        "data": "name",//实体
                        "name": "name"//库
                    },
                    {
                        "title": "是否皮试",
                        "data": "isSkinTestName",//实体
                        "name": "is_skin_test"//库
                    },
                    {
                        "title": "规格",
                        "data": "specification",
                        "name": "specification"
                    },{
                        "title": "单位",
                        "data": "unit",
                        "name": "unit"
                    },
                    {
                        "title": "用法",
                        "data": "usages",
                        "name": "usages"
                    },
                    {
                        "title": "用量",
                        "data": "dosage",
                        "name": "dosage"
                    },
                    {
                        "title": "间隔",
                        "data": "intervalsName",
                        "name": "intervals"
                    },
                    {
                        "title": "总量",
                        "data": "totalAmount",
                        "name": "total_amount"
                    },
                    {
                        "title": "备注",
                        "data": "remarks",
                        "name": "remarks"
                    },
                    {
                        "title": "操作",
                        "width": "200px",
                        "className": "centered",
                        "orderable": false,
                        "render": function (data, type, row) {
                            var rtnBtn = "";
                            //如果获取字符串，必须在参数外反转"
                            rtnBtn = rtnBtn +
                                "<a class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"医嘱模板明细编辑\" onclick=\"edit(" + row.id +");\"> <i class='material-icons'>edit</i></a>"+
                                "<a class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"删除\" onclick=\"deleteInit(" + row.id +");\"> <i class='material-icons'>delete</i></a>";
                            return rtnBtn;
                            // 返回自定义内容

                        }
                    }
                ],
                "order":  [ [2, 'asc'] ]
            }
        });
    }

    function edit(id) {
        var url = CTX+"/api/medicalOrderTemplateDetail/saveOrUpdate/index.ahsj?token=" + TOKEN + "&id="+ id;
        dialog.show(url, "医嘱模板明细编辑");

    }

    function deleteInit(ids) {
        dialog.confirm('确定删除?', function (index, layero) {
            $.ahsjajax(CTX + "/api/medicalOrderTemplateDetail/delete.ahsj",
                {
                    "ids": ids,
                },
                function (msg) {
                    if (msg.success) {
                        swal.close();
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                        grid.search();
                        // dialog.parentclose();

                    } else {
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    }
                },
                function (data) {
                    M.toast({
                        html: "网络异常", completeCallback: function () {
                        }
                    });
                }
            );
        });

    }

    function initBtn() {
        // 批量删除
        $("#deleteManyBtn").click(function () {
            var ids = grid.getSelectedRows();
            if (ids.length == 0) {
                dialog.warn("请至少选择一条数据");
                return;
            }
            deleteInit(ids.join(','));
            grid.search();
        });

        $('#addBtn').click(function () {
            var url = CTX+"/api/medicalOrderTemplateDetail/saveOrUpdate/index.ahsj?token=" + TOKEN + "&templateNumber="+$("#templateNumber").val() + "&templateName="+$("#templateName").val();
            dialog.show(url, "添加医嘱模板");

        });
    }
    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>
</body>
</html>

