<!DOCTYPE html>
<!--字体变小-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <style>
        .fontsize01 {
            font-size: 14px;
        }

        .fontsize02 {
            font-size: 12px;
        }
        .fontsize03 {
            font-size: 10px;
        }

    </style>
</head>
<div th:replace="public/base_print :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <h5 class="black-text">中柬第一医院</h5>
            <label class="black-text fontsize02">The first china-cambodia hospital</label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s2 m2 l2 left">
            <label class="black-text fontsize01">就诊记录编号(Visit record number)</label>
        </div>
        <div class="col s2 m2 l2">
            <label class="black-text"><span id="recordNumber"></span></label>
        </div>
        <!--<input type="hidden" id="ids" th:value="${ids}">-->
        <div class="col s2 m2 l2 right">
            <label class="black-text fontsize01">出库时间(>Outbound time)</label>
        </div>
        <div class="col s2 m2 l2">
            <label class="black-text"><span id="createDate"></span></label>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s2 m2 l2 left">
            <label class="black-text fontsize01">出库人(Outbound)</label>
        </div>
        <div class="col s2 m2 l2">
            <label class="black-text"><span id="userName"></span></label>
        </div>
        <div class="col s2 m2 l2 right">
            <label class="black-text fontsize01">使用人(user)</label>
        </div>
        <div class="col s2 m2 l2">
            <label class="black-text"><span id="patientName"></span></label>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s4 m4 l4 center-align">
            <h6 class="black-text">耗材出库明细(Supplies outbound details)</h6>
        </div>
        <div class="col s4 m4 l4 center-align">
            <h6 class="black-text "></h6>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12">
            <table id="table_id" style="font-size: 14px"></table>
        </div>
    </div>
</div>
<input type="hidden" id="exitNumber" th:value="${exitNumber}">

<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        printShow();
    });
    function printShow() {
        var exitNumber = $("#exitNumber").val();
        $.ahsjajax(
            CTX + "/api/hisexitconsumables/getExitConsumabes.ahsj?token="+TOKEN,
            {"exitNumber": exitNumber},
            function (data) {
                var jsons = data[0];
                if (!isNullOrEmpty(jsons)) {//有
                    var trs = "<tr><td><h6 class='black-text'>名称(name)</h6></td><td><h6 class='black-text'>数目(number)</h6></td><td><h6 class='black-text'>规格(specification)</h6></td><td><h6 class='black-text'>有效期(Validity period)</h6></td></tr>";
                    $.each(data, function (index, item) {
                        trs += "<tr><td><p class='black-text fontsize03'>" + item.name + "(" + item.tName + ")" + "</p></td><td ><p class='black-text fontsize03'>" + item.exitCount + "</p></td><td ><p class='black-text fontsize03'>" + item.spec +"(" + item.tSpec + ")" + "</p></td><td ><p class='black-text fontsize03'>" + item.validityPeriod + "</p></td></tr >";
                    });
                    var jsons = data[0];
                    $("#recordNumber").html([[${hisHospitalManagerId}]]);
                    $("#createDate").html(jsons.createDate);
                    $("#userName").html(jsons.personInCharge);
                    $("#patientName").html(jsons.patientName);
                    $("#table_id").append(trs);
                }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }

    function doOk() {
        $('body  div div.row.valign-wrapper').printThis({
            importCSS: false,
            debug: false,
            afterPrint: function () {
                // dialog.confirm('确定打印?', function (index, layero) {
                //
                //
                // });
            }
        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
