<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <style>
        .fontsize01 {
            font-size: 8px;
        }

        .fontsize02 {
            font-size: 8px;
        }
        table tr td{
            padding: 0;
        }
    </style>
</head>
<div th:replace="public/base_print :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row" style="padding: 0;margin:0">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12" th:if="${type} eq 1">
            <label class="black-text">财务联(Financial union)</label>

        </div>
        <div class="col s12 m12 l12" th:if="${type} eq 2">
            <label class="black-text">科室联(Department)</label>
        </div>
        <div class="col s12 m12 l12" th:if="${type} eq 3">
            <label class="black-text">自由联(Free association)</label>

        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <h4 class="black-text" style="text-align: center;padding: 0 auto;margin: 0 auto">中柬第一医院退药收费</h4>
            <p class="black-text fontsize02" style="text-align: center;padding: 0 auto;margin: 0 auto">The first china-cambodia hospital Medicine fee back</p>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 ">
            <table style="border: none;font-size: 8px">
                <tr>
                    <td><label class="black-text fontsize01">姓名(name)</label></td>
                    <td><label class="black-text"  style="padding: 0;" id="name"></label></td>
                    <td><label class="black-text fontsize01">科室(department)</label></td>
                    <td><label class="black-text" id="department"></label></td>
                </tr>
                <tr>
                    <td><label class="black-text fontsize01">年龄(age)</label></td>
                    <td><label class="black-text"  style="padding: 0;" id="age"></label></td>
                    <td><label class="black-text fontsize01">性别(sex)</label></td>
                    <td><label class="black-text" id="sex"></label></td>
                </tr>
                <tr>
                    <td><label class="black-text fontsize01">医生(doctor)</label></td>
                    <td><label class="black-text"  style="padding: 0;" id="doctor"></label></td>
                </tr>
                <tr>
                    <td><label class="black-text fontsize01">交易流水号(Transaction flow number)</label></td>
                    <td><label class="black-text" th:text="${number}" style="padding: 0;"></label></td>
                    <td><label class="black-text fontsize01">收费人(Toll collector)</label></td>
                    <td><label class="black-text"><span id="createName"></span></label></td>
                </tr>
                <input type="hidden" id="number" th:value="${number}">

                <tr>
                    <td><label class="black-text fontsize01">退费金额(Refund amount)</label></td>
                    <td><label class="black-text"><span id="totalPrices"></span></label></td>
                </tr>

                <tr>
                    <td><label class="black-text fontsize01">收费时间(Chargeable time)</label></td>
                    <td><label class="black-text"><span id="createDate"></span></label></td>
                </tr>
                <tr>
                    <td colspan="2"><label class="black-text fontsize01">收费明细(Charge details)</label></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 ">
            <table id="table_id" style="border: none;font-size: 8px"></table>
        </div>
    </div>

</div>
<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        printShow();
        printShow1();
    });
    var number = $("#number").val();

    function printShow() {
        $.ahsjajax(
            CTX + "/api/hisTollDetails/printShow/index.ahsj",
            {"number": number},
            function (data) {
                var totalPrices;
                var recoverTheFee;
                var money;
                var jsons = data[0];
                if (!isNullOrEmpty(jsons)) {//有
                    var flag = true;
                    var trs = "<tr><td><label class='black-text'>名称(name)</label></td><td><label class='black-text'>规格(drugsSpec)</label></td><td><label class='black-text'>数目(number)</label></td></tr>";
                    $.each(data, function (index, item) {
                        if (isNullOrEmpty(item.name)) {
                            item.name = ""
                            flag = false;
                        }
                        if (isNullOrEmpty(item.tranName)) {
                            item.tranName = ""
                        }
                        if (isNullOrEmpty(item.drugsSpec)) {
                            item.drugsSpec = ""
                        }
                        if (isNullOrEmpty(item.tdrugsSpec)) {
                            item.tdrugsSpec = ""
                        }
                        trs += "<tr><td><label class='black-text fontsize02'> " + item.name + "(" + item.tranName + ")" + "</label></td><td ><label class='black-text fontsize02'>" + item.drugsSpec + "(" + item.tdrugsSpec + ")" + "</label></td><td ><label class='black-text fontsize02'> " + item.num + "</label></td></tr >";
                    });


                    $("#createName").html(jsons.createName);
                    $("#totalPrices").html(jsons.totalPrices.toFixed(2));
                    $("#createDate").html(jsons.createDate);
                    $("#recoverTheFee").html(jsons.recoverTheFee.toFixed(2));
                    $("#money").html(jsons.money);
                    $("#depositRecharge").html((jsons.totalPrices - jsons.money).toFixed(2));
                    if(flag) {
                        $("#table_id").append(trs);
                    }
                }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }
    function printShow1() {
        $.ahsjajax(
            CTX + "/api/hisTollDetails/printShowFor/index.ahsj",
            {"number": number},
            function (data) {
                $("#createName").html(data.createName);
                // $("#totalPrices").html(data.money);
                $("#createDate").html(data.createDate);
                // $("#recoverTheFee").html(data.recoverTheFee);
                $("#name").html(data.patientName);
                $("#sex").html(data.sexName);
                $("#age").html(data.age);
                $("#department").html(data.departmentIdName);
                $("#doctor").html(data.doctorName);
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }
    function doOk() {
        $('body  div div.row.valign-wrapper').printThis({
            importCSS: true,
            debug: false,
            afterPrint: function () {
                dialog.confirm('确定打印?', function (index, layero) {


                });
            }
        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
