<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_list :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!-- Start Page Loading -->
<div class="row">
    <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6 breadcrumbs-left">
                    <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">DataTable</h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Table</a>
                        </li>
                        <li class="breadcrumb-item active">DataTable
                        </li>
                    </ol>
                </div>
                <div class="col s2 m6 l6"><a
                        class="btn btn-floating dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                        href="#!" data-target="dropdown1"><i class="material-icons">expand_more </i><i
                        class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="dropdown1" tabindex="0">
                        <li tabindex="0"><a class="grey-text text-darken-2"
                                            href="user-profile-page.html">Profile<span
                                class="new badge red">2</span></a></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a>
                        </li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 x12 l12 xl12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div class="card-content">
                        <form id="searchForm" class="row" action="">
                            <div class="input-field col s4 l4 xl4">
                                <input id="registerNumber" name="registerNumber" type="text"
                                       data-error=".errorTxt1">
                                <div class="errorTxt1"></div>
                                <label for="registerNumber">请输入挂号编号或就诊编号<span style="font-size: 12px">(Please enter the registration number


)</span></label>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col s2 m2 l2 xl2 offset-l1">
                                <a class="waves-effect waves-light btn" id="searchBtn"><i
                                        class="material-icons  white-text tooltipped " data-position="bottom"
                                        data-delay="50" data-tooltip="搜索">search</i></a>
                                <a id="resetBtn" class="waves-effect waves-light btn"><i
                                        class="material-icons  white-text tooltipped " data-position="bottom"
                                        data-delay="50" data-tooltip="重置">youtube_searched_for</i></a>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="input-field col s4 l4 xl4">
                                <input readonly id="loginName" type="text"
                                       th:value="${loginName}">
                                <label for="loginName">操作人<span style="font-size: 12px">(Operator

)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <input readonly type="text" id="patientName"/>
                                <label class="active" for="patientName">病人姓名<span style="font-size: 12px">(Patient name

)</span>:</label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <input readonly type="text" id="sex"/>
                                <label class="active" for="sex">性 别<span style="font-size: 12px">(sex

)</span>:</label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <input readonly type="text" id="department_id"/>
                                <label class="active" for="department_id">就诊科室<span style="font-size: 12px">(Visiting department

)</span>:</label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <input type="text" readonly id="doctorName">
                                <label class="active" for="doctorName">接诊医生<span style="font-size: 12px">(Receiving doctor

)</span>:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 x12 l12 xl12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">门诊收费
                                </h4><label style="color:black">Hospitalization charge
                            </label>
                                <!--Form Advance-->
                                <div class="row">
                                    <div id="refreshtable" class="col l12 m12 l12 xl12">
                                        <table id="data-table-simple" class="display">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 x12 l12 xl12">
                        <div class="card">
                            <div class="card-content">
                                <form class="col s12" id="sendForm" action="#">
                                    <div class="input-field col s4 l4 xl4">
                                        <input readonly type="number" id="money"  name="money">
                                        <label class="active" for="money">总应收金额<span style="font-size: 12px">(Total receivable amount

)</span>:</label>
                                    </div>
                                    <input type="hidden" id="register_number" name="registerNumber" />
                                    <div class="input-field col s4 l4 xl4">
                                        <input type="number" name="actualCharge" id="actualCharge"
                                               data-error=".errorTxt2">
                                        <div class="errorTxt2"></div>
                                        <label for="actualCharge">实际收款金额<span style="font-size: 12px">(Actual collection amount

)</span></label>
                                    </div>
                                    <div class="input-field col s4 l4 xl4">
                                        <input type="number" readonly id="recoverTheFee" name="recoverTheFee">
                                        <label class="active" for="recoverTheFee">实际找零金额<span style="font-size: 12px">(Actual change amount

)</span></label>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button id="print_btn"
                                                class="btn cyan waves-effect waves-light right"
                                                type="button"
                                                name="action"
                                                hidden="true">打 印（print）
                                            <i class="mdi-content-send right"></i>
                                        </button>
                                        <button id="send_btn"
                                                class="btn cyan waves-effect waves-light right"
                                                type="button"
                                                name="action"
                                                hidden="true">门诊费用结算（Outpatient fee settlement
                                            ）
                                            <i class="mdi-content-send right"></i>
                                        </button>
                                        <button id="swipe_btn"
                                                class="btn cyan waves-effect waves-light right"
                                                type="button"
                                                name="action"
                                                hidden="true">刷卡结算（Card settlement
                                            ）
                                            <i class="mdi-content-send right"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:replace="public/base_list_script :: html"></div>
<script type="text/javascript">
    var grid = new Datatable();
    $(document).ready(function () {
        initBtn();
        initTable();
        $("#print_btn").attr("disabled",true);
    });
    $(function () {
        formCheck();
    });

    function initBtn() {
        //搜索按钮
        $('#searchBtn').click(function () {
            var reg1 = new RegExp(/^R\d{13}$/);
            var reg2 = new RegExp(/^HM\d{13}$/);
            var registerNumber = $("#registerNumber").val();
            if(reg1.test(registerNumber)||reg2.test(registerNumber)){
                grid.search();
                getCharge();
            }else{
                dialog.warn("所输入的数据不符合格式要求！请输入R开头的编号")
            }
        });
        //重置按钮
        $('#resetBtn').click(function () {
           grid.reset();
            $("#patientName").attr("value","");
            $("#sex").attr("value","");
            $("#department_id").attr("value","");
            $("#doctorName").attr("value","");
            $("#actualCharge").attr("value","");
            $("#money").attr("value","");
            $("#recoverTheFee").attr("value","");
            $("#remark").attr("value","");
            $("#print_btn").attr("disabled",true);
        });
        $("#actualCharge").change(function () {
            //实际收款金额
            var actualCharge = $("#actualCharge").val();
            //总应收金额
            var money = $("#money").val();
            //实际找零金额
            var recoverTheFee = $("#recoverTheFee").val();
            if (money.length > 0) {
                if (!isNullOrEmpty(actualCharge)) {
                    var ac = numeral(actualCharge);
                    var m = numeral(money);
                    var rt = numeral(recoverTheFee);
                    if(ac.value() < m.value()){
                        dialog.warn("总金额小于应收金额，请重新输入!!!")
                    }else{
                        //如果实际收款大于应收款
                            changeInputValue("recoverTheFee",numeral(ac.value()).subtract(m.value()).format('0.00'));
                    }
                }
            }
        });
    }
    function validform(sendForm){
        return $(sendForm).validate({
            rules : {
                actualCharge : {
                    required : true,
                },
            },
            messages : {
                actualCharge : {
                    required : "请输入实际收款金额",
                },
            },
            errorElement: 'div',
        });
    }
    var number;
    $("#send_btn").click(function () {
        if(validform("#sendForm").form()) {
        dialog.confirm('确定提交吗?', function (index, layero) {
            checkMoney();
            var hisTollRecord = $("#sendForm").serialize();
            var json = grid.getDataTable().ajax.json().data;
            var hisTollHospiModel = {
                "hisTollRecord": strToObj(hisTollRecord),
                "hisTollDetailsList": json
            };
            var jsonData = JSON.stringify(hisTollHospiModel);
            if(json!=null&&json!=""&&json!=undefined){
            $.ahsjajax(
                CTX + "/api/hisTollRecord/outpatient/save.ahsj",
                jsonData,
                function (msg) {
                    if (msg.success) {
                        data = msg.message.substring(16);//截取成功信息
                        number = msg.message.substring(0,16); //截取交易流水号
                        M.toast({html: data});
                        grid.search();
                        $("#print_btn").attr("disabled", false);
                        dialog.success(data);
                        return true;
                    } else {
                        M.toast({html: msg.message});
                        return false;
                    }
                },
                null, null, null, function () {
                    M.toast({html: "网络异常"});
                    return false;
                }, "application/json; charset=UTF-8"
            );}
            else{
                dialog.warn("找不到门诊费用结算信息！")
            }
        })}});

    //刷卡支付  预留等待补充
    $('#swipe_btn').click(function () {
        //就诊卡编号 预留等待补充
        var visitCardNumber = '002';
        dialog.confirm('确定刷卡结算吗?', function (index, layero) {
            if(!isNullOrEmpty(visitCardNumber)) {
                $.ahsjajax(CTX + "/api/visitCard/swipe.ahsj",
                    {"visitCardNumber": visitCardNumber},
                    function (msg) {
                        if (msg.success) {
                            data = msg.message.substring(16);//截取成功信息
                            number = msg.message.substring(0,16); //截取交易流水号
                            M.toast({
                                html: msg.message, completeCallback: function () {
                                }
                            });
                            grid.search();
                            $("#print_btn").attr("disabled", false);
                        } else {
                            M.toast({
                                html: msg.message, completeCallback: function () {
                                }
                            });
                        }
                    },
                    function (data) {
                        M.toast({
                            html: "网络异常", completeCallback: function () {
                            }
                        });
                    }
                );
            }else {
                dialog.warn("无对应就诊卡信息");
            }
        });
    });

    $("#print_btn").click(function () {
/*        dialog.confirm('确定打印吗?', function (index, layero) {
            if (number != "" && number != null && number != undefined) {
                var url = CTX + "/api/hisTollDetails/printHospitalOne/index.ahsj?number="+ number+"&token="+TOKEN;
                dialog.showDialog(url, "打印凭证预览", "700px", "700px");
            } else {
                dialog.warn("没有需要打印的内容！")
            }});*/

        layer.open({
            content: '打印小票（Print a small ticket）'
            ,btn: ['财务联（Financial union）', '科室联（Department）', '自由联（Free association）']
            ,yes: function(index, layero){
                //按钮【按钮一】的回调
                if (number != "" && number != null && number != undefined) {
                    var url = CTX + "/api/hisTollDetails/printHospitalOne/index.ahsj?number="+ number+"&token="+TOKEN+"&type=1";
                    dialog.showDialog(url, "打印凭证预览", "700px", "700px");
                } else {
                    dialog.warn("没有需要打印的内容！")
                }
            }
            ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                if (number != "" && number != null && number != undefined) {
                    var url = CTX + "/api/hisTollDetails/printHospitalOne/index.ahsj?number="+ number+"&token="+TOKEN+"&type=2";
                    dialog.showDialog(url, "打印凭证预览", "700px", "700px");
                } else {
                    dialog.warn("没有需要打印的内容！")
                }

                return false ;
            }
            ,btn3: function(index, layero){
                //按钮【按钮三】的回调
                if (number != "" && number != null && number != undefined) {
                    var url = CTX + "/api/hisTollDetails/printHospitalOne/index.ahsj?number="+ number+"&token="+TOKEN+"&type=3";
                    dialog.showDialog(url, "打印凭证预览", "700px", "700px");
                } else {
                    dialog.warn("没有需要打印的内容！")
                }
                return false ;
            }
            ,cancel: function(){
                //右上角关闭回调

                // return false ;
            }
        });
    });
    function initTable() {
        grid.init({
            src: $("#data-table-simple"),
            onSuccess: function (grid) {
            },
            onError: function (grid) {
            },
            onDataLoad: function (grid) {
            },
            loadingMessage: 'Loading...',
            dataTable: {
                "ajax": {
                    "url": CTX + "/api/hisTollDetails/outpatient/list.ahsj",
                },
                "pageLength": 200,
                "columns": [
                {
                        "title": "名称",
                        "data": "name", //实体字段
                        "name": "name"   //库中字段
                    }, {
                        "title": "类别",
                        "data": "recordTypes",
                        "name": "type" +
                            ""
                    }, {
                        "title": "数量",
                        "data": "num",
                        "name": "num"
                    }, {
                        "title": "单价",
                        "data": "price",
                        "name": "price"
                    }, {
                        "title": "单项总价",
                        "data": "money",
                        "name": "money"
                    }, {
                        "title": "是否付费",
                        "data": "payName",
                        "name": "isPay"
                    }
                ],
                "order" : [ [ 1, 'asc' ] ]
            }
        });
    }
    function formCheck() {
    }
    function getCharge() {

        var registerNumber = $("#registerNumber").val();
        if (!isNullOrEmpty(registerNumber)) {
            //获取基本信息
            $.ahsjajax(
                CTX + "/api/hisTollRecord/outpatient/details.ahsj",
                {"registerNumber": registerNumber},
                function (data) {
                    console.log(data)
                    if (!isNullOrEmpty(data.id)) {
                        changeInputValue("patientName",data.patientName);
                        changeInputValue("sex",data.sexName);
                        changeInputValue("department_id",data.departmentName);
                        changeInputValue("doctorName",data.doctorName);
                        changeInputValue("money",data.money);
                        $("#register_number").attr("value",$("#registerNumber").val());
                        return true;
                    } else {
                        dialog.warn(registerNumber + "号不存在！")
                        return false;
                    }
                },
                function () {
                    Materialize.toast("网络异常");
                    return false;
                }
            );
        }
    }

    //核对输入金额是否正确
    function checkMoney() {
        //实际收款金额
        var actualCharge = $("#actualCharge").val();
        //总应收金额
        var money = $("#money").val();
        //实际找零金额
        var recoverTheFee = $("#recoverTheFee").val();
        if (money.length > 0) {
            if (!isNullOrEmpty(actualCharge)) {
                var ac = numeral(actualCharge);
                var m = numeral(money);
                var rt = numeral(recoverTheFee);
                if(ac.value() < m.value()){
                    dialog.warn("总金额小于应收金额，请重新输入!!!")
                }else{
                    //如果实际收款大于应收款
                    changeInputValue("recoverTheFee",numeral(ac.value()).subtract(m.value()).format('0.00'));
                }
            }
        }
    }

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>
</div>
</div>
</body>
</html>

