<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <meta charset="UTF-8">

</head>

<div th:replace="public/base_print :: html"></div>
<body>
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <h4>中柬第一医院</h4>
            <h5>入院记录</h5>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s1 m1 l1">
            <p>姓名：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>科别：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>床号：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>住院号：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>病区：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>姓名：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>职业：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>性别：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>工作单位：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>年龄：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>住址：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>婚姻：</p>
        </div>
        <div class="col s2 m2 l2">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>供史者：</p>
        </div>
        <div class="col s2 m2 l2">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>可靠程度：</p>
        </div>
        <div class="col s2 m2 l2">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>出生地：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>入院时间：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>民族：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>记录时间：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">

            <h5>病史</h5>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>主诉：</p>
        </div>
        <div class="col s10 m10 l10">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>现病史：</p>
        </div>
        <div class="col s10 m10 l10">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>入院诊断：</p>
        </div>
        <div class="col s10 m10 l10">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>既往史：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>个人史：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>月经及婚育史：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>家族史：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>
</div>

<div th:replace="public/base_list_script :: html"></div>
<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">

</script>
</body>
</html>