<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <meta charset="UTF-8">

</head>

<div th:replace="public/base_print :: html"></div>
<body>
<div class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <h4>中柬第一医院</h4>
            <h5>24小时内入出院记录</h5>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>姓名：</p>
        </div>
        <div class="col s2 m2 l2">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>科别：</p>
        </div>
        <div class="col s2 m2 l2">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>床号：</p>
        </div>
        <div class="col s2 m2 l2">
            <p></p>
        </div>

    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>住院号：</p>
        </div>
        <div class="col s6 m6 l6">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>病区：</p>
        </div>
        <div class="col s2 m2 l2">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>姓名：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>职业：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>性别：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>工作单位：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>年龄：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>住址：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>婚姻：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>供史者：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>

    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>出生地：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>入院时间：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>民族：</p>
        </div>
        <div class="col s3 m3 l3">
            <p></p>
        </div>
        <div class="col s2 m2 l2">
            <p>记录时间：</p>
        </div>
        <div class="col s5 m5 l5">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>主诉：</p>
        </div>
        <div class="col s10 m10 l10">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>入院情况（简要病史和体检）：</p>
        </div>
        <div class="col s10 m10 l10">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <p>入院诊断：</p>
        </div>
        <div class="col s10 m10 l10">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>治疗经过：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>出院时间：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>出院情况：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>出院诊断：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s4 m4 l4">
            <p>出院医嘱：</p>
        </div>
        <div class="col s8 m8 l8">
            <p></p>
        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s12 m12 l12 right">
            <p>医师签名：</p>
            <p>年 月 日 时 分</p>
        </div>

    </div>
</div>

<div th:replace="public/base_list_script :: html"></div>
<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">

</script>
</body>
</html>