<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_list :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6 breadcrumbs-left">
                    <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">DataTable</h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Table</a>
                        </li>
                        <li class="breadcrumb-item active">DataTable
                        </li>
                    </ol>
                </div>
                <div class="col s2 m6 l6"><a
                        class="btn btn-floating dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                        href="#!" data-target="dropdown1"><i class="material-icons">expand_more </i><i
                        class="material-icons right">arrow_drop_down</i></a>
                    <ul class="dropdown-content" id="dropdown1" tabindex="0">
                        <li tabindex="0"><a class="grey-text text-darken-2"
                                            href="user-profile-page.html">Profile<span
                                class="new badge red">2</span></a></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a>
                        </li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 xl12 m12 l12 ">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div class="card-content">
                        <form id="searchForm" class="row" action="">
                            <div class="row">
                                <div class="col  s1 m1 l1 xl1">
                                    <h6>模糊查询</h6>
                                    <label style="color:black">Fuzzy query</label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="medicalNumber" name="medicalNumber" type="text"/>
                                    <label for="medicalNumber">就诊记录编号<span style="font-size: 12px">(Visit record number)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="number" name="number" type="text"/>
                                    <label for="number">住院编号<span style="font-size: 12px">(Hospital number)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="patientName" name="patientName" type="text"/>
                                    <label for="patientName">姓名查询<span style="font-size: 12px">(Name inquiry)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="idcard" name="idcard" type="text"/>
                                    <label for="idcard">身份证号查询<span style="font-size: 12px">(ID number inquiry)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="wardsNumber" name="wardsNumber" type="text"/>
                                    <label for="wardsNumber">病房查询<span style="font-size: 12px">(Ward inquiry)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="bedsNumber" name="bedsNumber" type="text"/>
                                    <label for="bedsNumber">病床查询<span style="font-size: 12px">(Bed inquiry)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="doctorName" name="doctorName" type="text"/>
                                    <label for="doctorName">医生姓名查询<span style="font-size: 12px">(Doctor name inquiry)</span></label>
                                </div>
                                <div class="col input-field s2 m2 l2 xl2">
                                    <input id="nurseNames" name="nurseNames" type="text"/>
                                    <label for="nurseNames">护士姓名查询<span style="font-size: 12px">(Nurse name inquiry)</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col  s6 m6 l6 xl6">
                                    <h6>是否出院（Is it discharged?）</h6>

                                    <label>
                                        <input id="noWarning" name="isDischarged" type="radio" value="1"/>
                                        <span>未出院（Not discharged）</span>
                                    </label>
                                    <label>
                                        <input id="isWarning" name="isDischarged" type="radio" value="2"/>
                                        <span>已出院（Discharged）</span>
                                    </label>
                                    <label>
                                        <input id="noSelectWarning" class="radiotdefault" name="isDischarged" type="radio"
                                               value="0" checked/>
                                        <span>不选择(Do not choose)</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2 xl2 offset-l1">
                            <a class="waves-effect waves-light btn" id="searchBtn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="搜索">search</i></a>
                            <a id="resetBtn" class="waves-effect waves-light btn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="重置">youtube_searched_for</i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 x12 l12 xl12">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">住院病人详细信息
                    </h4><label style="color:black">Inpatient details</label>
                    <div class="row">
                    </div>
                    <!--Form Advance-->
                    <div class="row">
                        <div id="refreshtable" class="col l12 m12 l12 xl12">
                            <table id="data-table-simple" class="display">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="public/base_list_script :: html"></div>
<div th:replace="public/base_update_script :: html"></div>


<script th:inline="javascript">
    var grid = new Datatable();
    $(document).ready(function () {
        $('#noWarning').prop("checked", true);
        initBtn();
        // initMenu()
        initTable();
        grid.search();
    });



    function initTable() {
        grid.init({
            src: $("#data-table-simple"),
            onSuccess: function (grid) {
            },
            onError: function (grid) {
            },
            onDataLoad: function (grid) {
            },
            loadingMessage: 'Loading...',
            dataTable: {
                "ajax": {
                    "url": CTX+"/api/hishospitalmanage/listForDetails.ahsj", // ajax source
                },
                "columns": [
                    {
                        "title":"就诊记录编号",
                        "data":"medicalNumber",
                        "name":"medical_number"
                    },
                    {
                        "title":"住院编号",
                        "data":"number",
                        "name":"number"
                    },
                    {
                        "title":"姓名",
                        "data":"patientName",
                        "name":"patient_name"
                    },
                    {
                        "title":"身份证号",
                        "data":"idcard",
                        "name":"idcard"
                    },
                    {
                        "title":"手机号",
                        "data":"phoneNumber",
                        "name":"phone_number"
                    },
                    {
                        "title":"年龄",
                        "data":"age",
                        "name":"age"
                    },{
                        "title":"性别",
                        "data":"sexName",
                        "name":"sex"
                    },
                    {
                        "title":"所属病房",
                        "data":"wardsNumber",
                        "name":""
                    },
                    {
                        "title":"所属病床",
                        "data":"bedsNumber",
                        "name":""
                    },
                    {
                        "title":"治疗医生",
                        "data":"doctorName",
                        "name":"doctorName"
                    },
                    {
                        "title":"护理护士",
                        "data":"nurseNames",
                        "name":"nurseNames"
                    },
                    {
                        "title":"门诊诊断",
                        "data":"outpatientDiagnosis",
                        "name":"outpatient_diagnosis"
                    },
                    {
                        "title":"住院诊断",
                        "data":"inpatientDiagnosis",
                        "name":"inpatient_diagnosis"
                    },
                    {
                        "title":"护理级别",
                        "data":"careLevels",
                        "name":"care_level"
                    },
                    {
                        "title": "操作",
                        "width": "120px",
                        "className": "centered",
                        "orderable": false,
                        "render": function (data, type, row) {
                            var rtnBtn = "";
                            //如果获取字符串，必须在参数外反转"
                            rtnBtn = rtnBtn +
                                "<a class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"查看病人病历信息(View patient medical record information)\" onclick='detailsWord(\"" + row.medicalNumber + "\");'\"><i class='material-icons'>visibility</i></a>";
                            rtnBtn = rtnBtn +
                                "<a class='tooltipped' data-position=\"bottom\"  data-delay=\"50\" data-tooltip=\"查看病人医嘱(View patient orders)\" onclick='visitOrder(\"" + row.medicalNumber + "\","+row.id+",\""+row.patientName+"\");'><i class='material-icons'>assignment</i></a>"
                            // 返回自定义内容
                            return rtnBtn;
                            // 返回自定义内容

                        }
                    }
                ],
                "order": [
                    [1, 'desc']
                ],
            }
        });

    }

    function details(hospitalManageId) {
        var url = CTX+ "/api/inpatientMedicalRecord/listByHospitalManageId/index.ahsj?token="+TOKEN+"&hospitalManageId="+hospitalManageId;
        dialog.show(url, "查看住院病人病历信息");
    }
    //word版查看大病历
    function detailsWord(medicalNumber) {
        var url = CTX+ "/api/medicalrecordword/list/index.ahsj?token="+TOKEN+"&medicalNumber="+medicalNumber+"&isReadyOnly="+1;
        dialog.show(url, "查看住院病人病历信息");
    }


    function visitOrder(medicalRecordId,hospitalManageId,pName) {
        var url = CTX + "/api/doctor/inpatientInformation/index.ahsj?token=" + TOKEN + "&medicalRecordId=" + medicalRecordId +"&hospitalManageId=" + hospitalManageId +"&patientName=" + pName;
        dialog.show(url, "查看病人护嘱医嘱");
    }

    function detail(patientId) {
        var url = CTX+ "/api/hishospitalmanage/listForMedicalRecord/index.ahsj?token="+TOKEN+"&patientId="+patientId;
        dialog.show(url, "查看住院病人病历信息");
    }
    function inOut24(patientId,hospitalnumber,doctorId) {
        var url = CTX+ "/api/nursestation/inOut24hour/index.ahsj?token="+TOKEN+"&patientId="+patientId+"&hospitalnumber="+hospitalnumber+"&doctorId="+doctorId;
        dialog.show(url, "24小时内出入院记录");
    }

    function transfer(id) {
        var url = CTX+ "/api/transferRecord/updateOut/index.ahsj?token="+TOKEN+"&hosptalManageId="+id;
        dialog.show(url, "转科转出新增");
    }
    function transferIn(id) {
        var url = CTX+ "/api/transferRecord/update/index.ahsj?token="+TOKEN+"&hosptalManageId="+id;
        dialog.show(url, "转科转入新增");
    }
    function initBtn() {
        //搜索按钮
        $('#searchBtn').click(function () {
            grid.search();
        });
        $('#resetBtn').click(function () {
            grid.reset();
            $('#noSelectWarning').prop("checked", true);
        });

        $("#searchForm .row .col input[type='radio']").click(function () {
            grid.search();
        });
    }
    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
    function discharged(number) {
        var url = CTX + "/api/hishospitalmanage/discharged/index.ahsj?token=" + TOKEN + "&number="+ number;
        dialog.show(url, "出院审核");
    }

    function death(number) {
        var url = CTX + "/api/hishospitalmanage/death/index.ahsj?token=" + TOKEN + "&number="+ number;
        dialog.show(url, "死亡记录");
    }
    function handoverIndex(number) {
        var url = CTX + "/api/handover/list/index.ahsj?token=" + TOKEN + "&number="+ number;
        dialog.show(url, "交班记录查询");
    }
    function successionIndex(number) {
        var url = CTX + "/api/succession/list/index.ahsj?token=" + TOKEN + "&number="+ number;
        dialog.show(url, "接班记录查询");
    }

</script>
</body>
</html>

