<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">
<head>
    <meta charset="UTF-8">
</head>
<style>
    table tr td{
        border: none;
    }
    table tr{
        border-bottom: none;
    }
</style>
<div th:replace="public/base_print :: html"></div>
<body>
<div class="container">
    <div class="row valign-wrapper">
        <div class="row valign-wrapper">
            <div class="col s12 m12 l12 center">
                <h4>中柬第一医院</h4>
                <h5>病危（重）通知书</h5>
            </div>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s1 m1 l1">
            <p>姓名：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>性别：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>年龄：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>科室：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
        <div class="col s1 m1 l1">
            <p>住院号：</p>
        </div>
        <div class="col s1 m1 l1">
            <p></p>
        </div>
    </div>

    <div  class="row valign-wrapper">
        <div class="col s12 m12 l12">
            <p>诊断：</p><p id="diagnosis"></p>
        </div>

    </div>

    <div  class="row valign-wrapper">
        <div class="col s12 m12 l12">
            <p>
                &nbsp;&nbsp;患者目前病情趋于恶化，随时可能危及生命，特下达病危（重）通知。尽管如此
            ，我们任会将采取有效措施积极救治。同时向您告知，为抢救患者，医院可能在事先
            未征得您的同意的情况下将依据就职工作的需要，使用和采取应急救治所必需的仪器
            设备和治疗手段，请予以理解、配合和支持。
            </p>
        </div>

    </div>

    <div  class="row valign-wrapper">
        <div class="col s6 m6 l6">
            <p>医师签名：</p>
            <p><span id="year"></span>年 <span id="month"></span>月 <span id="day"></span>日 <span id="hour"></span>时 <span id="second"></span>分</p>

        </div>

        <div class="col s6 m6 l6">
            <p>亲属/监护人签名：</p>
            <p>（注明与患者的关系）：</p>
            <p><span id="year1"></span>年 <span id="month1"></span>月 <span id="day1"></span>日 <span id="hour1"></span>时 <span id="second1"></span>分</p>

        </div>
    </div>
    <div  class="row valign-wrapper">
        <div class="col s12 m12 l12 center">
            <p>
                （本通知书一式两份，一份交患者保存，零一份归入病历中保存。）
            </p>
        </div>

    </div>

</div>

<div th:replace="public/base_list_script :: html"></div>
<div th:replace="public/base_print_script :: html"></div>
<script th:inline="javascript">

</script>
</body>
</html>