<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">入院护理评估表(Admission evaluation form)</h4><label style="color:black">
            </label>
                <div class="input-field col s4 l4 xl4">
                    <input id="loginName" readonly type="text" th:value=" ${loginName}"/>
                    <label for="loginName">操 作 人(operator)<span style="font-size: 12px">(Operator
)</span>：</label>
                </div>
                <input id="number" name="number" type="hidden" th:value="${number}">
                <form class="col s12" id="sendForm" action="#">
                <div class="row">
                    <div class="input-field col s3 l3 xl3">
                        <input id="name" name="name" type="text"
                               data-error=".errorTxt1">
                        <div class="errorTxt1"></div>
                        <label class="active" for="name">姓名<span style="font-size: 12px">(name)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="sex" name="sex" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="sex">性别<span style="font-size: 12px">(sex)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="age" name="age" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="age">年龄<span style="font-size: 12px">(age)</span></label>
                    </div>

                    <div class="input-field col s3 l3 xl3">
                        <input id="ward" name="ward" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="ward">病房<span style="font-size: 12px">(ward)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="bed" name="bed" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="bed">床号<span style="font-size: 12px">(bed)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="hospital" name="hospital" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="hospital">住院编号<span style="font-size: 12px">(The hospital number)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="nation" name="nation" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="nation">民族<span style="font-size: 12px">(nation)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="job" name="job" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="job">职业<span style="font-size: 12px">(occupation)</span></label>
                    </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="education" name="education" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="education">文化程度<span style="font-size: 12px">(Tstandard of culture )</span></label>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <select ahsj:select name="isMarried" id="isMarried" type="code" typeKey="is_married">
                            </select>
                            <label for="isMarried">婚姻状况<span style="font-size: 12px">(marital status
)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="location" name="location" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="location">联系地址<span style="font-size: 12px">(contact address)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="telephone" name="telephone" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="telephone">联系人及电话<span style="font-size: 12px">(Contact person and telephone number)</span></label>
                        </div>
                    <div class="input-field col s3 l3 xl3">
                        <input id="createDate" name="createDate" type="text"
                               data-error=".errorTxt2">
                        <div class="errorTxt2"></div>
                        <label class="active" for="createDate">入院日期<span style="font-size: 12px">(admission date)</span></label>
                    </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="way" name="way" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="way">入院方式<span style="font-size: 12px">(Hospital way)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="cause" name="cause" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="cause">入院原因<span style="font-size: 12px">(cause of hospitalization)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="admittingDiagnosis" name="admittingDiagnosis" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="admittingDiagnosis">入院诊断<span style="font-size: 12px">(
admitting diagnosis)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="previousHistory" name="previousHistory" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="previousHistory">既往史<span style="font-size: 12px">(previous history)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="allergicHistory" name="allergicHistory" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="allergicHistory">过敏史<span style="font-size: 12px">(allergicHistory)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="bodyTemperature" name="bodyTemperature" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="bodyTemperature">体温<span style="font-size: 12px">(bodyTemperature)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="pulse" name="pulse" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="pulse">脉搏<span style="font-size: 12px">(pulse)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="breathe" name="breathe" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="breathe">呼吸频率<span style="font-size: 12px">(breathe)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="bloodPressure" name="bloodPressure" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="bloodPressure">血压<span style="font-size: 12px">(bloodPressure)</span></label>
                        </div>
                        <div class="input-field col s3 l3 xl3">
                            <input id="weight" name="weight" type="text"
                                   data-error=".errorTxt2">
                            <div class="errorTxt2"></div>
                            <label class="active" for="weight">体重<span style="font-size: 12px">(weight)</span></label>
                        </div>
                        <div class="row">
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="isMind" id="isMind" type="code" typeKey="is_mind"
                                >
                                </select>
                                <label for="isMind">神志<span style="font-size: 12px">(consciousness
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="isFace" id="isFace" type="code" typeKey="is_face"
                                        >
                                </select>
                                <label for="isFace">表情<span style="font-size: 12px">(expression
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="isFeeling" id="isFeeling" type="code" typeKey="is_feeling"
                                        >
                                </select>
                                <label for="isFeeling">情绪<span style="font-size: 12px">(emotion
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="competence" id="competence" type="code" typeKey="competence"
                                       >
                                </select>
                                <label for="competence">沟通能力<span style="font-size: 12px">(ability to communicate
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="communication" id="communication" type="code" typeKey="communication"
                                      >
                                </select>
                                <label for="communication">沟通方式<span style="font-size: 12px">(communication mode
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="savvy" id="savvy" type="code" typeKey="savvy"
                                       >
                                </select>
                                <label for="savvy">理解能力<span style="font-size: 12px">(savvy
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="oralMucosa" id="oralMucosa" type="code" typeKey="oral_mucosa"
                                        >
                                </select>
                                <label for="isMarried">口腔黏膜<span style="font-size: 12px">(oral mucositis
)</span></label>
                            </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="vision" name="vision" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label for="vision" class="active">视力<span style="font-size: 12px">(vision
)</span></label>
                        </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="ear" name="ear" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label for="ear" class="active">听力<span style="font-size: 12px">(aural comprehension
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="falseTooth" id="falseTooth" type="code" typeKey="false_tooth"
                                       >
                                </select>
                                <label for="falseTooth">义齿<span style="font-size: 12px">(falseTooth
)</span></label>
                            </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="skin" name="skin" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="skin">皮肤<span style="font-size: 12px">(skin
)</span></label>
                        </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="fours" name="fours" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="fours">四肢<span style="font-size: 12px">(arms and legs
)</span></label>
                            </div>
                        <div class="input-field col s12 l12 xl12">
                            <input id="discharge" name="discharge" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="discharge">排泄情况<span style="font-size: 12px">(Discharge conditions
)</span></label>
                        </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="adl" name="adl" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="adl">ADL评分<span style="font-size: 12px">(ADL grade
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="braden" name="braden" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="braden">Braden评分<span style="font-size: 12px">(Braden grade
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="morse" name="morse" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="adl">Morse分<span style="font-size: 12px">(Morse grade
)</span></label>
                            </div>
                            <div class="input-field col s12 l12 xl12">
                                <input id="pipeDown" name="pipeDown" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="pipeDown">管道滑落评分<span style="font-size: 12px">(Pipe slip score
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="contour" id="contour" type="code" typeKey="contour"
                                      >
                                </select>
                                <label for="falseTooth">体型<span style="font-size: 12px">(bodily form
)</span></label>
                            </div>

                            <div class="input-field col s12 l12 xl12">
                                <input id="livingHabit" name="livingHabit" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="livingHabit">生活习惯<span style="font-size: 12px">(life style
)</span></label>
                            </div>
                            <div class="input-field col s4 l4 xl4">
                                <select ahsj:select name="attitude" id="attitude" type="code" typeKey="attitude"
                                        >
                                </select>
                                <label for="falseTooth">家属态度<span style="font-size: 12px">(Family members of the attitude
)</span></label>
                            </div>

                            <div class="input-field col s12 l12 xl12">
                                <input id="educations" name="educations" type="text"
                                       data-error=".errorTxt8">
                                <div class="errorTxt8"></div>
                                <label class="active" for="educations">入院宣教<span style="font-size: 12px">(admission education
)</span></label>
                            </div>

                        <div class="input-field col s12 l12 xl12">
                            <input id="plan" name="plan" type="text"
                                   data-error=".errorTxt8">
                            <div class="errorTxt8"></div>
                            <label class="active" for="plan">护理计划<span style="font-size: 12px">(Plan of care
)</span></label>
                        </div>
                            <div class="col  input-field s2 m2 l2 xl2">
                                <input id="tevalDate" name="tevalDate" type="text" class="datepicker" />
                                <label for="tevalDate">评估时间<span style="font-size: 12px">(evaluate time)</span></label>
                            </div>
                        <input id="hisHospitalManageId" name="hisHospitalManageId" type="hidden">
                        <input id="id" name="id" type="hidden">
                </div>
                    </div></div>
                </form>
                <div class="row">
                    <div class="input-field col s12">
                        <button id="send_btn" class="btn cyan waves-effect waves-light right" type="button"
                                name="action">提 交（submit
                            ）
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                    <div class="input-field col s12">
                        <button id="send_btn2" class="btn cyan waves-effect waves-light right" type="button"
                                name="action">护士确认（The nurse to confirm
                            ）
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        getHospital();
        getHisLeaveHospital();

    });
    function getHospital() {
        var number = $("#number").val();
        if (!isNullOrEmpty(number)) {
            //获取基本信息
            $.ahsjajax(
                CTX + "/api/hishospitalmanage/getHospital/index.ahsj",
                {"number": number},
                function (data) {
                    if (!isNullOrEmpty(data)) {
                        changeInputValue("name", data.patientName);
                        changeInputValue("age", data.age);
                        changeInputValue("createDate", data.createDate);
                        changeInputValue("hospital", data.number);
                        changeInputValue("bed", data.bedsNumber);
                        changeInputValue("ward", data.wardsNumber);
                        changeInputValue("sex", data.sexName);
                        changeInputValue("department", data.departmentIdName);
                        changeInputValue("hisHospitalManageId", data.id);
                        M.updateTextFields();//重新初始化页面上的内容
                        return true;
                    } else {
                        dialog.warn(number + "号不存在！");
                        return false;
                    }
                },
                function () {
                    Materialize.toast("网络异常");
                    return false;
                }
            );
        }
    }
    function getHisLeaveHospital() {
        var number = $("#number").val();
        if (!isNullOrEmpty(number)) {
            //获取基本信息
            $.ahsjajax(
                CTX + "/api/hisNursingAssessment/getHisNursingAssessment/index.ahsj",
                {"number": number},
                function (data) {
                    if (!isNullOrEmpty(data.id)) {
                        changeInputValue("education", data.education);
                        changeInputValue("job", data.job);
                        changeInputValue("nation", data.nation);
                        changeInputValue("way", data.way);
                        changeInputValue("cause", data.cause);
                        changeInputValue("telephone", data.telephone);
                        changeInputValue("location", data.location);
                        changeInputValue("bodyTemperature", data.bodyTemperature);
                        changeInputValue("weight", data.weight);
                        changeInputValue("allergicHistory", data.allergicHistory);
                        changeInputValue("previousHistory", data.previousHistory);
                        changeInputValue("bloodPressure", data.bloodPressure);
                        changeInputValue("breathe", data.breathe);
                        changeInputValue("pulse", data.pulse);
                        changeInputValue("vision", data.vision);
                        changeInputValue("ear", data.ear);
                        changeInputValue("skin", data.skin);
                        changeInputValue("fours", data.fours);
                        changeInputValue("pipeDown", data.pipeDown);
                        changeInputValue("morse", data.morse);
                        changeInputValue("braden", data.braden);
                        changeInputValue("adl", data.adl);
                        changeInputValue("discharge", data.discharge);
                        changeInputValue("plan", data.plan);
                        changeInputValue("educations", data.educations);
                        changeInputValue("livingHabit", data.livingHabit);
                        changeInputValue("diet", data.diet);
                        changeInputValue("skin", data.skin);
                        changeInputValue("admittingDiagnosis", data.admittingDiagnosis);
                        changeInputValue("tevalDate", data.tevalDate);
                        changeSelectValue("communication", data.communication);
                        changeSelectValue("competence", data.competence);
                        changeSelectValue("isFeeling", data.isFeeling);
                        changeSelectValue("isFace", data.isFace);
                        changeSelectValue("isMind", data.isMind);
                        changeSelectValue("attitude", data.attitude);
                        changeSelectValue("contour", data.contour);
                        changeSelectValue("falseTooth", data.falseTooth);
                        changeSelectValue("oralMucosa", data.oralMucosa);
                        changeSelectValue("savvy", data.savvy);
                        changeSelectValue("isMarried", data.isMarried);
                        M.updateTextFields();//重新初始化页面上的内容
                        return true;
                    } else {
                        return true;
                    }
                },
                function () {
                    Materialize.toast("网络异常");
                    return false;
                }
            );
        }
    }

    $('#send_btn').click(function () {
        dialog.confirm('确定提交吗?', function (index, layero) {
            var hisNursingAssessment = $("#sendForm").serialize();
            $.ahsjajax(CTX + "/api/hisNursingAssessment/saveOrUpdate.ahsj",
                hisNursingAssessment,
                function (msg) {
                    if (msg.success) {
                        dialog.warn(msg.message)
                        swal.close();
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                        gridFor.search();
                    } else {
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    }
                },
                function (data) {
                    M.toast({
                        html: "网络异常", completeCallback: function () {
                        }
                    });
                }
            );
        });
    })
    $('#send_btn2').click(function () {
        dialog.confirm('护士确定?', function (index, layero) {
            var hisHospitalManageId = $("#hisHospitalManageId").val();
            $.ahsjajax(CTX + "/api/hisNursingAssessment/update.ahsj",
                {"hisHospitalManageId": hisHospitalManageId, "token": TOKEN},
                function (msg) {
                    if (msg.success) {
                        dialog.warn("护士"+msg.message)
                        swal.close();
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    } else {
                        M.toast({
                            html: msg.message, completeCallback: function () {
                            }
                        });
                    }
                },
                function (data) {
                    M.toast({
                        html: "网络异常", completeCallback: function () {
                        }
                    });
                }
            );
        });
    });

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>
</body>
</html>
