<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahsj.wis.dao.IntelligentMapper" >
  <resultMap id="BaseResultMap" type="com.ahsj.wis.entity.Intelligent" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="product_title" property="productTitle" jdbcType="VARCHAR" />
    <result column="product1" property="product1" jdbcType="VARCHAR" />
    <result column="product2" property="product2" jdbcType="VARCHAR" />
    <result column="product3" property="product3" jdbcType="VARCHAR" />
    <result column="certification_title" property="certificationTitle" jdbcType="VARCHAR" />
    <result column="certification" property="certification" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="product_content1" property="productContent1" jdbcType="VARCHAR" />
    <result column="product_content2" property="productContent2" jdbcType="VARCHAR" />
    <result column="product_content3" property="productContent3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, description, product_title, product1, product2, product3, certification_title, 
    certification, create_date, update_date, product_content1, product_content2, product_content3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from intelligent
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from intelligent
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ahsj.wis.entity.Intelligent" >
    insert into intelligent (id, title, description, 
      product_title, product1, product2, 
      product3, certification_title, certification, 
      create_date, update_date, product_content1, 
      product_content2, product_content3)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{productTitle,jdbcType=VARCHAR}, #{product1,jdbcType=VARCHAR}, #{product2,jdbcType=VARCHAR}, 
      #{product3,jdbcType=VARCHAR}, #{certificationTitle,jdbcType=VARCHAR}, #{certification,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{productContent1,jdbcType=VARCHAR}, 
      #{productContent2,jdbcType=VARCHAR}, #{productContent3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ahsj.wis.entity.Intelligent" >
    insert into intelligent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="productTitle != null" >
        product_title,
      </if>
      <if test="product1 != null" >
        product1,
      </if>
      <if test="product2 != null" >
        product2,
      </if>
      <if test="product3 != null" >
        product3,
      </if>
      <if test="certificationTitle != null" >
        certification_title,
      </if>
      <if test="certification != null" >
        certification,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="productContent1 != null" >
        product_content1,
      </if>
      <if test="productContent2 != null" >
        product_content2,
      </if>
      <if test="productContent3 != null" >
        product_content3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="productTitle != null" >
        #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="product1 != null" >
        #{product1,jdbcType=VARCHAR},
      </if>
      <if test="product2 != null" >
        #{product2,jdbcType=VARCHAR},
      </if>
      <if test="product3 != null" >
        #{product3,jdbcType=VARCHAR},
      </if>
      <if test="certificationTitle != null" >
        #{certificationTitle,jdbcType=VARCHAR},
      </if>
      <if test="certification != null" >
        #{certification,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productContent1 != null" >
        #{productContent1,jdbcType=VARCHAR},
      </if>
      <if test="productContent2 != null" >
        #{productContent2,jdbcType=VARCHAR},
      </if>
      <if test="productContent3 != null" >
        #{productContent3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahsj.wis.entity.Intelligent" >
    update intelligent
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="productTitle != null" >
        product_title = #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="product1 != null" >
        product1 = #{product1,jdbcType=VARCHAR},
      </if>
      <if test="product2 != null" >
        product2 = #{product2,jdbcType=VARCHAR},
      </if>
      <if test="product3 != null" >
        product3 = #{product3,jdbcType=VARCHAR},
      </if>
      <if test="certificationTitle != null" >
        certification_title = #{certificationTitle,jdbcType=VARCHAR},
      </if>
      <if test="certification != null" >
        certification = #{certification,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productContent1 != null" >
        product_content1 = #{productContent1,jdbcType=VARCHAR},
      </if>
      <if test="productContent2 != null" >
        product_content2 = #{productContent2,jdbcType=VARCHAR},
      </if>
      <if test="productContent3 != null" >
        product_content3 = #{productContent3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahsj.wis.entity.Intelligent" >
    update intelligent
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      product_title = #{productTitle,jdbcType=VARCHAR},
      product1 = #{product1,jdbcType=VARCHAR},
      product2 = #{product2,jdbcType=VARCHAR},
      product3 = #{product3,jdbcType=VARCHAR},
      certification_title = #{certificationTitle,jdbcType=VARCHAR},
      certification = #{certification,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      product_content1 = #{productContent1,jdbcType=VARCHAR},
      product_content2 = #{productContent2,jdbcType=VARCHAR},
      product_content3 = #{productContent3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.ahsj.wis.entity.Intelligent">
    select
    <include refid="Base_Column_List" />
    from intelligent
  </select>
</mapper>