<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">

<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy" style="height: 400px;">
            <div class="card-content">
                <h4 class="card-title">审核预约</h4><label style="color:black"></label>
                <form class="col s12" id="sendForm" action="#">
                    <input id="id" name="id" type="hidden" th:value="${bookDTO.id}"/>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="bookType"  type="text" readonly
                                   th:value="${bookDTO.bookTypeName}"
                                   data-error=".errorTxt1">
                            <label for="bookType">预约类型<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="startTime" name="startTime" readonly type="text" th:value="${#dates.format(bookDTO.startTime, 'yyyy-MM-dd HH:mm:ss')}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="startTime">预定开始时间<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="endTime" name="endTime" type="text" readonly th:value="${#dates.format(bookDTO.endTime, 'yyyy-MM-dd HH:mm:ss')}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="endTime">预定结束时间<span style="font-size: 12px"></span></label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="isCancel"  type="text" readonly
                                   th:value="${bookDTO.isCancelName}"
                                   data-error=".errorTxt1">
                            <label for="isCancel">是否取消<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="isPay"  type="text" readonly
                                   th:value="${bookDTO.isPayName}"
                                   data-error=".errorTxt1">
                            <label for="isPay">是否付费<span style="font-size: 12px"></span></label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="paymentAmount" name="paymentAmount" type="text" readonly
                                   th:value="${bookDTO.paymentAmount}"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="paymentAmount">收费金额<span style="font-size: 12px"></span></label>
                        </div>

                        <div class="input-field col s4 l4 xl4">
                            <input id="subscriberName" name="subscriberName" type="text" th:value="${bookDTO.subscriberName}" readonly
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="subscriberName">预约人姓名<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="phoneNumber" name="phoneNumber" type="text" th:value="${bookDTO.phoneNumber}" readonly
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="phoneNumber">预约人手机号<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s1 l1 xl1">
                            <select ahsj:select name="isAudit" type="code" id="is_audit" typeKey="is_audit" cssClass=""
                                    th:value="${bookDTO.isAudit}"
                            ></select>
                            <label for="is_audit">审核<span style="font-size: 12px"></span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="description" name="description" type="text"
                                   data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                            <label for="description">审核理由<span style="font-size: 12px"></span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="sumbit"
                                    name="action">提 交
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">
    $(function () {
        formCheck();
    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {
                number: {
                    required: true,
                },
                price: {
                    required: true,
                },
            },
            messages: {
                number: {
                    required: "请输入编号",
                },
                price: {
                    required: "请输入病房费用",
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero) {
                    var send_form = $('#sendForm').serialize();
                    $.ahsjajax(
                        CTX + "/api/book/update.index.ahsj?token=" + TOKEN,
                        send_form,
                        function (responseEntity) {
                            if (responseEntity.code>0) {
                                M.toast({html: responseEntity.message});
                                parent.grid.search();
                                dialog.parentclose();
                                return true;
                            } else {
                                M.toast({html: responseEntity.message});
                                return false;
                            }
                        },
                        function () {
                            Materialize.toast("网络异常");
                            return false;
                        }
                    );
                });
            }

        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>
</body>
</html>
