<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="public/base_list :: html"></div>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!-- Start Page Loading -->
<div class="row">

    <div class="col s12 x12 l12 xl12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div class="card-content">
                        <form id="searchForm" class="row" action="">
                            <div class="row">
                                <div class="col input-field s3 m3 l3">
                                    <input id="name" name="name" type="text"/>
                                    <label for="name">项目组合名称<span style="font-size: 12px">(Portfolio name
                                        )</span></label>
                                </div>
                            </div>
                           <input type="hidden" id="combinationId" name="combinationId">
                        </form>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2 xl2 offset-l1">
                            <a class="waves-effect waves-light btn" id="searchBtn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="搜索">search</i></a>
                            <a id="resetBtn" class="waves-effect waves-light btn"><i
                                    class="material-icons  white-text tooltipped " data-position="bottom"
                                    data-delay="50" data-tooltip="重置">youtube_searched_for</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s14 x14 l14 xl14">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">收费组合项目操作台
                            </h4><label style="color:black">Charge combination project console
                        </label>
                            <div class="row">
                            </div>
                            <!--Form Advance-->
                            <div class="row">
                                <div id="consumables_list" class="col l12 m12 l12 xl12">
                                    <table id="data-table-simple" class="display">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <di v class="col s8 x8 l8 xl8">
                <div class="card">
                    <div class="card-content">
                        <h4 class="card-title">收费组合项目详情信息<span id="rightCardTitle" class="blue-text"></span>
                        </h4><label style="color:black">Charge combination item details
                    </label>
                        <div class="row">
                            <div class="col s2 m2 l2 xl2 offset-xl10">
                                <a class='tooltipped' id="addBtn" data-delay="50" data-tooltip="添加"> <i
                                        class='material-icons'>add</i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div id="enter_medicine_list" class="col l12 m12 l12 xl12">
                                <table id="data-table-simple-enter">
                                </table>
                            </div>
                        </div>
                        <!--Form Advance-->
                    </div>
                </div>
        </div>

            </div>
        </div>

    </div>
</div>
</div>
<div th:replace="public/base_list_script :: html"></div>
<script type="text/javascript" th:src="@{/hiscore/assets/global/js/ahsj.selfdatatable.js}"></script>
<script type="text/javascript">
    var gridEnterList = new AHSJDT();
    var gridFor = new Datatable();
    var grid = new Datatable();
    $(document).ready(function () {
        initBtn();
        initTable();
        showProject();
    });
    function initTable() {
        //选择列表
        grid.init({
            src: $("#data-table-simple"),
            onSuccess: function (grid) {
            },
            onError: function (grid) {
            },
            onDataLoad: function (grid) {
                $("#data-table-simple > tbody > tr").click(function () {
                    var id = $("td:nth-child(1) > label > input[type='checkbox']", $(this)).attr("value");
                    var names = $("td:nth-child(2)", $(this)).html();
                    $("#rightCardTitle").html("(" + names + ")");
                    $("#combinationId").val(id);
                    gridFor.search();
                })
                $("#data-table-simple > tbody > tr")
            },
            loadingMessage: 'Loading...',
            dataTable: {
                "ajax": {
                    "url": CTX+"/api/hisPproject/combination/list.ahsj", // ajax source
                },
                "columns": [
                    {
                        "title": "<label><input type=\"checkbox\"  id=\"checkAll\" class=\"select-all\" > <span></span></label> ",
                        "render": function (data, type, row, meta) {
                            return " <label> <input type=\"checkbox\" value=\"" + row.id + "\"> <span></span> </label>";
                        },
                        "width": "18px",
                        "orderable": false,
                        "className": "centered"
                    },  {
                        "title": "序号",
                        "data": "ordernum",
                        "name": "ordernum"
                    },
                    {
                        "title": "组合名称",
                        "data": "name",
                        "name": "name"

                    },
                    {
                        "title": "组合简码",
                        "data": "number", //实体字段
                        "name": "number"   //库中字段
                    },
                ],
                "order" : [ [ 1, 'asc' ] ]
            }
        });
    }
    function showProject() {
        gridFor.init({
        src: $("#data-table-simple-enter"),
        onSuccess: function (gridFor) {
        },
        onError: function (gridFor) {
        },
        onDataLoad: function (gridFor) {
        },
        loadingMessage: 'Loading...',
        dataTable: {
            "ajax": {
                "url": CTX+"/api/hisPproject/combination/list/query.ahsj",
            },
            "columns": [
             {
                    "title": "组合名称",
                    "data": "combinationName", //实体字段
                    "name": "combination_name"   //库中字段
                },
                {
                    "title": "项目编码",
                    "data": "number",
                    "name": "number"
                }, {
                    "title": "项目序号",
                    "data": "hisProjectOrderNum",
                    "name": "his_project_order_num"
                }, {
                    "title": "项目名称",
                    "data": "name",
                    "name": "name"
                },
                {
                    "title": "项目类别",
                    "data": "assitTypeName",
                    "name": "type"
                },
                {
                    "title": "项目数量",
                    "data": "hisProjectNum",
                    "name": "his_project_num"
                },
                {
                    "title": "项目简码",
                    "data": "pinyinCode",
                    "name": "pinyin_code"
                }
            ],
            "order": [
                [1, 'asc']
            ],
        }
    });
    }
    function initBtn() {
        //搜索按钮
        $('#searchBtn').click(function () {
            grid.search();
            var name = $("#name").val();
            gridFor.reset();
            $("#name").val(name);
        });
        $('#resetBtn').click(function () {
            grid.reset();
            gridFor.reset();
            $("#rightCardTitle").html("");
        });
    }
    //添加
    $("#addBtn").click(
    function add() {
        var id = $("#combinationId").val();
        if (id != null && id != "" && id != undefined) {
        $.ahsjajax(
            CTX + "/api/treatmentplan/project/details.ahsj?token=" + TOKEN,
            {"combinationId":id},
            function (data) {
                parent.addRowsForProjectList(null,data);
                dialog.parentclose();
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );}
        else {
            dialog.warn("请选择需要添加的项目")
        }
    });

    $("input").change(function(){
        $(this).val($(this).val().trim());
    });

</script>
</body>
</html>

