<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">

<head>
    <style>

        body {
            font-size: 10px;
            line-height: 10px;
            padding: 0;
            margin: 0;
        }

        table tr td {
            padding: 0;
            margin: 0;
        }

        label {
            font-size: 10px;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<div th:replace="public/base_print :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">

<div class="row">
    <div class="row valign-wrapper" style="margin-top: 30px">
        <div class="col s12 m12 l12 center" style="margin: 0 auto;">
            <h4 style="text-align: center;padding: 0;margin: 0;font-size: 10px">中柬第一医院</h4>
            <p style="text-align: center;padding: 0;margin: 0;font-size: 10px">The first china-cambodia hospital</p>
        </div>
    </div>
    <div class="row valign-wrapper">
        <table style="border: none;margin: 0 auto;font-size: 10px;width: 95%;">
            <tr>
                <td colspan="2"><label>治疗诊疗单(Treatment list)</label></td>
            </tr>
            <tr>
                <td><label>就诊编号(Visit number)</label></td>
                <td><label><span id=numbers></span></label></td>
            </tr>
            <tr>
                <td>就诊人(Visiting person)</td>
                <td><label><span id="name"></span></label></td>
            </tr>
            <tr>
                <td>诊疗医生(Medical doctor)</td>
                <td><label><span id="doctorName"></span></label></td>
            </tr>
            <tr>
                <td>创建时间(Creation time)</td>
                <td><label><span id="date"></span></label></td>
            </tr>
            <tr>
                <td colspan="2"><label class="fontsize01">门诊诊断(Outpatient diagnosis)</label></td>
            </tr>
            <tr>
                <td>现病史(Current medical history)</td>
                <td><label><span id="nowCondition"></span></label></td>
            </tr>
            <tr>
                <td>既往史(Past history)</td>
                <td><label><span id="hiscondition"></span></label></td>
            </tr>
            <tr>
                <td>主诉(Chief complaint)</td>
                <td><label><span id="chiefcomplaint"></span></label></td>
            </tr>
            <tr>
                <td>个人史(Personal history)</td>
                <td><label><span id="personalHistory"></span></label></td>
            </tr>
            <tr>
                <td>过敏史(allergies)</td>
                <td><label><span id="allergies"></span></label></td>
            </tr>
            <tr>
                <td>家族史(Family history)</td>
                <td><label><span id="familyHistory"></span></label></td>
            </tr>
            <tr>
                <td>其他诊断(Other diagnosis)</td>
                <td><label><span id="other"></span></label></td>
            </tr>
            <tr>
                <td>血压(blood pressure)</td>
                <td><label><span id="bloodPressure"></span></label></td>
            </tr>
            <tr>
                <td>体温(body temperature)</td>
                <td><label><span id="bodyTemperature"></span></label></td>
            </tr>
            <tr>
                <td>体重(weight)</td>
                <td><label><span id="bodyWeight"></span></label></td>
            </tr>
            <tr>
                <td>心率(Heart rate)</td>
                <td><label><span id="heartRate"></span></label></td>
            </tr>
            <tr>
                <td colspan="2"><label>药物治疗方案(Drug treatment plan)</label></td>
            </tr>
        </table>
    </div>

    <div class="row valign-wrapper">
        <table id="drug" style="border: none;margin: 0 auto;font-size: 10px"></table>
    </div>
    <input type="hidden" id="number" name="id" th:value="${number}">
    <div class="row valign-wrapper">
        <div class="col s12 m12 l12 center" id="tableP">
            <p style="text-align: center;font-size: 10px;margin: 0;padding: 0">诊疗项目方案(Medical treatment plan)</p>
        </div>

    </div>
    <div class="row valign-wrapper">
        <table id="project" style="border: none;margin: 0 auto;font-size: 10px"></table>
    </div>
</div>

<div th:replace="public/base_print_script :: html"></div>

<script th:inline="javascript">
    $(document).ready(function () {
        printShow();
        printShow1();
        printShow2();
        printShow3();
    });
    var number = $("#number").val();

    function printShow2() {
        $.ahsjajax(
            CTX + "/api/hismedicalrecord/selectPrint1.ahsj",
            {"number": number},
            function (data) {
                $("#numbers").html(data.medicalRecordId);
                $("#date").html(data.createDate);
                $("#name").html(data.name);
                $("#doctorName").html(data.doctorName);
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }

    function printShow() {
        $.ahsjajax(
            CTX + "/api/medicationDetails/selectPrint.ahsj",
            {"number": number},
            function (data) {
                var jsons = data[0];
                if (!isNullOrEmpty(jsons)) {//有
                    var trs = "<tr><td><label>名称(name)</label></td><td><label>规格(drugsSpec)</label></td><td><label>用法用量(usage and dosage)</label></td><td><label>数目(number)</label></td><!--<td type=\"hidden\"><label>单价(price)</label></td><td type=\"hidden\"><label>单项总价(Single item total price)</label></td>--></tr>";
                    $.each(data, function (index, item) {
                        if (isNullOrEmpty(item.name)) {
                            item.name = ""
                        }
                        if (isNullOrEmpty(item.tranName)) {
                            item.tranName = ""
                        }
                        if (isNullOrEmpty(item.drugsSpec)) {
                            item.drugsSpec = ""
                        }
                        if (isNullOrEmpty(item.tdrugsSpec)) {
                            item.tdrugsSpec = ""
                        }
                        if (isNullOrEmpty(item.tdescription)) {
                            item.tdescription = ""
                        }
                        if (isNullOrEmpty(item.description)) {
                            item.description = ""
                        }
                        trs += "<tr><td><p> " + item.drugsName + "(" + item.tdrugsName + ")" + "</p></td><td ><p>" + item.drugsSpec + "(" + item.tdrugsSpec + ")" + "</p></td><td ><p> " + item.description + "(" + item.tdescription + ")" + "</p></td><td ><p> " + item.count + "</p></td></tr >";
                    });
                    $("#drug").append(trs);
                } else {
                    $("#tabledrug").attr("style", "display:none;");
                }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }

    function printShow1() {
        $.ahsjajax(
            CTX + "/api/hisProject/selectPrint.ahsj",
            {"number": number},
            function (data) {
                var jsons = data[0];
                if (!isNullOrEmpty(jsons)) {//有
                    var trs = "<tr><td>名称(name)</td><td>数目(number)</td></tr>";
                    $.each(data, function (index, item) {
                        if (isNullOrEmpty(item.name)) {
                            item.name = ""
                        }
                        if (isNullOrEmpty(item.tname)) {
                            item.tname = ""
                        }

                        trs += "<tr><td><p> " + item.name + "(" + item.tname + ")" + "</p></td><td ><p> " + item.num + "</p></td></tr >";
                    });
                    $("#project").append(trs);
                } else {
                    $("#tableP").attr("style", "display:none;");
                }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }

    function printShow3() {
        $.ahsjajax(
            CTX + "/api/hismedicalrecord/print.ahsj",
            {"number": number},
            function (data) {
                console.log(data)
                /* if (data.thiscondition == null) {
                     data.thiscondition=""
                 }*/
                if (data.hiscondition != null && data.hiscondition != "" && data.hiscondition != undefined) {
                    $("#hiscondition").html(data.hiscondition);
                }
                /*if (data.tnowCondition == null) {
                    data.tnowCondition=""
                }*/
                if (data.nowCondition != null && data.nowCondition != "" && data.nowCondition != undefined) {

                    $("#nowCondition").html(data.nowCondition);
                }
                /* if (data.tchiefcomplaint ==null) {
                     data.tchiefcomplaint=""
                 }*/
                if (data.chiefcomplaint != null && data.chiefcomplaint != "" && data.chiefcomplaint != undefined) {
                    $("#chiefcomplaint").html(data.chiefcomplaint);
                }
                /* if (data.tpersonalHistory == null) {
                     data.tpersonalHistory=""
                 }*/
                if (data.personalHistory != null && data.personalHistory != "" && data.personalHistory != undefined) {
                    $("#personalHistory").html(data.personalHistory);
                }
                /* if (data.tallergies == null) {
                     data.tallergies=""
                 }*/
                if (data.allergies != null && data.allergies != "" && data.allergies != undefined) {

                    $("#allergies").html(data.allergies);
                }
                /* if (data.tfamilyHistory ==null) {
                     data.tfamilyHistory=""
                 }*/
                if (data.familyHistory != null && data.familyHistory != "" && data.familyHistory != undefined) {

                    $("#familyHistory").html(data.familyHistory);
                }
                /*   if (data.tother ==null  &&data.tother!=""&&data.tother!=undefined) {
                       data.tother=""
                   }*/
                if (data.other != null && data.other != "" && data.other != undefined) {

                    $("#other").html(data.other);
                }
                if (data.bloodPressure != null && data.bloodPressure != "" && data.bloodPressure != undefined) {
                    $("#bloodPressure").html(data.bloodPressure + " mmhg");
                }
                if (data.bodyTemperature != null && data.bodyTemperature != "" && data.bodyTemperature != undefined) {
                    $("#bodyTemperature").html(data.bodyTemperature + " ℃");
                }
                if (data.bodyWeight != null && data.bodyWeight != "" && data.bodyWeight != undefined) {
                    $("#bodyWeight").html(data.bodyWeight + " KG");
                }
                if (data.heartRate != null && data.heartRate != "" && data.heartRate != undefined) {
                    $("#heartRate").html(data.heartRate + " bmp");
                }
            },
            function () {
                M.toast({html: "网络异常"});
                return false;
            }
        );
    }

    function doOk() {
        $('body  div div.row.valign-wrapper').printThis({
            importCSS: false,
            debug: false,
            afterPrint: function () {
                dialog.confirm('确定打印?', function (index, layero) {
                    parent.parent.grid.search();
                    dialog.parentclose();
                });
            }
        });
    }

    $("input").change(function () {
        $(this).val($(this).val().trim());
    });
</script>


</body>

</html>