<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:ahsj="http://www.anhuishangjue.com">


<div th:replace="public/base_update :: html"></div>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns  "
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">
<!-- Form with validation -->
<div class="row">
    <div class="col s12 m12 l12">
        <div id="validation" class="card card card-default scrollspy">
            <div class="card-content">
                <h4 class="card-title">住院病历修改</h4><label style="color:black">Revision of inpatient medical records
            </label>
                <form class="col s12" id="sendForm" action="#">
                    <input type="hidden" id="id" name="id" th:value="${hisMedical.id}" >
                    <input type="hidden" id="recordId" name="recordId" th:value="${hisMedical.recordId}" >
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="patientName" name="patientName" type="text" th:value="${hisMedical.patientName}"
                                   th:readonly="true"/>
                            <label for="patientName">病人姓名<span style="font-size: 12px">(Patient name
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="patientIdcard" name="patientIdcard" type="text" th:value="${hisMedical.patientIdcard}"
                                  th:readonly="true"/>
                            <label for="patientIdcard">身份证号<span style="font-size: 12px">(id card)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="patientAge" name="patientAge" type="number" th:value="${hisMedical.patientAge}"
                                   th:readonly="true"/>
                            <label for="patientAge">年龄<span style="font-size: 12px">(age)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="noSetDate" name="noSetDate" class="datepicker"
                                   th:placeholder="${#dates.format(hisMedical.noSetDate, 'yyyy/MM/dd')}"
                                   th:value="${#dates.format(hisMedical.noSetDate, 'yyyy/MM/dd')}" />
                            <label for="noSetDate">发病时间<span style="font-size: 12px">(Onset time)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="bloodPressure" name="bloodPressure" type="text" th:value="${hisMedical.bloodPressure}" />
                            <label for="bloodPressure">血压<span style="font-size: 12px">(blood pressure
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="nowCondition" name="nowCondition" type="text" th:value="${hisMedical.nowCondition}" />
                            <label for="nowCondition">现病史<span style="font-size: 12px">(History of Present Illness)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="hiscondition" name="hiscondition" type="text" th:value="${hisMedical.hiscondition}" />
                            <label for="hiscondition">既往史<span style="font-size: 12px">(
Past history
)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 l4 xl4">
                            <input id="chiefcomplaint" name="chiefcomplaint" type="text" th:value="${hisMedical.chiefcomplaint}" />
                            <label for="chiefcomplaint">主诉<span style="font-size: 12px">(Chief complaint
)</span></label>
                        </div>
                        <div class="input-field col s4 l4 xl4">
                            <input id="remarks" name="remarks" type="text" th:value="${hisMedical.remarks}" />
                            <label for="remarks">备注<span style="font-size: 12px">(Remarks
)</span></label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <button id="send_btn" class="btn cyan waves-effect waves-light right" type="submit"
                                    name="action">提 交（submit ）
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ================================================
Scripts
================================================ -->
<div th:replace="public/base_update_script :: html"></div>
<script th:inline="javascript">


    $(function () {
        formCheck();

    });

    function formCheck() {
        $("#sendForm").validate({
            rules: {



            },
            messages: {


            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                dialog.confirm('确定提交吗?', function (index, layero){
                    var queryString = $('#sendForm').serialize();
                    console.log("queryString is" + queryString);

                    $.ahsjajax(
                        CTX + "/api/hismedical/saveOrUpdate.ahsj?token=" + TOKEN,
                        queryString,
                        function (msg) {
                            if (msg.success) {
                                M.toast({html: msg.message});
                                parent.grid.search();
                                dialog.parentclose();
                                return false;
                            } else {
                                M.toast({html: msg.message});
                                return false;
                            }
                        },
                        function () {
                            M.toast({html: "网络异常"});
                            return false;
                        }
                    );});
            }

        });
    }



    $("input").change(function(){
        $(this).val($(this).val().trim());
    });
</script>

</body>

</html>
