<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="安徽商角软件科技有限公司技术支持，联系电话18555338533">
    <meta name="keywords" content="">
    <script th:inline="javascript">
        var TOKEN = [[${token}]];
        var CTX = "/hiscore";
    </script>
    <!--禁用右键调试-->
    <script>
        function stop() {
            return false;
        }
        document.oncontextmenu = stop;
    </script>

    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script th:src="@{/hiscore/assets/app-assets/js/vendors.min.js}" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script th:src="@{/hiscore/assets/app-assets/vendors/fullcalendar/lib/jquery-ui.min.js}"></script>
    <script th:src="@{/hiscore/assets/app-assets/vendors/fullcalendar/lib/moment.min.js}"></script>
    <script th:src="@{/hiscore/assets/app-assets/vendors/fullcalendar/js/fullcalendar.min.js}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script th:src="@{/hiscore/assets/app-assets/js/plugins.js}" type="text/javascript"></script>
    <script th:src="@{/hiscore/assets/app-assets/js/custom/custom-script.js}" type="text/javascript"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!--<script th:src="@{/hiscore/assets/app-assets/js/scripts/app-calendar.js}" type="text/javascript"></script>-->
    <!-- END PAGE LEVEL JS-->

    <!-- BEGIN sweetalert  JS-->
    <script th:src="@{/hiscore/assets/app-assets/vendors/sweetalert/sweetalert.min.js}"></script>
    <!-- END sweetalert  JS-->
    <script type="text/javascript" th:src="@{/hiscore/assets/global/js/ahsj.sweetlayer.js}"></script>
    <script type="text/javascript" th:src="@{/hiscore/assets/global/js/anhuishangjue.ajax.js}"></script>


    <script type="text/javascript" th:src="@{/hiscore/assets/global/js/keyup.js}"></script>
</head>