<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="public/base_layout :: html"></div>
    <link th:href="@{/hiscore/assets/global/js/plugins/jquery-multi-select/css/multi-select.css}" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" type="text/css" th:href="@{/hiscore/assets/app-assets/vendors/materialize-stepper/materialize-stepper.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/hiscore/assets/app-assets/css/pages/form-wizard.css}">

    <link  type="text/css" rel="stylesheet" th:href="@{/hiscore/assets/app-assets/css/skin/jedate.css}">
    <link  type="text/css" rel="stylesheet" th:href="@{/hiscore/assets/app-assets/css/card.css}">
</head>

