<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="public/base_layout :: html"></div>
    <link rel="stylesheet" type="text/css"
          th:href="@{/hiscore/assets/app-assets/vendors/data-tables/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/hiscore/assets/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/hiscore/assets/app-assets/vendors/data-tables/css/select.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/hiscore/assets/app-assets/css/pages/data-tables.css}">

    <link  type="text/css" rel="stylesheet" th:href="@{/hiscore/assets/app-assets/css/skin/jedate.css}">

    <link  type="text/css" rel="stylesheet" th:href="@{/hiscore/assets/app-assets/css/dropify.min.css}">
    <link  type="text/css" rel="stylesheet" th:href="@{/hiscore/assets/app-assets/css/card.css}">
</html>


