<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN: Footer-->

<footer class="page-footer footer footer-static footer-dark gradient-45deg-purple-deep-orange gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span>&copy; 2019          <a
                href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">安徽商角软件科技有限公司</a> 产权所有</span><span
                class="right hide-on-small-only">技术支持 <a href="http://www.anhuishangjue.com/">安徽商角软件科技有限公司</a></span>
        </div>
    </div>
</footer>
